<template>
  <text-block class="full-height">
    <referrals />
  </text-block>
</template>

<script>
import referrals from 'components/tables/referrals'
import textBlock from 'components/ui/text-block'

export default {
  components: {
    referrals,
    textBlock
  }
}
</script>
