<template>
  <GenericDropdown
    :selectedOption="selectedStatus"
    v-on:input="$emit('update:selectedStatus', $event)"
    placeholder="Select status"
    label="Applicant status"
    :options="statusList"
    :optionDisplayProperties="statusTitles"
  />
</template>

<script>
import GenericDropdown from 'components/ui/generic-dropdown'
import { statusTitles, statusList } from 'shared/ApplicantStatus.js'

export default {
  name: 'applicant-status-dropdown',
  components: {
    GenericDropdown
  },
  props: {
    selectedStatus: String
  },
  data: () => ({
    statusTitles,
    statusList
  })
}
</script>
