<template>
  <q-dialog
    class="modal"
    v-model="popupShown"
  >
    <span slot="title">Add new Soft Skill</span>
    <div slot="body">
      <text-field
        float-label="Title"
        v-model="skillData.title"
        :error="$v.skillData.title.$error"
        error-label="This field is required"
      />
      <text-field
        float-label="Description"
        v-model="skillData.description"
        :error="$v.skillData.description.$error"
        error-label="This field is required"
      />
      <q-field
        :error="$v.skillData.categories.$error"
        error-label="This field is required"
      >
        <categories-input
          v-model="skillData.categories"
          show-label
        />
      </q-field>
      <q-field
        float-label="Status"
        :error="$v.skillData.status.$error"
        error-label="This field is required"
      >
        <status-input
          v-model="skillData.status"
          show-label
        />
      </q-field>
    </div>
    <template slot="buttons" slot-scope="props">
      <PrimaryBtn
        class="Btn"
        title="Save"
        @click="submitForm(save.bind(this))"
        :padding="{ bottom: true }"
        dark
        inlined
      />
      <SecondaryBtn
        class="Btn"
        title="Cancel"
        @click="props.cancel"
        :padding="{ bottom: true }"
        inlined
      />
    </template>
  </q-dialog>
</template>

<style lang="stylus" scoped>
  .modal
    font-family 'IBM Plex Sans', 'Roboto', sans-serif
    >>> .modal-content
      min-width 30vw
      max-width 50vw
      padding 0 20px
    >>> .modal-scroll
      max-height initial
    >>> .modal-buttons
      flex-direction row
      justify-content center
      padding-top 0
      .Btn
        flex 1
        width 90%
        max-width 200px
        text-align center

</style>

<script>
import { PrimaryBtn, SecondaryBtn } from 'components/ui/buttons'
import textField from 'components/ui/form-fields/text-field'
import categoriesInput from './input/categories-input'
import statusInput from './input/status-input'
import skillFormMixin from './input/soft-skill-form-mixin'

export default {
  name: 'add-skill-popup',
  mixins: [
    skillFormMixin
  ],
  components: {
    categoriesInput,
    statusInput,
    PrimaryBtn,
    SecondaryBtn,
    textField
  },
  created () {
    this.skillData = {}
  },
  computed: {
    popupShown: {
      get () {
        return true
      },
      set (val) {
        if (!val) {
          this.$emit('close', false)
        }
      }
    }
  },
  methods: {
    save () {
      this.$emit('save', this.skillData)
    }
  }
}
</script>
