<template>
  <Fragment>
    <q-td key="title" class="title-col" auto-width>
      <q-input
        v-if="editing"
        v-model="skillData.title"
        :error="$v.skillData.title.$error"
      />
      <span v-else class="title" v-html="highlightText(skillData.title, searchTerm)"></span>
    </q-td>
    <q-td key="description" width="15%" class="description-col">
      <q-input
        v-if="editing"
        v-model="skillData.description"
        :error="$v.skillData.description.$error"
      />
      <span v-else class="description" v-html="highlightText(skillData.description, searchTerm)"></span>
    </q-td>
    <q-td key="categories" auto-width>
      <categories-input
        v-model="skillData.categories"
        :error="$v.skillData.categories.$error"
        :readonly="!editing"
      />
    </q-td>
    <q-td key="status" auto-width>
      <status-input
        v-model="skillData.status"
        :error="$v.skillData.status.$error"
        :readonly="!editing"
      />
    </q-td>
    <q-td key="actions" auto-width>
      <div class="action-btns">
        <template v-if="!editing">
          <q-btn
            color="primary"
            size="sm"
            label="Edit"
            @click="toggleEdit"
          />
          <q-btn
            round
            color="primary"
            size="sm"
            icon="delete"
            @click="remove"
          />
        </template>
        <template v-else>
          <q-btn
            color="positive"
            size="sm"
            label="Save"
            @click="submitForm(update.bind(this))"
          />
          <q-btn
            color="primary"
            size="sm"
            label="Cancel"
            @click="toggleEdit"
        />
        </template>
      </div>
    </q-td>
  </Fragment>
</template>

<style lang="stylus" scoped>

  .description-col,
  .title-col
    width auto
  .description,
  .title-col
    white-space normal
    width 1%
  .action-btns
    display flex
    width 100%
    align-items center
    justify-content space-around
    .q-btn
      margin 0 2px

@media screen and (min-width 1400px)
  .description-col
    width 40%
</style>

<script>

import { Fragment } from 'vue-fragment'

import highlight from 'components/tables/highlight'
import skillFormMixin from './input/soft-skill-form-mixin'
import categoriesInput from './input/categories-input'
import statusInput from './input/status-input'

export default {
  name: 'skill-row',
  mixins: [
    highlight,
    skillFormMixin
  ],
  components: {
    Fragment,
    categoriesInput,
    statusInput
  },
  props: {
    searchTerm: {
      type: String,
      default: ''
    },
    originalSkillData: Object
  },
  data () {
    return {
      editing: false
    }
  },
  created () {
    this.initSkillData()
  },
  methods: {
    initSkillData () {
      this.skillData = { ...this.originalSkillData }
    },
    changesMade (newData, oldData) {
      const keysChanged = Object.keys(newData)
        .filter(k => newData[k] !== oldData[k])
      return keysChanged.reduce((acc, key) => {
        acc[key] = newData[key]
        return acc
      }, {})
    },
    toggleEdit () {
      this.editing = !this.editing
      this.initSkillData()
    },
    remove () {
      this.$emit('remove')
    },
    update () {
      const changes = this.changesMade(this.skillData, this.originalSkillData)
      this.$emit('update', {
        changes,
        completed: () => { this.editing = false }
      })
    }
  }
}
</script>
