<template>
  <table-page>
    <search-header @search="search" placeholder="Search Soft Skills..." align-left>
      <PrimaryBtn
        v-if="$accessControl.userAllowedTo('createArticles')"
        icon="add"
        class="btn-add"
        @click="openSkillEditForm"
        title="Add new Soft Skill"
        dark
      />
    </search-header>
    <life-skills-list
      :searchTerm="searchTerm"
    />
    <add-skill-popup-container
      v-if="addSkillPopupShown"
      @close="addSkillPopupShown=false"
    />
  </table-page>
</template>

<script>

import tablePage from 'components/pages/table-page'
import searchHeader from 'components/search/search-header'
import lifeSkillsList from 'containers/tools/life-skills/manage/life-skills-list'
import addSkillPopupContainer from 'containers/tools/life-skills/manage/add-skill-popup-container'
import { PrimaryBtn } from 'components/ui/buttons'

export default {
  components: {
    tablePage,
    searchHeader,
    lifeSkillsList,
    addSkillPopupContainer,
    PrimaryBtn
  },
  data () {
    return {
      searchTerm: '',
      addSkillPopupShown: false
    }
  },
  methods: {
    search (term) {
      this.searchTerm = term
    },
    openSkillEditForm () {
      this.addSkillPopupShown = true
    }
  }
}
</script>
