<template>
  <div class="container">
    <grid-selector
      @toggle="toggle"
      @toggleall="toggleall"
      :data="priorities"
    />
    <error-label v-if="error">Please select at least one segment</error-label>
  </div>
</template>

<style lang="stylus" scoped>
.container
  width 100%
</style>

<script>
import { mapGetters } from 'vuex'
import { PRIORITY_UIDS, ALL as AREAS_OF_LIFE, UIDS as AREAS_OF_LIFE_UIDS } from 'store/tools/areas-of-life/getter.types'

import gridSelector from 'components/ui/grid-select/grid-selector'
import errorLabel from 'components/ui/error-label'

export default {
  components: {
    gridSelector,
    errorLabel
  },
  props: {
    uid: String,
    error: Boolean
  },
  created () {
    this.$firebase.editor.priorities.get(
      this.uid,
      priorities => {
        this.selected = priorities
      },
      this.isBlog
    )
  },
  data: () => ({
    selected: {}
  }),
  computed: {
    ...mapGetters({
      priorityUids: PRIORITY_UIDS,
      areasOfLife: AREAS_OF_LIFE,
      areasUids: AREAS_OF_LIFE_UIDS
    }),
    priorities () {
      const data = this.areasUids.map(
        auid => ({
          uid: auid,
          title: this.areasOfLife[auid].title,
          items: this.priorityUids(auid).map(
            puid => ({
              guid: auid, // Group UID
              uid: puid, // Priority UID
              title: this.areasOfLife[auid].priorities[puid].title,
              selected: (this.selected[auid] && this.selected[auid][puid]) || false
            })
          )
        })
      )
      return data
    }
  },
  methods: {
    toggle ({ guid: auid, uid: puid }) {
      this.selected = {
        ...this.selected,
        [auid]: {
          ...this.selected[auid],
          [puid]: !(this.selected[auid] && this.selected[auid][puid])
        }
      }
      this.push()
    },
    setToggle (priority, to) {
      const priorities = this.priorityUids(priority).reduce(
        (obj, priority) => ({
          ...obj,
          [priority]: to
        }),
        {}
      )
      this.selected = {
        ...this.selected,
        [priority]: priorities
      }
    },
    toggleall ({ guid: auid, to }) {
      this.setToggle(auid, to)
      this.push()
    },
    push () {
      this.$emit('input', this.selected)
    }
  }
}
</script>
