<template>
  <div class="content">
    <slot/>
  </div>
</template>

<style scoped lang="stylus">
.content
  background white
  border-radius 15px
  width 90%
  max-width 485px
  display flex
  flex-direction column
  align-items center
  margin 0 auto
  padding 36px
</style>
