<template>
  <div class="field-container">
    <featured-title
      title="Content focus"
    />
    <q-radio class="ToggleBtn" v-model="localTypeModel" :val="ArticleFocus.Skill" label="Soft Skill" />
    <q-radio v-model="localTypeModel" :val="ArticleFocus.Quality" label="Quality" />
  </div>
</template>

<style lang="stylus">
  .ToggleBtn
    margin-right 20px
</style>

<script>
import featuredTitle from 'components/featured-title'
import ArticleFocus from 'shared/ArticleFocus'

export default {
  components: {
    featuredTitle
  },
  props: {
    focus: String,
    articleDataReady: Boolean
  },
  data () {
    return {
      localType: null,
      ArticleFocus
    }
  },
  computed: {
    localTypeModel: {
      get () {
        if (!this.articleDataReady) {
          return null
        }
        return !this.localType ? ArticleFocus.Skill : this.localType
      },
      set (val) {
        this.localType = val
        this.$emit('updated', val)
      }
    }
  },
  watch: {
    focus: {
      handler (val) {
        this.localType = val
      },
      immediate: true
    }
  }
}
</script>
