<template>
  <div class="ArticlePreviewLink">
    <ArticleLink
      :id="id"
      v-if="$accessControl.user.isContentAdmin"
      text="Link to article preview"
      external
    />
  </div>
</template>

<style lang="stylus">
.ArticlePreviewLink
  display flex
  flex-direction column
  > a
    padding-bottom 8px
</style>

<script>
import { articleLink as ArticleLink } from 'components/ui/links'

export default {
  props: {
    id: {
      type: String,
      required: true
    }
  },
  components: {
    ArticleLink
  }
}
</script>
