<template>
  <div>
    <div class="row">
      <div class="icon-container">
        <div class="icon-skew">
          <div class="icon-background" />
        </div>
        <q-icon class="icon"
          name="library_books"
          color="white" />
      </div>
      <div class="link-container">
        <link-to
          class="link"
          text="Content Style Guidelines"
          url="/style-guide"
          :icon="false"
          :underline="true" />
        <p class="link-description">Please read our guidelines before writing QDooz content.</p>
      </div>
    </div>
    <div class="separator"></div>
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
.link-container
  display flex
  flex-direction column
  justify-content center
  margin-left 16px

.separator
  border-bottom 1px solid #9a9a9a
  margin-top 16px
  width 350px

.link-description
  font-size 12px
  margin-bottom 0
  margin-top 4px

.link
  font-size 20px
.icon-container
  position relative
  margin 0 24px 20px -5px
  .icon-skew
    transform scale(0.9,1)
    .icon-background
      position relative
      background $positive
      width 40px
      height 40px
      border-top-right-radius 20%
      transform rotate(-90deg) skewX(-30deg) scale(1,.866)
      &:before,
      &:after
        content ''
        position absolute
        background-color inherit
      &:before,
      &:after
        width 40px
        height 40px
        border-top-right-radius 20%
      &:before
        transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%)
      &:after
        transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%)
  .icon
    font-size 26px
    position absolute
    top 17px
    left 12px
</style>

<script>
import linkTo from 'components/ui/link'
export default {
  components: {
    linkTo
  }
}
</script>
