<template>
  <user-table :config="config" :users="users" :search-term="searchTerm" :loading="loading" />
</template>

<script>
import userTable from 'components/tables/users'
import { date } from 'quasar'

export default {
  components: {
    userTable
  },
  props: {
    searchTerm: {
      type: String,
      default: ''
    }
  },
  data: () => {
    return {
      users: [],
      loading: true,
      config: {
        enabledColumns: [
          'name',
          'email',
          'photoURL',
          'last_login',
          'optOutOfEmails'
        ],
        filterColumns: [
          'name',
          'email'
        ]
      }
    }
  },
  async created () {
    this.loadContentProviders()
  },
  methods: {
    firebaseDateToString (lastSignInTime) {
      if (!lastSignInTime) {
        return null
      }
      const timestamp = (lastSignInTime.toMillis && lastSignInTime.toMillis()) || lastSignInTime
      return date.formatDate(timestamp, 'DD / MM / YYYY (HH:mm)')
    },
    async loadContentProviders () {
      this.$firebase.authorApplicants.authors.on('value', snapshot => {
        this.users = []
        snapshot.forEach(childSnapshot => {
          const { meta, profile, ...authorData } = childSnapshot.val()
          const validProfile = profile.displayName && authorData.email
          const shouldOptOutOfEmails = (meta && meta.privacySettings && meta.privacySettings.optOutOfEmails)

          if (validProfile) {
            this.users.push({
              uid: authorData.defaultUser,
              photoURL: profile.avatar && profile.avatar.fileUrl,
              displayName: profile.displayName,
              email: authorData.email,
              optOutOfEmails: (shouldOptOutOfEmails ? '' : !shouldOptOutOfEmails),
              metadata: {
                lastSignInTime: this.firebaseDateToString(authorData.lastSignInTime)
              }
            })
          }
        })
        this.$emit('data-loaded', this.users.sort((a, b) => a.displayName.localeCompare(b.displayName)))
      })
      this.loading = false
    }
  }
}
</script>
