<template>
  <div>
    <container>
      <text-field
        type="email"
        v-model="form.email"
        @enter="resetPassword"
        float-label="Email address"
        :error="$v.form.email.$error"
        error-label="Please type a valid email"
        autofocus
      />
      <SecondaryBtn
        title="Reset password"
        @click="resetPassword"
        class="Btn"
        inlinedContainer
        :padding="{
          top: true
        }"
      />
    </container>
  </div>
</template>

<style scoped lang="stylus">
.Btn
  width 60%
</style>

<script>
import { required, email } from 'vuelidate/lib/validators'
import { SecondaryBtn } from 'components/ui/buttons'
import container from 'components/pages/auth/container'
import textField from 'components/ui/form-fields/text-field'

export default {
  name: 'login-page',
  components: {
    container,
    SecondaryBtn,
    textField
  },
  data () {
    return {
      form: {
        email: null
      }
    }
  },
  validations: {
    form: {
      email: { required, email }
    }
  },
  methods: {
    async resetPassword () {
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        try {
          await this.$firebase.auth.sendPasswordResetEmail(this.form.email)
          try {
            await this.$q.dialog({
              title: 'Success',
              message: 'Recovery email sent successfully!'
            })
          } finally {
            this.$router.replace({name: 'login'})
          }
        } catch (err) {
          await this.$q.dialog({
            title: 'Error',
            message: err.message || err
          })
        }
      }
    }
  }
}
</script>
