<template>
  <div>
    <container data-test-id="sign-in-container">
      <text-field
        type="email"
        v-model="form.email"
        @enter="$refs.passwordInput.focus()"
        float-label="Email address"
        :error="$v.form.email.$error"
        error-label="Please type a valid email"
        autofocus
      />
      <text-field
        ref="passwordInput"
        v-model="form.password"
        @enter="login"
        float-label="Password"
        type="password"
        :error="$v.form.password.$error"
        error-label="Please enter your password"
      />
      <router-link
        class="link-text self-end"
        :to="{ name: 'forgot-password' }">
        Forgot password
      </router-link>
      <SecondaryBtn
        data-test-id="sign-in-btn"
        class="Btn"
        title="Sign in"
        @click="login"
        inlinedContainer
        :padding="{
          top: true,
          bottom: true
        }"
      />
      <p class="subtitle">Or need an account?</p>
      <PrimaryBtn
        data-test-id="create-account-btn"
        class="Btn"
        title="Create an account"
        inlinedContainer
        @click="$router.push('/signup/')"
        dark
      />
    </container>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/auth'

import { required, email } from 'vuelidate/lib/validators'
import { PrimaryBtn, SecondaryBtn } from 'components/ui/buttons'
import container from 'components/pages/auth/container'
import textField from 'components/ui/form-fields/text-field'
import Roles from 'shared/access-control/UserRole.js'
import Permissions from 'shared/access-control/Permission.js'
import authMixin from './auth-mixin'

export default {
  name: 'login-page',
  mixins: [authMixin],
  components: {
    container,
    textField,
    PrimaryBtn,
    SecondaryBtn
  },
  data () {
    return {
      form: {
        email: null,
        password: null
      }
    }
  },
  validations: {
    form: {
      email: { required, email },
      password: { required }
    }
  },
  methods: {
    login () {
      let $this = this
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        this.$q.loading.show()
        firebase.auth().signInWithEmailAndPassword(this.form.email, this.form.password)
          .then(async (credential) => {
            let uid = credential.user.uid
            const isContentProvider = await $this.$accessControl.fetchRolesAndCheckIfUserHasARole(Roles.ContentProvider)
            this.$firebase.authorApplicants.logSignInTime(uid)
            if (isContentProvider) {
              let profileCompleted = await this.$firebase.users.userAuthorProfileCompleted(uid)
              let contentAdded = await this.$firebase.content.doesUserHaveAnyArticles(uid)
              if (!profileCompleted || !contentAdded) {
                return $this.$router.push('/getting-started')
              }
            }
            const hasPortalAccess = await $this.$accessControl.fetchRolesAndCheckIfUserAllowedTo(Permissions.AccessPortal)
            !hasPortalAccess ? $this.signUp(credential.user) : $this.$router.push('/')
          }).catch(error => {
            let errorMessage = error.message ? error.message : error
            $this.$q.dialog({
              title: 'Error',
              message: errorMessage
            })
          }).finally(() => {
            this.$q.loading.hide()
          })
      }
    }
  }
}
</script>

<style scoped lang="stylus">
.subtitle
  margin-top 6px
  color dimgrey

.link-text
  margin-top -8px

.Btn
  width 60%
</style>
