<template>
  <div>
    <container>
      <text-field
        v-model="form.name"
        float-label="Name"
        type="text"
        @input="$v.form.name.$touch()"
        :error="$v.form.name.$error"
        error-label="Please your name"
        @enter="$refs.emailInput.focus()"
        autofocus
      />
      <text-field
        ref="emailInput"
        float-label="Email address"
        v-model="form.email"
        @enter="$refs.passwordInput.focus()"
        @input="$v.form.email.$touch()"
        type="email"
        :error="$v.form.email.$error"
        error-label="Please type a valid email"
      />
      <text-field
        ref="passwordInput"
        float-label="Password"
        v-model="form.password"
        @enter="signUp"
        type="password"
        @input="$v.form.password.$touch()"
        :error="$v.form.password.$error"
        :error-label="errorMessage('Password', $v.form.password)"
      />
      <div class="checkbox checkbox-terms">
        <q-checkbox class="checkbox__input" v-model="terms"/>
        <div class="checkbox__text checkbox__text--mandatory">I agree to the <a :href="termsUrl" target="_blank" title="Opens in a new tab">Terms & Conditions</a>.</div>
      </div>
      <div class="checkbox">
        <q-checkbox class="checkbox__input" v-model="marketing"/>
        <div class="checkbox__text">Yes, please keep me updated on QDooz news, events and offers.</div>
      </div>
      <SecondaryBtn
        class="Btn"
        data-test-id="sign-up-btn"
        inlinedContainer
        title="Sign up"
        :disabled="!terms"
        @click="signUp"
        :padding="{
          top: true
        }"
      />
    </container>
  </div>
</template>

<style scoped lang="stylus">
@import '~variables'
.Btn
  width 60%
.checkbox
  font-size 12px
  display flex
  width 100%
  align-items flex-start
  padding-bottom 10px
  &__input
    padding-right 10px
  &__text
    padding-top 2px
    a
      color #202020
    &--mandatory:after
      content ' *'
      color $negative
.checkbox-terms
  margin-top 25px
</style>

<script>
import { config } from '../../config'
import { required, email, minLength, helpers } from 'vuelidate/lib/validators'
import { SecondaryBtn } from 'components/ui/buttons'
import container from 'components/pages/auth/container'
import textField from 'components/ui/form-fields/text-field'
import authMixin from './auth-mixin'
import validationsMixin from 'mixins/validations'

export default {
  name: 'signup-page',
  mixins: [authMixin, validationsMixin],
  components: {
    container,
    SecondaryBtn,
    textField
  },
  data () {
    return {
      form: {
        name,
        email: null,
        password: null
      },
      terms: true,
      marketing: true
    }
  },
  validations: {
    form: {
      name: { required },
      email: { required, email },
      password: {
        required,
        minLength: minLength(8),
        mustContainNumber: helpers.regex('alpha', /\d/),
        mustContainUppercase: helpers.regex('letter', /[A-Z]/)
      }
    }
  },
  computed: {
    termsUrl () {
      return `${config.webapp.webUrl}/terms-of-use`
    }
  }
}
</script>
