<template>
  <styled-table
    :data="filteredApplicants"
    :pagination="tableConfig.pagination"
    :columns="tableConfig.columns"
    :filter="searchTerm"
    :filterMethod="searchMethod"
  >
    <template slot-scope="{ row }" no-border>
      <q-td key="name" >
        <router-link
          class="link-text"
          :to="`/users/${row.defaultUser}`"
          v-html="highlightText(row.profile.displayName, searchTerm)">
        </router-link>
      </q-td>
      <q-td key="email" v-html="highlightText(row.email, searchTerm)"></q-td>
      <q-td key="avatar" class="avatar-col"><img class="avatar" v-if="row.profile.avatar" :src="row.profile.avatar.fileUrl"/></q-td>
      <q-td key="status" class="status-col">{{ row.status | statusLabel }}</q-td>
    </template>
    <template slot="after-table">
      <loading v-if="loading" />
    </template>
  </styled-table>
</template>

<style lang="stylus" scoped>
.avatar
  $AVATAR_SIZE = 36px
  width $AVATAR_SIZE
  height $AVATAR_SIZE
.avatar-col
  width 90px
  text-align center
</style>

<script>
import highlight from './highlight'
import styledTable from 'components/styled-table'
import loading from 'components/ui/loading'
import ApplicantStatus, { statusTitles } from 'shared/ApplicantStatus'

export default {
  mixins: [
    highlight
  ],
  components: {
    styledTable,
    loading
  },
  props: {
    searchTerm: {
      type: String,
      default: ''
    },
    selectedStatus: String
  },
  data: () => {
    return {
      tableConfig: {
        pagination: {
          rowsPerPage: 0,
          sortBy: 'status',
          descending: true
        },
        columns: [
          { name: 'name', label: 'Name', field: row => row.profile.displayName, sortable: true },
          { name: 'email', label: 'Email', field: row => row.email, sortable: true },
          { name: 'avatar', label: 'Avatar', field: 'avatar' },
          { name: 'status', label: 'Status', field: row => row.status, sortable: true }
        ]
      },
      filterColumns: ['name', 'email'],
      applicants: []
    }
  },
  created () {
    this.loading = true
    this.$firebase.authorApplicants.all.on('value', this.updateListOfApplicants)
  },
  destroyed () {
    this.$firebase.authorApplicants.all.off('value', this.updateListOfApplicants)
  },
  filters: {
    statusLabel (status) {
      try {
        let displayStatus = Object.keys(statusTitles)
          .filter(key => status === key)
          .map(role => {
            return statusTitles[role]
          }).toString()
        return displayStatus
      } catch (ex) {
        return ''
      }
    }
  },
  computed: {
    filteredApplicants () {
      if (!this.selectedStatus || this.selectedStatus === 'all') {
        return this.applicants.filter(
          applicant => applicant.status !== ApplicantStatus.Rejected
        )
      }
      return this.applicants.filter(
        applicant => applicant.status === this.selectedStatus
      )
    }
  },
  methods: {
    searchMethod (rows, terms, cols, cellValue) {
      const lowerTerms = terms ? terms.toLowerCase() : ''
      return rows.filter(
        row => cols.some(col => {
          if (!this.columnShouldFilter(col.name)) return false
          return String(cellValue(col, row)).toLowerCase().includes(lowerTerms)
        })
      )
    },
    columnShouldFilter (name) {
      return this.filterColumns.includes(name)
    },
    updateListOfApplicants (snapshot) {
      this.loading = false
      this.applicants = []
      snapshot.forEach(childSnapshot => {
        this.applicants.push(childSnapshot.val())
      })
    }
  }
}
</script>
