<template>
  <styled-table
    :data="areasOfLife"
    :columns="config.columns"
  >
    <template slot-scope="{ row }" no-border>
      <q-td width="30%" key="area-of-life-title">
        <span class="bold" v-html="highlightText(row.title)" />
        <table>
          <tr v-for="priority in row.priorities" :key="priority.title">
            <td>{{ priority.title }}</td>
          </tr>
        </table>
      </q-td>
      <q-td width="60%" key="area-of-life-definition" class="area-of-life-definition" >
        <span class="bold" v-html="highlightText(row.description || 'No description provided')" />
        <table>
          <tr v-for="priority in row.priorities" :key="priority.description">
            <td>{{ priority.description || 'No description provided' }}</td>
          </tr>
        </table>
      </q-td>
    </template>
  </styled-table>
</template>

<style lang="stylus" scoped>
.area-of-life-definition
  white-space normal

.bold
  font-weight 600
</style>

<script>
import { mapGetters } from 'vuex'
import { GET_AREAS_OF_LIFE } from 'store/tools/areas-of-life/getter.types'

import styledTable from 'components/styled-table'
import highlight from 'components/tables/highlight'

// Columns for the table
const config = {
  columns: [
    { name: 'title', label: 'Name of Area of life', field: 'title', sortable: true },
    { name: 'description', label: 'Description', field: 'description', sortable: false }
  ]
}

export default {
  mixins: [
    highlight
  ],
  components: {
    styledTable
  },
  data: () => {
    return {
      config: config
    }
  },
  computed: {
    ...mapGetters({
      areasOfLife: GET_AREAS_OF_LIFE
    })
  }
}
</script>
