<style lang="stylus">
@import '~variables'
.highlighted
  background $yellow
</style>

<script>
export default {
  methods: {
    highlightText (text, searchTerm) {
      if (!searchTerm || !text) return text
      if (!~text.toLowerCase().indexOf(searchTerm.toLowerCase())) return text
      const searchTermRegex = new RegExp(searchTerm, 'gi')
      return text.replace(searchTermRegex, '<span class="highlighted">$&</span>')
    }
  }
}
</script>
