<template>
  <styled-table
    :data="lifeSkills"
    :columns="config.columns"
    :filter="searchTerm"
  >
    <template slot-scope="{ row }" no-border>
      <q-td width="30%" key="soft-skill-title" v-html="highlightText(row.title, searchTerm)" />
      <q-td width="60%" key="soft-skill-definition" class="soft-skill-definition" v-html="highlightText(row.description || 'No description provided', searchTerm)" />
    </template>
  </styled-table>
</template>

<style lang="stylus" scoped>
.soft-skill-definition
  white-space normal
</style>

<script>
import { mapGetters } from 'vuex'
import { GET_LIFE_SKILLS_FLATTENED } from 'store/tools/lifeskills/getter.types'

import styledTable from 'components/styled-table'
import highlight from 'components/tables/highlight'

// Columns for the table
const config = {
  columns: [
    { name: 'title', label: 'Name of Soft Skill', field: 'title', sortable: true },
    { name: 'description', label: 'Description', field: 'description', sortable: false }
  ]
}

export default {
  mixins: [
    highlight
  ],
  components: {
    styledTable
  },
  props: {
    searchTerm: {
      type: String,
      default: ''
    }
  },
  data: () => {
    return {
      config: config
    }
  },
  computed: {
    ...mapGetters({
      lifeSkills: GET_LIFE_SKILLS_FLATTENED
    })
  }
}
</script>
