<template>
  <styled-table
    :data="qualities"
    :columns="config.columns"
    :filter="searchTerm"
  >
    <template slot-scope="{ row }" no-border>
      <q-td width="30%" key="quality-title" v-html="highlightText(row.name, searchTerm)" />
      <q-td width="60%" key="quality-definition" class="quality-definition" v-html="highlightText(row.synonyms || 'No synonyms provided', searchTerm)" />
    </template>
  </styled-table>
</template>

<style lang="stylus" scoped>
.quality-definition
  white-space normal
</style>

<script>
import { mapGetters } from 'vuex'
import { GET_QUALITIES } from 'store/tools/qualities/getter.types'

import styledTable from 'components/styled-table'
import highlight from 'components/tables/highlight'

// Columns for the table
const config = {
  columns: [
    { name: 'name', label: 'Name of Quality', field: 'name', sortable: true },
    { name: 'synonyms', label: 'Word Cloud', field: 'synonyms', sortable: false }
  ]
}

export default {
  mixins: [
    highlight
  ],
  components: {
    styledTable
  },
  props: {
    searchTerm: {
      type: String,
      default: ''
    }
  },
  data: () => {
    return {
      config: config
    }
  },
  computed: {
    ...mapGetters({
      qualities: GET_QUALITIES
    })
  }
}
</script>
