<template>
  <styled-table
    :data="referrals"
    :columns="tableConfig.columns"
  >
    <template slot-scope="{ row }" no-border>
      <q-td key="uid"><span class="uid clickable" @click="goToUser(row.uid)">{{ row.uid | verifyUid }}</span></q-td>
      <q-td key="platform" class="capitalise">{{ row.platform | verifyPlatform }}</q-td>
      <q-td key="timestamp">{{ timeToNow(row.timestamp) }}</q-td>
      <q-td key="referrer">{{ row.referrer }}</q-td>
      <q-td key="referreruid"><span class="uid" :class="{ clickable: validateUID(row.referrerUid, row.campaign) }" @click="validateUID(row.referrerUid, row.campaign) && goToUser(row.referrerUid)">{{ row.referrerUid | verifyUid }}</span></q-td>
      <q-td key="campaignuid"><span class="uid">{{ row.campaign | verifyUid }}</span></q-td>
    </template>
    <template slot="after-table">
      <loading v-if="loading" />
    </template>
  </styled-table>
</template>

<style lang="stylus" scoped>
@import '~variables'
.capitalise
  text-transform capitalize
.uid
  font-family monospace
  padding 0.25em
  color $primary
  background rgba($primary, 0.05)
  border-radius 0.25em
.clickable
  cursor pointer
</style>

<script>
import styledTable from 'components/styled-table'
import loading from 'components/ui/loading'

export default {
  components: {
    styledTable,
    loading
  },
  data: () => ({
    tableConfig: {
      columns: [
        { name: 'uid', label: 'User UID', field: row => row.uid },
        { name: 'platform', label: 'Platform', field: row => row.platform },
        { name: 'timestamp', label: 'Timestamp', field: row => row.timestamp },
        { name: 'referrer', label: 'Referrer', field: row => row.referrer },
        { name: 'referreruid', label: 'Referrer UID', field: row => row.referrerUid },
        { name: 'campaignuid', label: 'Campaign UID', field: row => row.campaign }
      ]
    },
    now: Date.now(),
    loading: true,
    referrals: []
  }),
  created () {
    // Initialise Handler to Display Latest Logs
    this.$firebase.logs.get('refered', logs => {
      this.loading = false
      this.referrals = logs.map(
        ({
          uid,
          timestamp,
          data: {
            campaign,
            platform,
            referer: referrer,
            referer_uid: referrerUid
          }
        }) => ({ uid, platform, timestamp: timestamp.toDate(), campaign, referrerUid, referrer })
      )
    })
    // Make Date.now() Reactive
    setInterval(() => {
      this.now = Date.now()
    }, 1000)
  },
  filters: {
    verifyUid (str) {
      const message = 'Unknown UID'
      const chars = message.length + 3
      return (typeof str === 'string')
        ? str
        : `${message} (${
          String(str).padEnd(chars, '.').substr(0, Math.min(String(str).length, chars))
        })`
    },
    verifyPlatform (str) {
      return str || 'Unknown Platform'
    }
  },
  methods: {
    timeToNow (str) {
      return [
        { label: 'years', ms: 31536e6 },
        { label: 'months', ms: 2592e6 },
        { label: 'days', ms: 864e5 },
        { label: 'hours', ms: 36e5 },
        { label: 'minutes', ms: 6e4 },
        { label: 'seconds', ms: 1e3 }
      ].reduce((msg, { label, ms }) => {
        if (msg) return msg
        const diff = Math.floor((this.now - new Date(str)) / ms)
        return diff >= 1
          ? `${diff} ${diff === 1 ? label.slice(0, -1) : label} ago.`
          : undefined
      }, undefined)
    },
    validateUID (uid, campaign) {
      return (
        typeof uid === 'string' &&
        uid.length === 28 &&
        (
          campaign === 'user-to-user' ||
          campaign === undefined
        )
      )
    },
    goToUser (uid) {
      if (this.validateUID(uid)) {
        this.$router.push(`/users/${uid}`)
      } else {
        alert('Cannot link to user!')
      }
    }
  }
}
</script>
