<template>
  <styled-table
    :data="users"
    :columns="enabledColumns"
    :filter="searchTerm"
    :filterMethod="searchMethod"
  >
    <template slot-scope="{ row }" no-border>
      <q-td key="name" v-if="columnExists('name')">
        <router-link
          class="link-text"
          :to="`/users/${row.uid}`"
          v-html="columnShouldFilter('name') ? highlightText(row.displayName, searchTerm) : row.displayName"
        />
      </q-td>
      <q-td key="roles"
        v-if="columnExists('roles')"
        v-html="columnShouldFilter('roles') ?
          highlightText(rolesMapToString(row.customClaims), searchTerm) :
          rolesMapToString(row.customClaims)"
      />
      <q-td key="email"
        v-if="columnExists('email')"
        v-html="columnShouldFilter('email') ?
          highlightText(row.email, searchTerm) :
          row.email"
      />
      <q-td key="photoURL"
        v-if="columnExists('photoURL')"
        class="avatar-col">
        <img class="avatar" v-if="row.photoURL" :src="row.photoURL"/>
      </q-td>
      <q-td key="last_login"
        v-if="columnExists('last_login')"
        v-html="columnShouldFilter('last_login') ?
        highlightText(row.metadata.lastSignInTime, searchTerm) :
        row.metadata.lastSignInTime"
      />
      <q-td key="optOutOfEmails"
        v-if="columnExists('optOutOfEmails')">
        <div v-if="row.optOutOfEmails" class="text-center opt-out-emails-col">
          <q-icon name="check_circle"/>
        </div>
      </q-td>
    </template>
    <template slot="after-table">
      <loading v-if="loading" />
      <p v-else>No more users to show</p>
    </template>
  </styled-table>
</template>

<style lang="stylus" scoped>
.avatar
  $AVATAR_SIZE = 36px
  width $AVATAR_SIZE
  height $AVATAR_SIZE
  object-fit cover
.opt-out-emails-col
  .q-icon
    font-size 30px
    color #BFD264
</style>

<script>
import highlight from './highlight'
import styledTable from 'components/styled-table'
import loading from 'components/ui/loading'
import { rolesMapToString } from '../../shared/utils.js'

const columns = [
  { name: 'name', label: 'Name', field: 'displayName', sortable: true },
  { name: 'roles', label: 'Roles', field: row => rolesMapToString(row.customClaims), sortable: true },
  { name: 'email', label: 'Email Address', field: 'email', sortable: true },
  { name: 'photoURL', label: 'Avatar' },
  { name: 'last_login', label: 'Last logged in', field: row => row.metadata.lastSignInTime, sortable: true },
  { name: 'optOutOfEmails', label: 'Newsletter', field: row => row.optOutOfEmails, sortable: true }
]

export default {
  mixins: [
    highlight
  ],
  components: {
    styledTable,
    loading
  },
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    users: {
      type: Array,
      default: () => []
    },
    searchTerm: {
      type: String,
      default: ''
    },
    config: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => {
    return {
      columns: columns
    }
  },
  computed: {
    enabledColumns () {
      return columns.filter((column) => this.config.enabledColumns.includes(column.name))
    }
  },
  methods: {
    // Hello
    packageDisplayNameLink (displayName, uid) {
      return `<router-link class="link-text" to="/users/${uid}">${displayName}</router-link>`
    },
    searchMethod (rows, terms, cols, cellValue) {
      const lowerTerms = terms ? terms.toLowerCase() : ''
      return rows.filter(
        row => cols.some(col => {
          if (!this.columnShouldFilter(col.name)) return false
          return String(cellValue(col, row)).toLowerCase().includes(lowerTerms)
        })
      )
    },
    columnExists (name) {
      return this.config.enabledColumns.includes(name)
    },
    columnShouldFilter (name) {
      return this.config.filterColumns.includes(name)
    },
    rolesMapToString
  }
}
</script>
