<template>
  <div class="status-selector">
    <featured-title
      title="Author"
      tooltip="This is you!"
    />
    <q-select
      class="input author-dropdown"
      v-bind:class="{ 'no-author-selected': !selectedAuthor }"
      v-model="selectedAuthor"
      :options="authorOptions"
      :disabled="!$accessControl.userAllowedTo('updateArticles')"
      :readonly="!$accessControl.userAllowedTo('updateArticles')"
    />
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
// Forces repaint on Webkit in order to fix issue with author name not being displayed
.author-dropdown.no-author-selected
  z-index 1
.title
  margin-bottom 0.5rem
</style>

<script>
import featuredTitle from 'components/featured-title'
import Permission from 'shared/access-control/Permission'

export default {
  name: 'article-status-selector',
  props: ['articleId', 'articleData', 'defaultAuthor'],
  components: {
    featuredTitle
  },
  data () {
    return {
      authorDropdownOptions: [],
      listener: null
    }
  },
  async created () {
    let authorsRef = this.$firebase.users.authorList
    authorsRef.on('value', this.loadAuthorDropdownOptions)
  },
  destroyed () {
    let authorsRef = this.$firebase.users.authorList
    authorsRef.off('value', this.loadAuthorDropdownOptions)
  },
  computed: {
    selectedAuthor: {
      get: function () {
        if (this.articleData.authorProfile) {
          return this.articleData.authorProfile
        }
        if (this.defaultAuthor) {
          return this.defaultAuthor.key
        }
        return null
      },
      set: async function (selectedAuthor) {
        this.updateAuthor(selectedAuthor)
      }
    },
    isAuthor () {
      return !this.$accessControl.userAllowedTo(Permission.ListAuthors)
    },
    authorOptions () {
      if (this.isAuthor) {
        const user = this.$firebase.auth.currentUser()
        if (!this.defaultAuthor || !user) {
          return []
        }
        return [ {
          value: this.defaultAuthor.key,
          label: user.displayName
        }]
      }
      return this.authorDropdownOptions
    }
  },
  methods: {
    async loadAuthorDropdownOptions (snapshot) {
      const options = []
      snapshot.forEach(author => {
        const { profile, email } = author.val()
        if (!profile) {
          return
        }
        let label = profile.displayName && profile.displayName.trim()
        if (!label && email) {
          label = email
        }
        options.push({
          label,
          value: author.key
        })
      })
      this.authorDropdownOptions = options.sort(
        (a, b) => ('' + a.label).localeCompare(b.label)
      )
    },
    async updateAuthor (authorProfileKey) {
      let authorUserId = (await this.$firebase.users.authorList.child(authorProfileKey).child('defaultUser').once('value')).val()
      this.$emit('update-article', {
        authorProfile: authorProfileKey,
        owner: authorUserId
      }, () => {
        this.$firebase.content.articles('articles').get(this.articleId).updateImageMetadata({
          owner: authorUserId
        })
      })
    }
  }
}
</script>
