<template>
  <div class="status-display">
    <submit-dialog
      :value="tncDialog"
      @ok="onTnCAccepted"
      @cancel="onTnCCancel"
    />
    <featured-title
      class="title"
      title="Status"
      tooltip="This is the progress of your content from Draft, Submitted for Review to finally Published."
    />
    <article-status-bar
      :status="articleData.status || 'draft'">
    </article-status-bar>
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
.status-display
  text-align center
  > *
    display inline-flex
    width 100%
.title
  margin-top 2rem
  margin-bottom 0.5rem
.terms-checkbox
  width 80%
  text-align left
  margin-top 1rem
.terms-checkbox-label
  margin-right 16px
</style>

<script>
import firebase from 'firebase/app'
import customTooltip from '../custom-tooltip'
import ArticleStatus from '../../shared/ArticleStatus.js'
import featuredTitle from 'components/featured-title'
import articleStatusBar from 'components/article-status-bar'
import submitDialog from 'components/article/submit-dialog'

export default {
  name: 'article-status-selector',
  props: [
    'articleId',
    'articleData',
    'tncDialog'
  ],
  components: {
    customTooltip,
    featuredTitle,
    articleStatusBar,
    submitDialog
  },
  methods: {
    async sendForReview () {
      await this.$emit('update-article', {
        status: ArticleStatus.ReviewNeeded,
        sentForReviewTime: firebase.firestore.FieldValue.serverTimestamp()
      }, () => {
        this.$q.dialog({
          title: 'Success',
          message: 'Article has been successfully sent for review'
        })
      })
    },
    onTnCAccepted () {
      this.$emit('hide-tnc')
      this.sendForReview()
    },
    onTnCCancel () {
      this.$emit('hide-tnc')
    }
  }
}
</script>
