<template>
  <div class="references-container" v-show="articlesOwnedByUser.length > 0">
    <featured-title
      title="Content Series"
      tooltip="This is where you can link your previous published QDooz material to your current piece. This is advised if you are creating a series of material or have directly supporting material."/>
    <subtitle>This field is optional</subtitle>
    <q-select
      multiple
      :display-value="selectorLabel"
      class="reference-selector"
      placeholder="Select an article"
      :options="articlesOwnedByUser"
      :value="selectedReferences"
      @input="referencesUpdated"/>
  </div>
</template>

<style scoped lang="stylus">
@import '~variables'
  .references-container
    width 100%
  .reference
    display flex
    margin-bottom 16px
    align-items center
  .btn-delete
    font-size 16px
</style>

<script>
import ArticleStatus from '../../shared/ArticleStatus.js'
import featuredTitle from 'components/featured-title'
import subtitle from 'components/ui/subtitle'

export default {
  name: 'article-references-input',
  components: {
    featuredTitle,
    subtitle
  },
  props: [
    'articleId',
    'referencedArticles',
    'userAuthorId'
  ],
  data () {
    return {
      articlesOwnedByUser: [],
      selectedReferences: []
    }
  },
  beforeDestroy () {
    this.unsubscribe()
  },
  computed: {
    selectorLabel () {
      let selectedReferences = this.selectedReferences.length
      if (selectedReferences === 0) {
        return 'No articles selected'
      }
      return `${selectedReferences} article${selectedReferences !== 1 ? 's' : ''} selected`
    }
  },
  watch: {
    userAuthorId: {
      immediate: true,
      handler (userAuthorId) {
        this.unsubscribe()
        this.authorArticleListener = this.$firebase.content.articles('articles').all
          .where('owner', '==', userAuthorId)
          .where('status', '==', ArticleStatus.Published)
          .onSnapshot(querySnapshot => {
            this.articlesOwnedByUser = querySnapshot.docs
              .map(docSnapshot => ({
                value: docSnapshot.id,
                label: docSnapshot.get('title')
              }))
              .filter(article => article.value !== this.articleId)
          })
      }
    },
    referencedArticles: {
      immediate: true,
      handler (value) {
        if (!value) {
          return
        }
        this.selectedReferences = value.map(article => article.reference.id)
      }
    }
  },
  methods: {
    referencesUpdated (references) {
      let updatedReferences = references.map(articleId => ({
        reference: this.$firebase.content.articles('articles').get(articleId).document
      }))
      this.$emit('input', updatedReferences)
    },
    unsubscribe () {
      if (this.authorArticleListener) {
        this.authorArticleListener()
      }
    }
  }
}
</script>
