<template>
  <div class="status-selector">
    <template v-if="$accessControl.userAllowedTo('createArticles') && articleData.status === 'draft' || articleData.status === 'rejected' || articleData.status === 'amendments_required'">
      <div class="preview-check">
        <q-checkbox class="preview-check__input" v-model="hasPreviewed" />
        <div class="preview-check__text">Have you <router-link to="preview-desktop">previewed</router-link> this article to ensure you’re happy?</div>
      </div>
      <q-btn
        class="btn"
        no-caps
        :disabled="!hasPreviewed"
        @click="validateBeforeSending"
        label="Submit for approval"/>
    </template>
    <template v-if="$accessControl.userAllowedTo('publishArticles') || $accessControl.userAllowedTo('updateArticles')">
      <q-btn
        v-if="canModerate && this.articleData.status === 'review_needed'"
        class="btn"
        no-caps
        @click="moderate"
        label="Moderate"/>
      <q-btn
        v-if="canModerate && (articleData.status === 'in_review' || articleData.status === 'rejected' || articleData.status === 'amendments_required')"
        class="btn btn-positive"
        no-caps
        @click="publish"
        label="Approve and publish"/>
      <q-btn v-else-if="articleData.status === 'published'"
        class="btn btn-negative"
        no-caps
        @click="unpublish"
        label="Unpublish"/>
    </template>
    <template v-else-if="$accessControl.userAllowedTo('createArticles')">
      <q-btn
        v-if="articleData.status === 'review_needed' || articleData.status === 'in_review'"
        class="btn btn-positive btn-no-click"
        no-caps
        icon="check"
        label="Submitted"/>
      <q-btn
        v-if="articleData.status === 'review_needed'"
        class="btn"
        no-caps
        @click="edit"
        label="Edit"/>
    </template>
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
.btn
  width 100%
  box-shadow none
  font-size 1rem
  background $secondary
  font-weight 600
  color $primary
  border-radius 0
  padding 14px
  margin 10px 0
  border-radius 25px
.btn-negative
  background $negative
.btn-positive
  background $positive
.btn-no-click
  cursor default
.preview-check
  border-top 1px solid #C3C3C3
  padding 22px 0 18px
  font-size 12px
  display flex
  align-items flex-start
  &__input
    padding-right 10px
  &__text
    a
      color #202020
    &:after
      content ' *'
      color $negative
</style>

<script>
import { mapGetters } from 'vuex'
import firebase from 'firebase/app'
import customTooltip from '../custom-tooltip'
import ArticleStatus, {statusDisplayProperties, statusList} from '../../shared/ArticleStatus.js'
import ArticleValidators from '../../shared/ArticleValidators.js'
import { GET_AUTHOR_DATA } from 'store/authors/getter.types'
import FeedbackTypes from '../../shared/FeedbackTypes.js'
import { getLinkToArticlePreview } from 'shared/utils'

export default {
  name: 'article-status-selector',
  props: [
    'articleId',
    'articleData',
    'customForm',
    'authorId'
  ],
  components: {
    customTooltip
  },
  validations: {
    articleData: ArticleValidators
  },
  data () {
    return {
      hasPreviewed: false,
      statusSelectOptions: statusList.map(status => {
        return {
          label: statusDisplayProperties[status].name,
          value: status
        }
      }),
      acceptedTerms: false
    }
  },
  computed: {
    ...mapGetters({
      getAuthorData: GET_AUTHOR_DATA
    }),
    form () {
      if (this.customForm) {
        return this.customForm
      }
      return this.$v
    },
    status () {
      return this.articleData.status
    },
    authorEmail () {
      return this.getAuthorData(this.authorId).email
    }
  },
  methods: {
    canModerate () {
      return !this.articleData.moderator || this.articleData.moderator === this.$firebase.auth.currentUser().uid
    },
    validateBeforeSending () {
      this.form.articleData.$touch()
      if (this.form.articleData.$error) {
        this.$q.dialog({
          title: 'Error',
          message: 'Please enter all the required fields'
        })
        this.$emit('show-form-errors')
        return
      }
      if (!this.acceptedTerms) {
        this.$emit('show-tnc')
      }
    },
    async sendForReview () {
      await this.$emit('update-article', {
        status: ArticleStatus.ReviewNeeded,
        sentForReviewTime: firebase.firestore.FieldValue.serverTimestamp()
      }, () => {
        this.$q.dialog({
          title: 'Success',
          message: 'Article has been successfully sent for review'
        })
      })
    },
    async publish () {
      this.$emit('update-article', {
        status: ArticleStatus.Published,
        publishedTime: firebase.firestore.FieldValue.serverTimestamp(),
        publishTime: Date.now() // support old client
      }, async () => {
        await this.$firebase.content.articles('articles').get(this.articleId).updateImageMetadata({
          published: true
        })
        this.$q.dialog({
          title: 'Success',
          message: 'Article has been successfully published'
        })
      })
      this.$emit('send-feedback', {
        userId: this.authorId,
        articleTitle: this.articleData.title,
        url: getLinkToArticlePreview(this.articleId),
        type: FeedbackTypes.Publish
      })
    },
    async unpublish () {
      this.$emit('update-article', {
        status: ArticleStatus.InReview,
        inReviewTime: firebase.firestore.FieldValue.serverTimestamp()
      }, async () => {
        await this.$firebase.content.articles('articles').get(this.articleId).updateImageMetadata({
          published: false
        })
        this.$q.dialog({
          title: 'Success',
          message: 'Article has been unpublished'
        })
      })
    },
    async edit () {
      this.$emit('update-article', {
        status: ArticleStatus.Draft
      }, () => {
        this.$q.dialog({
          title: 'Success',
          message: 'Article has been moved back to draft state'
        })
      })
    },
    async moderate () {
      this.$emit('update-article', {
        status: ArticleStatus.InReview,
        moderator: this.$firebase.auth.currentUser().uid,
        inReviewTime: firebase.firestore.FieldValue.serverTimestamp()
      })
    }
  }
}
</script>
