<template>
  <div class="feedback">
    <div class="feedback__title">
      <q-icon class="feedback__icon" :name="!windowOpen ? 'expand_more' : 'expand_less'" />
      <q-btn
        align="left"
        no-caps
        @click="toggle"
        :label="`Review content by ${authorName}`"
      />
    </div>
    <transition name="fade">
      <div class="feedback__window" v-if="!windowOpen">
        <text-editor
          ref="feedbackTextEditor"
          class="feedback__input"
          placeholder="Write feedback here, required for rejection"
          :value="feedback"
          @input="updateFeedback"
          :disableFormatting="true"
          advancedFormattingDisabled="true">
        </text-editor>
        <div class="feedback__footer">
          <q-btn
            class="feedback__approve btn btn-positive"
            no-caps
            @click="publish"
            label="Approve and publish"/>
          <q-btn
            class="feedback__reject-feedback btn"
            no-caps
            @click="rejectFeedback"
            label="Feedback for review"/>
          <q-btn
            class="feedback__reject btn btn-negative"
            no-caps
            @click="reject"
            label="Reject"/>
        </div>
      </div>
    </transition>
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
.feedback
  position fixed
  bottom 20px
  right 20px
  border-radius 11px
  overflow hidden
  box-shadow 0 5px 10px 0 rgba(0,0,0,0.1)
  min-width 325px
  z-index 1001
  &__title
    background $primary
    color white
    display block
    width 100%
    border-radius 0
    position relative
    button
      font-size 18px
      font-weight 200
      width 100%
      height 50px
      padding-right 50px
      position relative
  &__icon
    position absolute
    right 10px
    top 12px
    font-size 28px
  &__window
    width 612px
    height 342px
    background white
  &__input
    height calc(100% - 72px)
    width 100%
    border-bottom 1px solid #E0E0E0
    overflow auto
    >>> .ql-container.ql-snow
      border none
  &__footer
    width 612px
    display flex
.btn
  box-shadow none
  font-size 1rem
  background $secondary
  font-weight 600
  color $primary
  border-radius 0
  padding 14px
  margin 10px
  border-radius 25px
  min-width 150px
  flex 1
.btn-negative
  background $negative
.btn-positive
  background $positive
.fade-enter-active, .fade-leave-active {
  transition width .5s cubic-bezier(.18,.9,.43,1), height .5s cubic-bezier(.18,.9,.43,1)
}
.fade-enter, .fade-leave-to {
  width 0
  height 0
}
</style>

<script>
import firebase from 'firebase/app'
import { mapGetters } from 'vuex'
import { GET_AUTHOR_DATA } from 'store/authors/getter.types'
import ArticleStatus from '../../shared/ArticleStatus.js'
import { LogArticleMeta } from '../../shared/ArticleLogger'
import textEditor from 'components/text-editor/text-editor'
import FeedbackTypes from '../../shared/FeedbackTypes.js'
import { inputDebounce as dbnc, getLinkToArticlePreview } from 'shared/utils'

export default {
  name: 'article-feedback',
  props: [
    'articleId',
    'articleData',
    'feedback',
    'authorId'
  ],
  components: {
    textEditor
  },
  data () {
    return {
      windowOpen: true
    }
  },
  computed: {
    ...mapGetters({
      getAuthorData: GET_AUTHOR_DATA
    }),
    authorName () {
      return this.getAuthorData(this.authorId) ? this.getAuthorData(this.authorId).displayName : ''
    },
    authorEmail () {
      return this.getAuthorData(this.authorId).email
    }
  },
  methods: {
    toggle () {
      this.windowOpen = !this.windowOpen
    },
    updateFeedback: dbnc(async function (newValue) {
      this.$emit('update-article', {
        feedback: newValue
      })
      LogArticleMeta({ feedback: newValue }, this.articleId)
    }),
    async publish () {
      this.$emit('update-article', {
        status: ArticleStatus.Published,
        publishedTime: firebase.firestore.FieldValue.serverTimestamp()
      }, async () => {
        await this.$firebase.content.articles('articles').get(this.articleId).updateImageMetadata({
          published: true
        })
        this.windowOpen = false
        this.$q.dialog({
          title: 'Success',
          message: 'Article has been successfully published'
        })
      })
      this.$emit('send-feedback', {
        userId: this.authorId,
        articleTitle: this.articleData.title,
        feedback: this.feedback,
        url: getLinkToArticlePreview(this.articleId),
        type: FeedbackTypes.Publish
      })
    },
    async rejectFeedback () {
      this.$emit('update-article', {
        status: ArticleStatus.AmendmentsRequired,
        amendmentsRequiredTime: firebase.firestore.FieldValue.serverTimestamp()
      }, () => {
        this.windowOpen = false
        this.$q.dialog({
          title: 'Success',
          message: 'Article has been sent back for review'
        })
      })
      this.$emit('send-feedback', {
        userId: this.authorId,
        feedback: this.feedback,
        articleTitle: this.articleData.title,
        type: FeedbackTypes.Reject
      })
    },
    async reject () {
      this.$emit('update-article', {
        status: ArticleStatus.Rejected,
        rejectedTime: firebase.firestore.FieldValue.serverTimestamp()
      }, () => {
        this.windowOpen = false
        this.$q.dialog({
          title: 'Success',
          message: 'Article has been rejected'
        })
      })
    }
  }
}
</script>
