<template>
  <div class="status-selector">
    <template v-if="$accessControl.userAllowedTo('publishBlogs') || $accessControl.userAllowedTo('updateBlogs')">
      <q-btn
        v-if="articleData.status !== 'published'"
        class="btn btn-positive"
        no-caps
        @click="validateBeforeSending"
        icon="check"
        label="Publish"/>
      <q-btn v-else
        class="btn btn-negative"
        no-caps
        @click="unpublish"
        icon="check"
        label="Unpublish"/>
    </template>
    <template v-else-if="$accessControl.userAllowedTo('createBlogs')">
      <q-btn
        v-if="articleData.status === 'review_needed'"
        class="btn"
        no-caps
        @click="edit"
        icon="check"
        label="Edit"/>
    </template>
    <submit-dialog
      v-model="tncDialog"
      @ok="onTnCAccepted"
      @cancel="onTnCCancel"
    />
    <featured-title
      class="title"
      title="Status"
      tooltip="This is the progress of your content from Draft, Submitted for Review to finally Published."
    />
    <article-status-bar
      :status="articleData.status || 'draft'">
    </article-status-bar>
  </div>
    <!--<q-select
      :value="status"
      placeholder="Select status"
      float-label="Article status"
      :options="statusSelectOptions"
      @input="statusChanged"/>-->
</template>

<style lang="stylus" scoped>
@import '~variables'
.btn
  width 100%
  box-shadow none
  font-size 1rem
  margin-top 0rem
  background #E89153
  font-weight 600
  color white
  border-radius 0
  padding 12.5px
  margin-bottom 10px
.btn-negative
  background $negative
.btn-positive
  background $positive
.status-selector
  text-align center
  > *
    display inline-flex
    width 100%
.title
  margin-top 2rem
  margin-bottom 1rem
.terms-checkbox
  width 80%
  text-align left
  margin-top 1rem
.terms-checkbox-label
  margin-right 16px
</style>

<script>
import firebase from 'firebase/app'
import customTooltip from '../custom-tooltip'
import ArticleStatus, {statusDisplayProperties, statusList} from '../../shared/ArticleStatus.js'
import featuredTitle from 'components/featured-title'
import articleStatusBar from 'components/article-status-bar'
import submitDialog from 'components/article/submit-dialog'
import ArticleValidators from '../../shared/ArticleValidators.js'

export default {
  name: 'article-status-selector',
  props: [
    'articleId',
    'articleData',
    'customForm'
  ],
  components: {
    customTooltip,
    featuredTitle,
    articleStatusBar,
    submitDialog
  },
  validations: {
    articleData: ArticleValidators('blog')
  },
  data () {
    return {
      selectedStatus: '',
      statusSelectOptions: statusList.map(status => {
        return {
          label: statusDisplayProperties[status].name,
          value: status
        }
      }),
      acceptedTerms: false,
      tncDialog: false
    }
  },
  computed: {
    form () {
      if (this.customForm) {
        return this.customForm
      }
      return this.$v
    }
  },
  methods: {
    validateBeforeSending () {
      this.form.articleData.$touch()
      if (this.form.articleData.$error) {
        alert('Please enter all the required fields')
        this.$emit('show-form-errors')
        return
      }
      if (!this.acceptedTerms) {
        this.tncDialog = true
      }
    },
    async sendForReview () {
      await this.$emit('update-article', {
        status: ArticleStatus.ReviewNeeded,
        sentForReviewTime: firebase.firestore.FieldValue.serverTimestamp()
      }, () => {
        alert('Article has been successfully sent for review')
      })
    },
    async publish () {
      this.$emit('update-article', {
        status: ArticleStatus.Published,
        publishedTime: firebase.firestore.FieldValue.serverTimestamp(),
        publishTime: Date.now() // support old client
      }, async () => {
        await this.$firebase.content.articles('blogs').get(this.articleId).updateImageMetadata({
          published: true
        })
        alert('Article has been successfully published')
      })
    },
    async unpublish () {
      this.$emit('update-article', {
        status: ArticleStatus.Draft
      }, async () => {
        await this.$firebase.content.articles('blogs').get(this.articleId).updateImageMetadata({
          published: false
        })
        alert('Article has been unpublished')
      })
    },
    async reject () {
      this.$emit('update-article', {
        status: ArticleStatus.Rejected,
        rejectedTime: firebase.firestore.FieldValue.serverTimestamp()
      }, () => {
        alert('Article has been rejected')
      })
    },
    async edit () {
      this.$emit('update-article', {
        status: ArticleStatus.Draft
      }, () => {
        alert('Article has been moved back to draft state')
      })
    },
    onTnCAccepted () {
      this.publish()
    },
    onTnCCancel () {
      this.acceptedTerms = false
    }
  }
}
</script>
