<template>
  <div class="controls">
    <p class="controls__title">Moderator controls</p>
    <p>This panel will give you access to the IP settings and change log for this piece of content.</p>
    <hr>
    <div class="controls__selector" :class="{'controls__selector--disabled': !canSetIp}">
      <p class="controls__title">IP settings</p>
      <q-radio class="ToggleBtn" v-model="ip" val="qdooz" label="QDooz"/>
      <q-radio v-model="ip" val="author" label="Author"/>
    </div>
    <hr>
    <div class="controls__log">
      <div class="controls__toggle" @click="logsOpen = !logsOpen">{{!logsOpen ? 'View' : 'Hide'}} all</div>
      <p class="controls__title">Change log</p>
    </div>
    <loading v-if="!firstLogs"/>
    <div v-else class="controls__logs">
      <div v-for="log in firstLogs" :key="log.id">
        <hr>
        <div class="log">
          <img class="log__img" :src="log.photoURL" />
          <div class="log__content">
            <b>{{log.displayName}}</b> {{formatLogStatusUpdate(log)}} - <b>{{readableTime(log.date.seconds)}}</b>
          </div>
        </div>
      </div>
      <transition name="fade">
        <div v-if="logsOpen">
          <div v-for="log in extendedLogs" :key="log.id">
            <hr>
            <div class="log">
              <img class="log__img" :src="log.photoURL" />
              <div class="log__content">
                <b>{{log.displayName}}</b> {{formatLogStatusUpdate(log)}} - <b>{{readableTime(log.date.seconds)}}</b>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
.controls
  font-size 14px
  hr
    display block
    height 1px
    border none
    background #1A0026
    opacity 0.1
    margin 20px 0
  &__title
    font-weight bold
    font-size 18px
  &__toggle
    float right
    text-decoration underline
    cursor pointer
    margin-top 3px
  &__selector
    margin-bottom 20px
    position relative
    &--disabled:before
      content ''
      background $white
      opacity 0.7
      width 100%
      height 100%
      position absolute
      top 0
      left 0
      z-index 1
  &__log
    position relative
  &__logs
    margin-bottom 10px
    >div:first-child
      hr
        display none
.ToggleBtn
    margin-right: 20px
.log
  display flex
  &__img
    width 20px
    height 20px
    border-radius 50%
    margin-right 6px
    flex 0 0 20px
</style>

<script>
import { date } from 'quasar'
import ArticleStatus, {statusUpdateDisplay} from 'shared/ArticleStatus'
import { LogArticleMeta } from 'shared/ArticleLogger.js'
import loading from 'components/ui/loading'

export default {
  name: 'moderator-controls',
  props: [
    'articleLogs',
    'ipSetting',
    'status',
    'id'
  ],
  components: {
    loading
  },
  data () {
    return {
      logsOpen: false,
      ip: this.ipSetting
    }
  },
  computed: {
    firstLogs () {
      return !this.articleLogs ? null : this.articleLogs.slice(0, 3)
    },
    extendedLogs () {
      return !this.articleLogs ? null : this.articleLogs.slice(3, 1000)
    },
    canSetIp () {
      return this.status === ArticleStatus.InReview
    },
    getUserName (log) {
      return log.user
    }
  },
  methods: {
    readableTime (timestamp) {
      return date.formatDate(timestamp * 1000, 'DD/MM/YY (HH:mm)')
    },
    formatLogStatusUpdate (log) {
      if (statusUpdateDisplay[log.status]) {
        return statusUpdateDisplay[log.status].msg
      }
      return log.status
    }
  },
  watch: {
    ipSetting (val) {
      this.ip = val
    },
    ip (val) {
      LogArticleMeta({ ip: val }, this.id)
    }
  }
}
</script>
