<template>
  <chip-bar v-if="showIndicator"
    :icon="require('assets/icons/alert-icon.svg')"
    label="Saving....">
  </chip-bar>
  <chip-bar v-else
    :icon="require('assets/icons/tick-icon.svg')"
    label="All changes saved">
  </chip-bar>
</template>

<script>
import chipBar from 'components/ui/chip-bar'

export default {
  name: 'saving-indicator',
  props: ['pendingSaveOperations'],
  components: {
    chipBar
  },
  data () {
    return {
      showIndicator: false,
      timeShown: null,
      hideTimerHandle: null
    }
  },
  watch: {
    saveInProgress (value) {
      const minDisplayDuration = 500

      if (value && !this.showIndicator) {
        this.showIndicator = true
        this.timeShown = Date.now()
        if (this.hideTimerHandle) {
          clearTimeout(this.hideTimerHandle)
        }
      } else {
        let elapsed = Date.now() - this.timeShown
        let hideAfterDuration = Math.max(minDisplayDuration - elapsed, 0)
        this.hideTimerHandle = setTimeout(() => {
          this.showIndicator = false
        }, hideAfterDuration)
      }
    }
  },
  computed: {
    saveInProgress () {
      return this.pendingSaveOperations > 0
    }
  }
}
</script>
