<template>
  <q-dialog
    class="signin-modal"
    :value="value"
    @input="$emit('input', $event)"
    @ok="$emit('ok')"
    @cancel="$emit('cancel')">
    <span slot="title" class="title">Confirm usage permissions</span>
    <div slot="body">
      <div class="terms">
        <p>By clicking 'Submit and continue' I confirm that this submission is my own work and I accept all responsibility for any copyright infringement that may occur as a result of this submission.</p>
      </div>
    </div>
    <template slot="buttons" slot-scope="props">
      <PrimaryBtn
        :padding="{}"
        class="submit-btn"
        title="Submit and continue"
        @click="props.ok"
        dark
      />
      <PrimaryBtn class="hidden"/> <!-- Fixes issue with the submit btn being focused on popup launch -->
    </template>
  </q-dialog>
</template>

<style lang="stylus" scoped>
.signin-modal
  font-family 'IBM Plex Sans', 'Roboto', sans-serif
  border-radius 10px
  >>> .modal-buttons
    justify-content center
    padding-top 6px
    padding-bottom 28px
.title
  text-align center
  display block
.terms,
.tc-link
  color black
.submit-btn
  max-width 260px
  font-weight 700
</style>

<script>
import { PrimaryBtn } from 'components/ui/buttons'

export default {
  name: 'signin-dialog',
  components: {
    PrimaryBtn
  },
  props: {
    value: {
      type: Boolean
    }
  }
  /*,
  data () {
    return {
      show: true
    }
  }
  */
}
</script>
