<template>
  <q-btn
    class="btn"
    :to="url"
    :label="text + ' >'"
    no-caps
    size="17px"
    no-shadow/>
</template>

<script>
export default {
  name: 'btn-link',
  props: {
    text: String,
    url: String
  },
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
  a
    text-decoration none
  .btn
    background #00837e
    color white
    font-weight bold
</style>
