<template>
  <text-block class="introduction">
    <slot />
  </text-block>
</template>

<script>
import textBlock from 'components/ui/text-block'
export default {
  components: {
    textBlock
  }
}
</script>
