<template>
  <tinted-inset class="welcome-banner">
    <slot />
  </tinted-inset>
</template>

<style lang="stylus" scoped>
.welcome-banner
  font-size 20px
  font-weight 300
  :first-child
    margin-top 0
  :last-child
    margin-bottom 0
  >>> h1
    font-size 1.75em
    margin 0
  >>> p
    font-size 1em
    margin 1.5em 0
</style>

<script>
import tintedInset from 'components/ui/tinted-inset'
export default {
  components: {
    tintedInset
  }
}
</script>
