<template>
  <div class="guide-content">
    <slot />
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
$gutter = 12px
.guide-content
  position relative
  margin-left $page-content-margin-with-menu
  > :first-child
    margin-top 0
</style>
