<template>
  <div class="contents-container">
    <div class="contents">
      <ul>
        <li
          v-for="link in links"
          :key="link.anchor.to"
          :class="{ 'selected': link.anchor.to === nearestAnchor }"
          @click="scrollToAnchor(link.anchor)"
        >{{ link.label }}</li>
      </ul>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
.contents-container
  position absolute
  display block
  width $page-menu
  top 0
  bottom 0
  padding-right $page-padding-menu-right
  .contents
    position sticky
    top 0
    .contents-title
      display flex
      flex-direction row
      align-items center
      h1
        text-transform uppercase
        font-size 12px
      .line
        margin 10px
        flex-grow 1
        height 1px
        background #7C7C7C
    ul
      list-style none
      padding-left 0
      margin 0
      padding-top 3vw
      li
        margin 1.25em 0
        font-size 18px
        transition color 0.2s
      li:first-child
        margin-top 0
      li.selected
        color #1A0026
      li:not(.selected)
        color #42727D
        cursor pointer
</style>

<script>
import VueScrollTo from 'vue-scrollto'

const debouncer = {
  counter: 0,
  cooldown: 10
}

export default {
  props: {
    links: {
      type: Array,
      default: () => []
    }
  },
  data: () => {
    return {
      nearestAnchor: null
    }
  },
  created () {
    window.addEventListener('scroll', () => {
      if (debouncer.counter === 0) {
        this.nearestAnchor = this.getNearestAnchor()
      }
      debouncer.counter = (debouncer.counter + 1) % debouncer.cooldown
    })
  },
  methods: {
    getNearestAnchor () {
      if (!this.links.length) return 'None'

      const wrapLink = (offset, anchor) => ({ offset, anchor })

      const nearest = this.links.reduce((closestLink, link) => {
        const offset = Math.abs(screen.height / 3 - link.anchor.el.getBoundingClientRect().top)
        return (!closestLink || offset < closestLink.offset) ? wrapLink(offset, link.anchor.to) : closestLink
      }, null)

      return nearest.anchor
    },
    scrollToAnchor (anchor) {
      VueScrollTo.scrollTo(anchor.el, 500, {
        offset: -screen.height / 5,
        onDone: () => {
          this.nearestAnchor = anchor.to
        }
      })
    }
  }
}
</script>
