<template>
  <q-select
    :float-label="showLabel ? 'Categories' : null"
    chips
    multiple
    :error="error"
    :readonly="readonly"
    :options="options"
    v-model="skillCategories"
  />
</template>

<script>

import { mapGetters } from 'vuex'
import { GET_CATEGORIES } from 'store/tools/lifeskills/getter.types'

import { arrayToMap, mapToArray } from 'shared/utils.js'

export default {
  name: 'skill-categories-input',
  props: {
    readonly: Boolean,
    error: Boolean,
    value: Object,
    showLabel: Boolean
  },
  computed: {
    ...mapGetters({
      lifeSkillCategories: GET_CATEGORIES
    }),
    options () {
      return this.lifeSkillCategories && Object.keys(this.lifeSkillCategories).map(catId => ({
        label: this.lifeSkillCategories[catId].name,
        value: catId
      }))
    },
    skillCategories: {
      get () {
        return mapToArray(this.value) || []
      },
      set (categoriesArray) {
        this.$emit('input', arrayToMap(categoriesArray))
      }
    }
  }
}
</script>
