<template>
  <q-select
    :float-label="showLabel ? 'Status' : null"
    :value="value"
    :error="error"
    :readonly="readonly"
    :options="options"
    @input="$emit('input', $event)"
  />
</template>

<script>

import { LifeSkillStatusUI } from 'shared/LifeSkillStatus.js'

export default {
  name: 'skill-status-input',
  props: {
    readonly: Boolean,
    error: Boolean,
    value: String,
    showLabel: Boolean
  },
  data () {
    return {
      options: Object.keys(LifeSkillStatusUI).map(status => {
        const statusUI = LifeSkillStatusUI[status]
        return {
          label: statusUI.label,
          value: status
        }
      })
    }
  }
}
</script>
