<template>
  <q-datetime
    :float-label="label"
    v-model="input"
    type="date"
    format="DD/MM/YYYY"
    @input="(val) => $emit('change', val)"
  />
</template>

<style lang="stylus" scoped>
</style>

<script>
export default {
  name: 'DateField',
  props: {
    label: String,
    name: String
  },
  data () {
    return {
      input: '',
      showing: false
    }
  }
}
</script>
