<template>
  <q-field
    class="field"
    color="black"
    :error-label="errorLabel"
    :error="error"
  >
    <q-input
      ref="input"
      class="input"
      :type="type"
      :value="value"
      :float-label="floatLabel"
      @keyup.enter="$emit('enter', $event)"
      @input="$emit('input', $event)"
      :autofocus="autofocus"
    />
  </q-field>
</template>

<style scoped lang="stylus">
.field
  width 100%

.input
  padding-bottom 5px
  font-size 1.25rem
  font-weight 300
</style>

<script>

export default {
  props: {
    floatLabel: String,
    type: String,
    error: Boolean,
    errorLabel: String,
    value: [String, Number],
    autofocus: Boolean
  },
  methods: {
    focus () {
      this.$refs.input.focus()
    }
  }
}
</script>
