<template>
  <q-card flat>
    <content-block-header
      :showRemoveBtn="true"
      :showMoveBtns="true"
      @remove-btn-clicked="removeBtnClicked"
      @move-btn-up-clicked="$emit('move-block-up')"
      @move-btn-down-clicked="$emit('move-block-down')"
    ></content-block-header>
    <q-card-separator></q-card-separator>
    <div class="ButtonBlockInner">
      <featured-title
        title="Title of your button"
        tooltip="Title of your button"
      />
      <q-field class="input"
        color="black">
        <q-input float-label="Title of your button"
          type="text"
          v-model="buttonText"
          @input="updateContent"/>
      </q-field>
      <div class="spacing" />
      <featured-title
        title="URL of your button"
        tooltip="URL of your button"
      />
      <q-field class="input"
        color="black">
        <q-input float-label="URL of your button"
          type="text"
          v-model="buttonUrl"
          @input="updateContent"/>
      </q-field>
    </div>
  </q-card>
</template>

<style lang="stylus" scoped>
.ButtonBlockInner
  padding 20px
  background #FFF
.spacing
  height 20px
  width 100%
</style>

<script>

import contentBlockHeader from 'components/content-block-header'
import { inputDebounce as dbnc } from 'shared/utils'
import featuredTitle from 'components/featured-title'

export default {
  props: {
    isBlog: Boolean,
    blockReference: {
      required: true
    }
  },
  components: {
    contentBlockHeader,
    featuredTitle
  },
  data () {
    return {
      buttonText: null,
      buttonUrl: null,
      bufferText: null,
      bufferUrl: null
    }
  },
  created () {
    let $this = this
    this.blockReference.onSnapshot(docSnapshot => {
      $this.buttonText = docSnapshot.get('buttonText') || null
      $this.buttonUrl = docSnapshot.get('buttonUrl') || null
      $this.bufferText = $this.buttonText
      $this.bufferUrl = $this.buttonUrl
    })
  },
  methods: {
    updateContent: dbnc(async function () {
      let oldValueText = this.bufferText,
        oldValueUrl = this.bufferUrl,
        newValueisEmptyText = !this.buttonText,
        newValueisEmptyUrl = !this.buttonUrl,
        oldValueIsEmptyText = !oldValueText,
        oldValueIsEmptyUrl = !oldValueUrl
      this.$emit('update-started')
      if (newValueisEmptyText && newValueisEmptyUrl && !oldValueIsEmptyText && oldValueIsEmptyUrl) {
        await this.blockReference.delete()
        this.$emit('empty')
      } else if (!newValueisEmptyUrl || newValueisEmptyText) {
        if (oldValueIsEmptyText || oldValueIsEmptyUrl) {
          await this.blockReference
            .set({buttonText: this.buttonText, buttonUrl: this.buttonUrl})
            .then(() => {
              this.$emit('content-added')
            })
        } else {
          await this.blockReference.set({buttonText: this.buttonText, buttonUrl: this.buttonUrl}, {merge: true})
        }
      }
      this.bufferText = this.buttonText
      this.bufferUrl = this.buttonUrl
      this.$emit('update-finished')
    }),
    remove () {
      return this.blockReference.delete()
    },
    removeBtnClicked () {
      this.$emit('remove', () => {
        this.remove()
      })
    }
  }
}
</script>

<style lang="stylus" scoped>
</style>
