<template>
  <image-upload
    ref="imageUploadEl"
    :existingImageObj="imageData"
    :fileMetadata="fileMetadata"
    :uploadPath="`articles/${articleId}/blocks/${blockReference.id}`"
    :showCaptionInput="true"
    :showAltTextInput="true"
    :showUploadCancelBtn="true"
    :showRemoveBlockBtn="true"
    :showMoveBtns="showMoveBtns"
    @image-obj-updated="updateContent($event)"
    @remove-btn-clicked="removeClicked"
    @move-block-up="$emit('move-block-up')"
    @move-block-down="$emit('move-block-down')"
    @cancel-btn-clicked="$emit('block-cancelled')">
  </image-upload>
</template>

<script>
import contentBlockHeader from 'components/content-block-header'
import imageUpload from 'components/image-upload'

export default {
  components: {
    contentBlockHeader,
    imageUpload
  },
  props: {
    blockReference: {
      required: true
    },
    fileMetadata: {
      required: true
    },
    articleId: {
      required: true
    },
    showMoveBtns: Boolean
  },
  data () {
    return {
      imageData: null
    }
  },
  created () {
    let $this = this
    this.blockReference.onSnapshot(docSnapshot => {
      $this.imageData = docSnapshot.get('imageData') || null
    })
  },
  methods: {
    async updateContent (newValue) {
      this.$emit('update-started')
      let oldValueIsEmpty = this.imageData === null
      if (oldValueIsEmpty) {
        await this.blockReference
          .set({imageData: newValue, type: 'image'})
          .then(() => {
            console.log('added')
            this.$emit('image-uploaded')
          })
      } else {
        await this.blockReference.set(
          {imageData: newValue}, {merge: true}
        ).then(result => console.log('result'))
      }
      this.$emit('update-finished')
    },
    remove () {
      return Promise.all([
        this.$refs.imageUploadEl.deleteImageFile(),
        this.blockReference.delete()
      ])
    },
    removeClicked (removeFilesFnc) {
      this.$emit('remove', () => {
        return this.remove()
      })
    }
  }
}
</script>

<style lang="stylus" scoped>

</style>
