<template>
  <q-card flat>
    <content-block-header
      :showRemoveBtn="true"
      :showMoveBtns="true"
      @remove-btn-clicked="removeBtnClicked"
      @move-btn-up-clicked="$emit('move-block-up')"
      @move-btn-down-clicked="$emit('move-block-down')"
    ></content-block-header>
    <q-card-separator></q-card-separator>
    <text-editor
      class="input"
      placeholder="Add content here ..."
      :isBlog="isBlog"
      v-model="content"
      @input="updateContent">
    </text-editor>
  </q-card>
</template>

<script>

import contentBlockHeader from 'components/content-block-header'
import textEditor from 'components/text-editor/text-editor'
import { inputDebounce as dbnc } from 'shared/utils'

export default {
  props: {
    isBlog: Boolean,
    blockReference: {
      required: true
    }
  },
  components: {
    contentBlockHeader,
    textEditor
  },
  data () {
    return {
      content: null,
      buffer: null
    }
  },
  async created () {
    const docData = await this.blockReference.get()
    this.content = docData && (docData.get('content') || null)
    this.blockReference.onSnapshot(docSnapshot => {
      const content = docSnapshot.get('content') || null
      this.buffer = content
    })
  },
  methods: {
    updateContent: dbnc(async function (newValue) {
      newValue = this.$sanitize(newValue)
      let oldValue = this.buffer,
        newValueisEpmty = newValue === '<p><br></p>' || !newValue,
        oldValueIsEmpty = oldValue === '<p><br></p>' || !oldValue
      this.$emit('update-started')
      if (newValueisEpmty && !oldValueIsEmpty) {
        await this.blockReference.delete()
        this.$emit('empty')
      } else if (!newValueisEpmty) {
        if (oldValueIsEmpty) {
          await this.blockReference
            .set({content: newValue, type: 'text'})
            .then(() => {
              this.$emit('content-added')
            })
        } else {
          await this.blockReference.set({content: newValue}, {merge: true})
        }
      }
      this.buffer = newValue
      this.$emit('update-finished')
    }),
    remove () {
      return this.blockReference.delete()
    },
    removeBtnClicked () {
      this.$emit('remove', () => {
        this.remove()
      })
    }
  }
}
</script>
