<template>
  <q-card flat>
    <content-block-header
      :showRemoveBtn="true"
      :showChangeBtn="true"
      :showMoveBtns="true"
      @change-btn-clicked="changeVideo"
      @remove-btn-clicked="removeVideo"
      @move-btn-up-clicked="$emit('move-block-up')"
      @move-btn-down-clicked="$emit('move-block-down')"
    ></content-block-header>
    <q-card-separator></q-card-separator>
    <video-player-component v-if="mediaId!==null" :mediaId="mediaId">
    </video-player-component>
    <video-uploader-component v-else @video-uploaded="videoUploadDone"></video-uploader-component>
  </q-card>
</template>

<style lang="stylus" scoped>
</style>

<script>
import contentBlockHeader from 'components/content-block-header'
import videoUploaderComponent from '../video/video-uploader'
import videoPlayerComponent from '../video/video-player'

export default {
  name: 'video-block-component',
  props: {
    blockReference: {
      required: true
    }
  },
  components: {
    contentBlockHeader,
    videoUploaderComponent,
    videoPlayerComponent
  },
  data () {
    return {
      mediaId: null
    }
  },
  created () {
    let $this = this
    this.blockReference.onSnapshot(docSnapshot => {
      $this.mediaId = docSnapshot.get('mediaId') || null
    })
  },
  methods: {
    async videoUploadDone (mediaId) {
      this.$emit('update-started')
      await this.blockReference.set({mediaId, type: 'video'})
      this.$emit('video-updated')
      this.$emit('update-finished')
    },
    changeVideo () {
      this.cleanVideoData()
      this.$emit('change-btn-clicked')
    },
    removeVideo () {
      this.$emit('remove', () => {
        this.cleanVideoData()
      })
    },
    cleanVideoData () {
      return Promise.all([
        this.deleteVideoFile(),
        this.blockReference.delete()
      ])
    },
    deleteVideoFile () {
      if (this.mediaId) {
        return this.$axios.wistia.deleteVideo(this.mediaId)
      }
    }
  }
}
</script>
