<template>
  <div class="stats-table">
    <styled-table
      minWidth
      :data="statsPerStatus"
      :pagination="tableConfig.pagination"
      :columns="tableConfig.columns">
    </styled-table>
  </div>
</template>

<script>
import { statusDisplayProperties, statusList } from '../../../shared/ArticleStatus.js'
import styledTable from 'components/styled-table'

const getInitialStatRows = () => {
  const statusRows = statusList.map(status => {
    return {
      status: statusDisplayProperties[status].name,
      value: status,
      stats: {}
    }
  })
  const totalRow = {
    status: '<b>Total</b>',
    stats: {}
  }
  return statusRows.concat(totalRow)
}

export default {
  name: 'content-stats-by-status',
  components: {
    styledTable
  },
  props: {
    articles: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      totalCount: 0,
      tableConfig: {
        columns: [
          { name: 'status', field: 'status', label: 'Status' },
          { name: 'articles', field: row => row.stats.textArticlesCount, label: 'Articles' },
          { name: 'videos', field: row => row.stats.videoArticlesCount, label: 'Videos' },
          { name: 'count', field: row => row.stats.all, label: 'All' }
        ]
      },
      statsPerStatus: getInitialStatRows()
    }
  },
  watch: {
    articles: {
      handler (val) {
        this.calculateArticlesCountsPerStatus()
      },
      immediate: true
    }
  },
  methods: {
    calculateArticlesCountsPerStatus () {
      this.totalCount = 0
      this.statsPerStatus.forEach(statusData => {
        const status = statusData.value
        statusData.stats = { ...this.getStatsForStatus(status) }
        this.totalCount += statusData.all
      })
    },
    getStatsForStatus (status) {
      let articlesMatchingStatus = this.articles
      if (status) {
        articlesMatchingStatus = articlesMatchingStatus
          .filter(article => article.status === status)
      }
      const all = articlesMatchingStatus.length
      const videoArticlesCount = articlesMatchingStatus
        .filter(article => !!article.featuredVideo).length
      const textArticlesCount = articlesMatchingStatus
        .filter(article => !article.featuredVideo).length

      return {
        textArticlesCount,
        videoArticlesCount,
        all
      }
    }
  }
}
</script>
