<template>
  <text-block class="full-height">
    <areas-of-life-table />
  </text-block>
</template>

<style lang="stylus" scoped>
.full-height
  min-height 100vh
</style>

<script>
import textBlock from 'components/ui/text-block'
import areasOfLifeTable from 'components/tables/areas-of-life-table'

export default {
  components: {
    areasOfLifeTable,
    textBlock
  }
}
</script>
