<template>
  <text-block class="full-height">
    <search-bar @search="search" placeholder="Search Qualities..." />
    <qualities-table :searchTerm="searchTerm" />
  </text-block>
</template>

<style lang="stylus" scoped>
.full-height
  min-height 100vh
</style>

<script>
import textBlock from 'components/ui/text-block'
import searchBar from 'components/search/search-bar'
import qualitiesTable from 'components/tables/qualities-table'

export default {
  components: {
    qualitiesTable,
    searchBar,
    textBlock
  },
  data: () => {
    return {
      searchTerm: ''
    }
  },
  methods: {
    search (term) {
      this.searchTerm = term
    }
  }
}
</script>
