<template>
  <q-page>
    <introduction>
      <h1>Tagging toolkit</h1>
      <p>This is where you'll find all clarifications on the tags you will be applying to your content. Make sure to make use of this tool before writing a new piece!</p>
    </introduction>
    <!-- Tabs -->
    <tab-controller :tabs="[
      // List of tabs
      { label: 'Soft Skills', slot: 'soft-skills' },
      { label: 'Qualities', slot: 'qualities' },
      { label: 'Areas of life', slot: 'areas-of-life' }
    ]">
      <!-- soft Skills List -->
      <life-skills slot="soft-skills" />
      <!-- Qualities List -->
      <qualities slot="qualities" />
      <!-- Qualities List -->
      <areas-of-life slot="areas-of-life" />
    </tab-controller>
  </q-page>
</template>

<script>
import tabController from 'components/ui/tabs/tab-controller'
import introduction from 'components/pages/getting-started/introduction'

import lifeSkills from './life-skills'
import qualities from './qualities'
import areasOfLife from './areas-of-life'

export default {
  components: {
    introduction,
    tabController,
    lifeSkills,
    qualities,
    areasOfLife
  }
}
</script>
