<template>
  <q-page class="content" v-if="initialised">
    <search-header :initialValue="searchTerm" @search="setSearchTermDbcd" placeholder="Search content">
    </search-header>
    <content-status-dropdown
      class="status-dropdown"
      placeholder="Select status"
      float-label="Article status"
      :selectedStatus.sync="selectedStatus"
      :customStatusOptions="availableStatuses"
    />
    <approval-list
      :searchTerm="searchTerm"
      :status="selectedStatuses"
      :filters="filters"
    />
  </q-page>
</template>

<style scoped lang="stylus">
.content
  display flex
  flex-direction column
  align-items center
  margin 0 auto
  padding 1rem
.status-dropdown
  align-self flex-start
  margin-top 1rem
</style>

<script>
import { mapActions, mapGetters } from 'vuex'
import { SET_FILTERS, SET_STATUS, SET_SEARCH_TERM, RESET } from 'store/content/list/action.types'
import { GET_STATUS, GET_SEARCH_TERM, GET_FILTERS, GET_AVAILABLE_STATUSES } from 'store/content/list/getter.types'

import articleStatusBar from 'components/article-status-bar'
import searchHeader from 'components/search/search-header'
import approvalList from 'components/pages/content-list/approval-list'
import ArticleStatus from '../shared/ArticleStatus.js'
import contentStatusDropdown from 'components/content-status-dropdown'

import { searchDebounce } from 'shared/utils'

export default {
  name: 'approval-queue-page',
  components: {
    articleStatusBar,
    searchHeader,
    approvalList,
    contentStatusDropdown
  },
  data () {
    return {
      collection: null,
      focus: null,
      initialised: false,
      selectedStatus: 'all',
      availableStatuses: [ArticleStatus.InReview, ArticleStatus.ReviewNeeded]
    }
  },
  methods: {
    ...mapActions({
      setFilters: SET_FILTERS,
      setStatus: SET_STATUS,
      setSearchTerm: SET_SEARCH_TERM,
      resetSearchStore: RESET
    }),
    setSearchTermDbcd: searchDebounce(function (term) {
      this.setSearchTerm(term)
    }),
    processReceivedCriteria (query) {
      let {status, focus} = query
      if (status) {
        this.setStatus(status)
      }
      this.focus = focus
      this.setFilters(query)
    },
    init (query) {
      if (!this.$route.meta.fromHistory) {
        this.resetSearchStore()
      }
      this.processReceivedCriteria(query)
      this.initialised = true
    }
  },
  computed: {
    ...mapGetters({
      status: GET_STATUS,
      occuringStatuses: GET_AVAILABLE_STATUSES,
      searchTerm: GET_SEARCH_TERM,
      filters: GET_FILTERS
    }),
    selectedStatuses () {
      if (this.selectedStatus === 'all') {
        return this.availableStatuses
      }
      return [this.selectedStatus]
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => vm.init(vm.$route.query))
  },
  beforeRouteUpdate (to, from, next) {
    next()
    this.init(this.$route.query)
  },
  watch: {
    criteria (filters) {
      this.setFilters(filters)
    }
  }
}
</script>
