<template>
  <q-page class="content">
    <sidebar-view :sidebarHidden="!$accessControl.userAllowedTo('listBlogsInReview')" no-padding>
      <div class="container" slot="main">
        <iframe
          :src="`${webapp.url}/${webapp.preview}/${articleId}`"
          :style="previewElStyles"
          class="preview-container"
          :class="{ desktop }">
        </iframe>
      </div>
      <div slot="sidebar" class="sidebar">
        <article-status-selector
          class="status-selector"
          :articleId="articleId"
          :articleData="articleData"
          @update-article="updateArticleListener">
        </article-status-selector>
      </div>
    </sidebar-view>
  </q-page>
</template>

<style lang="stylus" scoped>
@import '~variables'
.container
  display flex
  width 100%
.preview-container
  z-index: 1
  border 40px solid #ddd;
  border-width 55px 7px
  border-radius 40px
  margin 10px auto
  width 400px
  height 640px
  transition all 0.5s ease
  box-shadow 0px 3px 0 #BBB, 0px 4px 0 #BBB, 0px 5px 0 #BBB, 0px 7px 0 #BBB, 0px 10px 20px #666
  &.desktop
    box-shadow none
    border none
    border-radius 0
    margin-top 0
    background $light-grey
.status-selector
  width 100%
</style>

<script>
import articleStatusSelector from 'components/article/article-status-selector'
import blogMixin from 'components/article/blog-mixin'
import sidebarView from 'components/sidebar-view'
import config from '../config'

export default {
  name: 'content-preview',
  props: {
    tablet: Boolean,
    mobile: Boolean,
    desktop: Boolean
  },
  mixins: [blogMixin],
  components: {
    articleStatusSelector,
    sidebarView
  },
  data () {
    return {
      articleId: null,
      webapp: config.webapp
    }
  },
  async created () {
    this.articleId = this.$route.params.id
    await this.fetchArticleData(this.articleId)
  },
  computed: {
    previewElStyles () {
      if (this.desktop) {
        return {
          width: '100%',
          margin: 0,
          height: 'calc(100vh - 50px)'
        }
      }
      let width = 360
      let height = 640
      if (this.tablet) {
        width = 1024
        height = 768
      }
      let styles = {
        width: width + 'px',
        height: height + 'px'
      }

      let availableWidth = (window.innerWidth - 260) * (0.75 - 0.1)
      if (availableWidth < width) {
        styles.zoom = availableWidth / width
      }

      return styles
    }
  }
}
</script>
