<template>
  <q-page class="content">
    <sidebar-view>
      <div slot="main" class="main" :class="{ 'editing-disabled': articleEditingDisabled }">
        <info-warn v-if="articleEditingDisabled" :info="articleEditingDisabledWarn"/>
        <div class="field-container">
          <div class="row">
            <featured-title
              title="Which category does this content address?"
              tooltip="Please select at least one category that this content addresses."
            />
            <subtitle>Select a category</subtitle>
            <category-selector
              :uid="id"
              :getCategory="articleData.category"
              :error="$v.articleData.category.$error"
              v-model="$v.articleData.category.$model"
              @input="updateCategory"
            />
          </div>
        </div>
        <div class="field-container">
          <div class="row gutter-lg">
            <div class="col">
              <featured-title
                title="Featured image"
                tooltip="This is an image that will be displayed at the top of your content."
                class="col"
              />
              <image-upload
                ref="featuredImageBlock"
                class="featured-image-block"
                :existingImageObj="articleData.featuredImage"
                :showAltTextInput="true"
                :showCaptionInput="true"
                :uploadPath="`articles/${document.id}/featured-image`"
                :fileMetadata="fileMetadata"
                @image-obj-updated="saveFeaturedImage($event)"
                @remove-btn-clicked="removeFeaturedImage($event)"
                :error="$v.articleData.featuredImage.$error"
              />
              <error-label v-if="$v.articleData.featuredImage.$error">Please upload an image</error-label>
            </div>
            <div class="col">
              <featured-video-component
                    ref="featuredVideoComponent"
                    :mediaId="articleData.featuredVideo && articleData.featuredVideo.mediaId"
                    @save-featured-video="saveFeaturedVideo($event)"
                    @remove-featured-video="removeFeaturedVideo($event)"
              />
            </div>
          </div>
        </div>
        <div class="field-container">
          <featured-title
            title="Title of your content"
            tooltip="Please write an engaging title that explains what the content promises to deliver."
          />
          <q-field class="input"
            :error="$v.articleData.title.$error"
            color="black"
            :error-label="!$v.articleData.title.maxLength ? 'Article title exceeds allowed character limit' : 'Please type a title'"
            :count="$v.articleData.title.$params.maxLength.max">
            <q-input float-label="Title of your content"
              type="text"
              :value="userArticleData.title"
              @input="updateTitle"
              :max-length="$v.articleData.title.$params.maxLength.max"/>
          </q-field>
          <featured-title
            title="Introduction to your content"
            tooltip="Please write a short, attention grabbing summary that tells the Member what your content is about and inspires them to keep reading/watching/listening."
          />
          <subtitle>This field is optional</subtitle>
          <text-editor
            ref="introTextEditor"
            class="input"
            :value="userArticleData.intro"
            @input="updateIntro"
            advancedFormattingDisabled="true">
          </text-editor>
          <featured-title
            title="Main article content"
            tooltip="Once a Title and Intro have been written, you should then 'Add Section' to create the main body of your content."
            note="(a minimum of 1 section is required)"
          />
          <p>All content beyond this point is the main body of the article. You may add as many or as few sections as you like to build up your article.</p>
          <p>If you’re unsure on how to structure your article or what to write about take a look at the <router-link class="link" to="/getting-started">Getting started guide</router-link>.</p>
          <body-blocks-editor
            showRemoveBtn="true"
            ref="blocksEditor"
            :article="document"
            :articleId="id"
            :fileMetadata="fileMetadata"
            :isBlog=true
            :error="$v.articleData.blocks.$error"
            @update-started="notifyOfUpdateOperation(true)"
            @update-finished="notifyOfUpdateOperation(false)"
          />
        </div>
        <div class="field-container">
          <featured-title
            title="SEO"
            :padding="{
              top: true,
              bottom: true
            }"
          />
          <featured-title
            title="Slug"
            tooltip="Slugsluglslugslug"
          />
          <q-field class="input"
            color="black">
            <q-input float-label="URL of your content"
              type="text"
              v-model="userArticleData.slug"
              @blur="resetSlug"
              @input="updateSlug"/>
            <q-input
              style="display:none"
              type="text"
              v-model="userArticleData.manualSlug"/>
          </q-field>
          <featured-title
            title="Title"
            tooltip="Slugsluglslugslug"
          />
          <q-field class="input"
            color="black">
            <q-input float-label="Title for search engines"
              type="text"
              v-model="userArticleData.seoTitle"
              @input="updateSeoTitle"/>
          </q-field>
          <featured-title
            title="Description"
            tooltip="Slugsluglslugslug"
          />
          <q-field class="input"
            color="black">
            <q-input float-label="Description for search engines"
              type="text"
              v-model="userArticleData.seoDescription"
              @input="updateSeoDescription"/>
          </q-field>
        </div>
      </div>
      <div slot="sidebar" class="sidebar">
        <blog-status-selector
          class="status-selector"
          :articleId="id"
          :articleData="articleData"
          :customForm="$v"
          @update-article="updateArticleListener"
          @show-form-errors="$v.articleData.$touch()"
        />
        <saving-indicator :pendingSaveOperations="pendingSaveOperations"/>
        <article-author-selector
          :articleId="id"
          :articleData="articleData"
          @update-article="updateArticleListener"
          :defaultAuthor="currentUserAuthorProfileRef"
        />
        <div class="sidebar-field-group" :class="{ 'editing-disabled': articleEditingDisabled }">
          <q-btn
            v-if="!articleEditingDisabled"
            class="btn btn-delete"
            no-caps
            @click="deleteArticle"
            icon="delete"
            label="Delete article"/>
        </div>
      </div>
    </sidebar-view>
  </q-page>
</template>

<style scoped lang="stylus">
@import '~variables'
.main
  width 100%
.content
  display flex
  flex-direction row
  align-items flex-start
.field-container, .input, .btn,
.status-selector
  width 100%
.things-to-do
  width 50%
.btn
  padding 14px
  border 1px solid
  border-radius: 12px
  background-color: #FFFFFF
  box-shadow none
  font-size 1rem
  margin-top 0rem
  margin-bottom 1rem
.btn-delete
  color $negative
  border-color $negative
  background none
  padding 0
.field-container,
.input,
.required-fields-note,
.guide-link
  margin-bottom 2rem
.input, .title, .subtitle
  text-align left
  width 100%
.subtitle
  color #1A0026
  font-size 14px
.field-label
  margin-bottom 1rem
  font-size 14px
.editing-disabled
  pointer-events none
  .field-container
    opacity 0.4
.error-message
  color red
.required-fields-note
  width 320px
.link
  color $link-color
.sidebar-field-group
  width 100%
.article-title >>> input
  font-size 20px
</style>

<script>
import firebase from 'firebase/app'
import 'firebase/database'
import bodyBlocksEditor from 'components/body-blocks-editor'
import imageBlockComponent from 'components/content-blocks/image'
import featuredVideoComponent from 'components/video/featured-video'
import featuredTitle from 'components/featured-title'
import thingsToDoInput from 'components/things-to-do-input'
import referencedArticlesInput from 'components/article/article-references-input'
import textEditor from 'components/text-editor/text-editor'
import ArticleStatus from '../shared/ArticleStatus'
import articleStatusBar from 'components/article-status-bar'
import imageUpload from 'components/image-upload'
import categorySelector from 'components/editor/category-selector/selector'
import articleTypeToggle from 'components/editor/article-type-toggle'
import blogStatusSelector from 'components/article/blog-status-selector'
import articleAuthorSelector from 'components/article/article-author-selector'
import blogMixin from 'components/article/blog-mixin'
import savingIndicator from 'components/article/saving-indicator'
import sidebarView from 'components/sidebar-view'
import infoWarn from 'components/ui/info-warn'
import {articleUiValidators} from '../shared/ArticleValidators.js'
import chipBar from 'components/ui/chip-bar'
import subtitle from 'components/ui/subtitle'
import errorLabel from 'components/ui/error-label'
import linkTo from 'components/ui/link'
import styleguideLink from 'components/editor/styleguide-link'
import articlePreviewLink from 'components/editor/article-preview-link'
import { inputDebounce as dbnc } from 'shared/utils'
import ArticleFocus from 'shared/ArticleFocus'

export default {
  name: 'content-edit',
  mixins: [blogMixin],
  validations: {
    articleData: articleUiValidators('introTextEditor', 'blocksEditor', 'blog')
  },
  components: {
    bodyBlocksEditor,
    imageBlockComponent,
    featuredVideoComponent,
    featuredTitle,
    thingsToDoInput,
    textEditor,
    articleStatusBar,
    imageUpload,
    categorySelector,
    blogStatusSelector,
    articleAuthorSelector,
    sidebarView,
    referencedArticlesInput,
    savingIndicator,
    infoWarn,
    chipBar,
    subtitle,
    errorLabel,
    linkTo,
    styleguideLink,
    articlePreviewLink,
    articleTypeToggle
  },
  async created () {
    this.id = this.$route.params.id
    await this.fetchArticleData(this.id)
    this.userArticleData = { ...this.articleData }
    this.currentUserAuthorProfileRef = await this.getAuthorProfileForCurrentUser()
  },
  data () {
    return {
      userArticleData: '',
      currentUserAuthorProfileRef: null,
      ArticleFocus
    }
  },
  methods: {
    async updateField ({ name, value, emptyValue = '', replaceExistingObject = false }) {
      let newValue = (this.articleData[name] === emptyValue) ? firebase.firestore.FieldValue.delete() : value
      await this.updateArticle({[name]: newValue}, replaceExistingObject)
    },
    updateToolData (toolName, selectedToolItemsMap) {
      this.updateField({ name: toolName, value: selectedToolItemsMap, emptyValue: [], replaceExistingObject: true })
    },
    updateCategory (value) {
      this.updateField({ name: 'category', value })
    },
    updateTitle: dbnc(function (value) {
      if (!value) {
        value = this.userArticleData.title
      }
      if (!this.userArticleData.manualSlug) {
        const slugValue = this.convertToSlug(value)
        this.articleData.slug = this.userArticleData.slug = slugValue
        this.updateField({ name: 'slug', value: slugValue })
      }
      this.articleData.title = value
      this.updateField({ name: 'title', value })
    }),
    updateSlug: dbnc(function (value) {
      const slugValue = this.convertToSlug(value)
      const update = this.userArticleData.slug === ''
      this.updateField({ name: 'manualSlug', value: !update })
      this.updateField({ name: 'slug', value: slugValue })
      this.articleData.slug = this.userArticleData.slug = slugValue
    }),
    updateSeoTitle: dbnc(function (value) {
      this.updateField({ name: 'seoTitle', value })
      this.articleData.seoTitle = value
    }),
    updateSeoDescription: dbnc(function (value) {
      this.updateField({ name: 'seoDescription', value })
      this.articleData.seoDescription = value
    }),
    resetSlug () {
      if (!this.userArticleData.slug) {
        this.updateTitle()
      }
    },
    updateIntro: dbnc(function (value) {
      this.articleData.intro = value
      this.updateField({ name: 'intro', value })
      this.$v.articleData.intro.$touch()
    }),
    deleteArticle () {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to delete the article?',
        ok: 'Yes',
        cancel: 'No'
      }).then(async () => {
        this.$q.loading.show()
        this.$refs.featuredVideoComponent.deleteVideoMedia()
        await Promise.all([
          this.$refs.blocksEditor.deleteBody(),
          this.$refs.featuredImageBlock.deleteImageFile(),
          this.document.delete()
        ])
        this.$router.back()
        this.$q.loading.hide()
      })
    },
    saveFeaturedImage (updatedImageObj) {
      this.articleData.featuredImage = updatedImageObj
      this.updateField({ name: 'featuredImage', value: this.articleData.featuredImage, emptyValue: {}, replaceExistingObject: true })
    },
    saveFeaturedVideo (mediaId) {
      this.articleData.featuredVideo = { mediaId }
      this.updateField({ name: 'featuredVideo', value: this.articleData.featuredVideo, emptyValue: {}, replaceExistingObject: true })
    },
    hasFeaturedVideo () {
      return this.articleData.featuredVideo && this.articleData.featuredVideo.mediaId
    },
    removeFeaturedImage (removeImageFileFnc) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to delete the existing featured image?',
        ok: 'Yes',
        cancel: 'No'
      }).then(async () => {
        this.updateArticle({featuredImage: firebase.firestore.FieldValue.delete()})
        removeImageFileFnc()
      }).catch(() => {
        console.log('Canceled')
      })
    },
    removeFeaturedVideo (removeVideoCallback) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to delete the existing featured video?',
        ok: 'Yes',
        cancel: 'No'
      }).then(async () => {
        this.updateArticle({featuredVideo: firebase.firestore.FieldValue.delete()})
        if (removeVideoCallback) {
          removeVideoCallback()
        }
      }).catch(() => {
        console.log('Canceled')
      })
    },
    async getAuthorProfileForCurrentUser () {
      let currentUser = this.$firebase.auth.currentUser()
      return this.$firebase.users.getOrCreateAuthorProfileForUser(currentUser.uid, {displayName: currentUser.displayName})
    },
    updateThingsToDo: dbnc(function (value) {
      this.updateField({ name: 'thingsToDo', value: value, emptyValue: [] })
    }),
    updateReferencedArticles (value) {
      this.updateField({ name: 'referencedArticles', value: value, emptyValue: [] })
    },
    convertToSlug (title) {
      if (!title) {
        return ''
      }
      const a = 'àáäâãåăæąçćčđďèéěėëêęğǵḧìíïîįłḿǹńňñòóöôœøṕŕřßşśšșťțùúüûǘůűūųẃẍÿýźžż·/_,:;'
      const b = 'aaaaaaaaacccddeeeeeeegghiiiiilmnnnnooooooprrsssssttuuuuuuuuuwxyyzzz------'
      const p = new RegExp(a.split('').join('|'), 'g')

      return title.toString().toLowerCase()
        .replace(/\s+/g, '-') // Replace spaces with -
        .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
        .replace(/&/g, '-and-') // Replace & with 'and'
        .replace(/[^\w-]+/g, '') // Remove all non-word characters
        .replace(/--+/g, '-') // Replace multiple - with single -
        .replace(/^-+/, '') // Trim - from start of text
        .replace(/-+$/, '') // Trim - from end of text
    }
  },
  computed: {
    formIsEmpty () {
      let titleIsEmpty = this.titleBuffer === '',
        introIsEmpty = this.introBuffer === '',
        articleFormIsEmpty = !Object.values(this.articleData).some(Boolean),
        noBlocksAdded = this.$refs.blocksEditor && this.$refs.blocksEditor.blocks.length === 0
      return titleIsEmpty && introIsEmpty && articleFormIsEmpty && noBlocksAdded
    },
    articleOwner () {
      return this.articleData.owner || this.$firebase.auth.currentUser().uid
    },
    fileMetadata () {
      return {
        owner: this.articleOwner,
        published: this.articleData.status === ArticleStatus.Published
      }
    },
    articleEditingDisabled () {
      if (this.$accessControl.userAllowedTo('updateBlogs')) {
        return false
      }
      let articleBelongsToCurrentUser = !this.articleData.owner || this.articleData.owner === this.$firebase.auth.currentUser().uid
      if (!articleBelongsToCurrentUser) {
        return true
      }
      return this.articleData.status === ArticleStatus.ReviewNeeded || this.articleData.status === ArticleStatus.Published
    },
    articleEditingDisabledWarn () {
      return this.articleData.status === ArticleStatus.ReviewNeeded
        ? 'Submitted for approval. Article locked.'
        : this.articleData.status === ArticleStatus.Published
          ? 'Published. Article locked.'
          : 'Article locked.'
    }
  },
  watch: {
    formIsEmpty (isEmpty) {
      if (isEmpty && this.documentExists) {
        this.document.delete()
      }
    }
  }
}
</script>
