<template>
  <q-page class="content">
    <search-header @search="search" placeholder="Search content" align-left>
      <PrimaryBtn
        v-if="$accessControl.userAllowedTo('createBlogs')"
        class="btn-add"
        icon="add"
        @click="add"
        title="Add new content"
        dark
      />
    </search-header>
    <criteria-label
      class="criteria-label"
      :criteria="criteria"
      :focus="focus"
    />
    <content-status-dropdown
      class="article-status-dropdown"
      placeholder="Select status"
      float-label="Article status"
      :selectedStatus.sync="selectedStatus"
      :customStatusOptions="availableStatusSelectOptions"
    />
    <blog-list
      :collection="collection"
      :selectedStatus="selectedStatus"
      :searchTerm="searchTerm"
    />
  </q-page>
</template>

<style scoped lang="stylus">
.content
  display flex
  flex-direction column
  align-items center
  margin 0 auto
  padding 1rem

.btn-add
  align-self flex-start

.article-status-dropdown,
.criteria-label
  align-self flex-start
  margin-top 1rem
</style>

<script>
import { firebase } from 'plugins/firebase'
import { mapActions } from 'vuex'
import articleStatusBar from 'components/article-status-bar'
import ArticleStatus, {statusList} from '../shared/ArticleStatus.js'
import Permission from '../shared/access-control/Permission.js'
import { PrimaryBtn } from 'components/ui/buttons'
import contentStatusDropdown from 'components/content-status-dropdown'
import criteriaLabel from 'components/pages/content-list/criteria-label'
import searchHeader from 'components/search/search-header'
import { PULL_AUTHOR_DATA } from 'store/authors/action.types'
import blogList from 'components/pages/content-list/blog-list'

let unsubscribeFromArticleListUpdates = null

export default {
  name: 'content-list-page',
  components: {
    articleStatusBar,
    PrimaryBtn,
    contentStatusDropdown,
    criteriaLabel,
    searchHeader,
    blogList
  },
  data () {
    return {
      collection: null,
      selectedStatus: 'all',
      focus: null,
      searchTerm: '',
      criteria: {}
    }
  },
  methods: {
    ...mapActions({
      pullAuthorData: PULL_AUTHOR_DATA
    }),
    search (term) {
      this.searchTerm = term
    },
    add () {
      this.$router.push(`/blog/${firebase.content.collection('blogs').doc().id}`)
    },
    filterArticlesBasedOnCriteria (articles) {
      const criteria = this.criteria
      if (criteria) {
        Object.keys(criteria).forEach(filter => {
          const filterProp = filter
          const filterVal = criteria[filter]
          articles = articles.where(`${filterProp}.${filterVal}`, '==', true)
        })
      }
      if (this.focus) {
        articles = articles.where(`focus`, '==', this.focus)
      }
      return articles
    },
    filterArticlesBasedOnUserRole (articles) {
      let showAllArticles = this.$accessControl.userAllowedTo(Permission.ListArticles)
      let showOnlyArticlesSentForReview = this.userAllowedOnlyToReview

      if (!showAllArticles) {
        if (showOnlyArticlesSentForReview) {
          articles = articles.where('status', '>', ArticleStatus.Draft) // Firestore does not support exclusion and logical OR queries
        } else {
          let user = firebase.auth.currentUser()
          articles = articles.where('owner', '==', user.uid)
        }
      }
      return articles
    },
    constructArticleQuery () {
      let articles = firebase.content.collection('blogs')
      articles = this.filterArticlesBasedOnCriteria(articles)
      articles = this.filterArticlesBasedOnUserRole(articles)
      return articles
    },
    processReceivedCriteria () {
      let {status, focus, ...receivedCriteria} = this.$route.query
      if (status) {
        this.selectedStatus = status
      }
      this.focus = focus
      this.criteria = receivedCriteria
    },
    init () {
      this.processReceivedCriteria()
      const articleQuery = this.constructArticleQuery()
      this.unsubscribe()
      unsubscribeFromArticleListUpdates = this.loadArticles(articleQuery)
    },
    unsubscribe () {
      if (unsubscribeFromArticleListUpdates) {
        unsubscribeFromArticleListUpdates()
      }
    },
    loadAuthorData (articles) {
      const authorIds = [...new Set(this.collection.map(article => article.authorProfile))].filter(Boolean)
      authorIds.forEach(id => this.pullAuthorData(id))
    },
    loadArticles (articles) {
      return articles.onSnapshot(async (snapshot) => {
        this.collection = snapshot.docs.map(doc => {
          const article = doc.data()
          article.id = doc.id
          return article
        })
        this.loadAuthorData(this.collection)
        if (this.userAllowedOnlyToReview) {
          let foundArticlesNeedingReview = this.collection.filter(article => article.status !== ArticleStatus.ReviewNeeded).length > 0
          if (foundArticlesNeedingReview) {
            this.selectedStatus = ArticleStatus.ReviewNeeded
          }
        }
      }, function (error) {
        console.log('articles err', error)
      })
    }
  },
  async mounted () {
    this.init()
  },
  beforeDestroy () {
    this.collection = null
    this.unsubscribe()
  },
  computed: {
    availableStatusSelectOptions () {
      if (!this.collection) return
      return statusList.filter(
        status => this.collection.find(
          article => article.status === status
        )
      )
    },
    userAllowedOnlyToReview () {
      return !this.$accessControl.userAllowedTo(Permission.ListBlogs) && this.$accessControl.userAllowedTo(Permission.ListBlogsInReview)
    }
  },
  watch: {
    '$route.query': {
      handler () {
        this.init()
      },
      deep: true
    }
  }
}
</script>
