<template>
  <q-page class="content" data-test-id="content-edit-page">
    <sidebar-view>
      <div slot="main" class="main" :class="{ 'editing-disabled': articleEditingDisabled }">
        <info-warn v-if="articleEditingDisabled" :info="articleEditingDisabledWarn"/>
        <styleguide-link class="guide-link"/>
        <chip-bar class="required-fields-note"
          label="All fields are required unless stated otherwise">
        </chip-bar>
        <article-type-toggle
          :focus="articleData.focus"
          :articleDataReady="articleDataReady"
          @updated="updatefocus"
        />
        <div class="field-container">
          <div class="row">
            <featured-title
              title="Which Areas of Life does this content address?"
              tooltip="Please select at least one Area of Life that this content addresses."
            />
            <subtitle>Select at least 1</subtitle>
            <priorities-selector
              :uid="id"
              :error="$v.articleData.priorities.$error"
              v-model="$v.articleData.priorities.$model"
              @input="updateToolData('priorities', $event)"
            />
          </div>
        </div>
        <div class="field-container">
          <qualities-multi-select
            class="input"
            :validation="$v.articleData.qualities"
            :focus="articleData.focus"
            :selectedItems="articleData.qualities"
            @input="updateToolData('qualities', $event)"
          />
        </div>
        <div class="field-container"
          v-if="articleData.focus !== ArticleFocus.Quality">
          <life-skills-multi-select
            class="input"
            :validation="$v.articleData.lifeSkills"
            :selectedItems="articleData.lifeSkills"
            @input="updateToolData('lifeSkills', $event)"
          />
        </div>
        <div class="field-container">
          <div class="row gutter-sm">
            <div class="col">
              <featured-title
                title="Featured image"
                tooltip="This is an image that will be displayed at the top of your content."
                class="col"
              />
              <image-upload
                ref="featuredImageBlock"
                class="featured-image-block"
                :existingImageObj="articleData.featuredImage"
                :showAltTextInput="true"
                :uploadPath="`articles/${document.id}/featured-image`"
                :fileMetadata="fileMetadata"
                @image-obj-updated="saveFeaturedImage($event)"
                @remove-btn-clicked="removeFeaturedImage($event)"
                :error="$v.articleData.featuredImage.$error"
              />
              <error-label v-if="$v.articleData.featuredImage.$error">Please upload an image</error-label>
            </div>
            <div class="col">
              <featured-video-component
                    ref="featuredVideoComponent"
                    :mediaId="articleData.featuredVideo && articleData.featuredVideo.mediaId"
                    @save-featured-video="saveFeaturedVideo($event)"
                    @remove-featured-video="removeFeaturedVideo($event)"
              />
            </div>
          </div>
        </div>
        <div class="field-container">
          <featured-title
            title="Title of your content"
            tooltip="Please write an engaging title that explains what the content promises to deliver."
          />
          <q-field class="input article-title"
            :error="$v.articleData.title.$error"
            color="black"
            :error-label="!$v.articleData.title.maxLength ? 'Article title exceeds allowed character limit' : 'Please type a title'"
            :count="$v.articleData.title.$params.maxLength.max">
            <q-input
              data-test-id="content-title-input"
              float-label="Title of your content"
              type="text"
              :value="userArticleData.title"
              @input="updateTitle"
              :max-length="$v.articleData.title.$params.maxLength.max"/>
          </q-field>
          <featured-title
            title="Introduction to your content"
            tooltip="Please write a short, attention grabbing summary that tells the Member what your content is about and inspires them to keep reading/watching/listening."
          />
          <subtitle>This field is optional</subtitle>
          <text-editor
            data-test-id="content-intro-text"
            ref="introTextEditor"
            class="input"
            :error="$v.articleData.intro.$error"
            :error-label="!$v.articleData.intro.maxLength ? 'Article intro exceeds allowed character limit' : !$v.articleData.intro.differentToFirstBlock ? 'Article intro is the same as the first section of the article body' : ''"
            :value="userArticleData.intro"
            @input="updateIntro"
            advancedFormattingDisabled="true"
            :count="$v.articleData.intro.$params.maxLength.value">
          </text-editor>
          <featured-title
            title="Main article content"
            tooltip="Once a Title and Intro have been written, you should then 'Add Section' to create the main body of your content."
            note="(a minimum of 1 section is required)"
          />
          <p>All content beyond this point is the main body of the article. You may add as many or as few sections as you like to build up your article.</p>
          <p>If you’re unsure on how to structure your article or what to write about take a look at the <router-link class="link" to="/getting-started">Getting started guide</router-link>.</p>
          <body-blocks-editor
            showRemoveBtn="true"
            ref="blocksEditor"
            :articleId="id"
            :fileMetadata="fileMetadata"
            :error="$v.articleData.blocks.$error"
            @update-started="updateBlocks(true)"
            @update-finished="updateBlocks(false)"
          />
        </div>
        <div class="field-container">
          <things-to-do-input
            class="things-to-do"
            :error="$v.articleData.thingsToDo.$error"
            :thingsToDo="userArticleData.thingsToDo"
            @input="updateThingsToDo"
          />
        </div>
      </div>
      <div slot="sidebar" class="sidebar">
        <article-status-display
          class="status-display"
          :articleId="id"
          :articleData="articleData"
          :customForm="$v"
          :tncDialog="tncDialog"
          @hide-tnc="tncDialog = false"
          @update-article="updateArticleListener"
          @show-form-errors="$v.articleData.$touch()"
        />
        <div
          v-if="displayFeedback"
          @click="feedbackNotesOpen = !feedbackNotesOpen"
          class="feedback-notes sidebar-window"
        >
          <q-icon
            class="feedback-notes__icon"
            :name="feedbackNotesOpen ? 'close' : 'arrow_drop_down'"
          />
          <p class="feedback-notes__title">Feedback notes</p>
          <transition name="fade">
            <div class="feedback-notes__content" v-if="feedbackNotesOpen">
              <div v-html="feedback"/>
              <div class="feedback-notes__footnote">
                For any comments or questions, please contact <a :href="editorialEmailLink">editorial@qdooz.com</a>
              </div>
            </div>
          </transition>
        </div>
        <article-author-selector
          :articleId="id"
          :articleData="articleData"
          @update-article="updateArticleListener"
          :defaultAuthor="currentUserAuthorProfileRef"
        />
        <article-preview-link :id="id" :isPublished="fileMetadata.published" />
        <saving-indicator :pendingSaveOperations="pendingSaveOperations"/>
        <article-status-selector
          class="status-selector"
          :articleId="id"
          :articleData="articleData"
          :customForm="$v"
          :authorId="articleData.authorProfile"
          @show-tnc="tncDialog = true"
          @send-feedback="sendFeedback"
          @update-article="updateArticleListener"
          @show-form-errors="$v.articleData.$touch()"
        />
        <div class="sidebar-field-group" :class="{ 'editing-disabled': articleEditingDisabled }">
          <q-btn
            data-test-id="delete-article"
            v-if="!articleEditingDisabled"
            class="btn btn-delete"
            no-caps
            @click="deleteArticle"
            icon="delete"
            label="Delete article"/>
        </div>
        <div v-if="$accessControl.user.isContentAdmin" class="sidebar-window sidebar-window--controls">
          <moderator-controls :articleLogs="articleLogs" :ipSetting="ipSetting" :id="id" :status="articleData.status"/>
        </div>
      </div>
      <article-feedback
        slot="feedback"
        v-if="articleFeedbackEnabled"
        :articleId="id"
        :articleData="userArticleData"
        :feedback="feedback"
        :authorId="articleData.authorProfile"
        @send-feedback="sendFeedback"
        @update-article="updateArticleListener"
        @delete-article="deleteArticle"
        />
    </sidebar-view>
  </q-page>
</template>

<style scoped lang="stylus">
@import '~variables'
.main
  width 100%
.content
  display flex
  flex-direction row
  align-items flex-start
.field-container, .input, .btn,
.status-selector
  width 100%
.things-to-do
  width 75%
.btn
  padding 13px
  border 1px solid
  border-radius: 25px
  background-color: #FFFFFF
  box-shadow none
  font-size 1rem
  margin-top 0rem
  margin-bottom 1rem
.btn-delete
  color $negative
  border-color transparent
  background none
  padding 0
.field-container,
.input,
.required-fields-note,
.guide-link
  margin-bottom 2rem
.input, .title, .subtitle
  text-align left
  width 100%
.subtitle
  color #1A0026
  font-size 14px
.field-label
  margin-bottom 1rem
  font-size 14px
.editing-disabled
  pointer-events none
  .field-container
    opacity 0.4
.error-message
  color red
.required-fields-note
  width 320px
.link
  color $link-color
.sidebar-field-group
  width 100%
.sidebar-window
  width 100%
  background white
  border-radius 10px
  padding 15px
  border 1px solid #e0e0e0
  position relative
  &--controls
    margin-bottom 30px
.feedback-notes
  font-size 12px
  cursor pointer
  &__icon
    color #979797
    font-size 24px
    line-height: 24px
    position absolute
    right 10px
    top 12px
  &__title
    font-weight bold
    margin 0
  &__content
    margin-top 20px
  &__footnote
    background rgba(96, 158, 171, 0.15)
    padding 10px
    border-radius 0 0 5px 5px
    overflow hidden
    a
      color #202020
.fade-enter-active, .fade-leave-active {
  transition all .5s
}
.fade-enter, .fade-leave-to {
  opacity 0
  transform translateY(-10px)
}
.article-title >>> input
  font-size 20px
</style>

<script>
import firebase from 'firebase/app'
import 'firebase/database'
import { mapActions } from 'vuex'
import { PULL_AUTHOR_DATA } from 'store/authors/action.types'
import bodyBlocksEditor from 'components/body-blocks-editor'
import imageBlockComponent from 'components/content-blocks/image'
import featuredVideoComponent from 'components/video/featured-video'
import featuredTitle from 'components/featured-title'
import thingsToDoInput from 'components/things-to-do-input'
import textEditor from 'components/text-editor/text-editor'
import ArticleStatus from 'shared/ArticleStatus'
import { GetArticleMeta } from 'shared/ArticleLogger'
import articleStatusBar from 'components/article-status-bar'
import imageUpload from 'components/image-upload'
import { qualitiesMultiSelect, lifeSkillsMultiSelect } from 'components/article/tool-data-multiselect/index.js'
import prioritiesSelector from 'components/editor/priority-selector/selector'
import articleTypeToggle from 'components/editor/article-type-toggle'
import articleStatusSelector from 'components/article/article-status-selector'
import articleStatusDisplay from 'components/article/article-status-display'
import articleAuthorSelector from 'components/article/article-author-selector'
import moderatorControls from 'components/article/moderator-controls'
import articleFeedback from 'components/article/article-feedback'
import articleMixin from 'components/article/article-mixin'
import savingIndicator from 'components/article/saving-indicator'
import sidebarView from 'components/sidebar-view'
import infoWarn from 'components/ui/info-warn'
import {articleUiValidators} from 'shared/ArticleValidators.js'
import chipBar from 'components/ui/chip-bar'
import subtitle from 'components/ui/subtitle'
import errorLabel from 'components/ui/error-label'
import linkTo from 'components/ui/link'
import styleguideLink from 'components/editor/styleguide-link'
import articlePreviewLink from 'components/editor/article-preview-link'
import { inputDebounce as dbnc } from 'shared/utils'
import ArticleFocus from 'shared/ArticleFocus'
import submitDialog from 'components/article/submit-dialog'
import SendToSlack from 'shared/Slack.js'
import config from 'config'

export default {
  name: 'content-edit',
  mixins: [articleMixin],
  validations: {
    articleData: articleUiValidators('introTextEditor', 'blocksEditor')
  },
  components: {
    bodyBlocksEditor,
    imageBlockComponent,
    featuredVideoComponent,
    featuredTitle,
    thingsToDoInput,
    textEditor,
    articleStatusBar,
    imageUpload,
    qualitiesMultiSelect,
    lifeSkillsMultiSelect,
    prioritiesSelector,
    articleStatusSelector,
    articleStatusDisplay,
    articleAuthorSelector,
    moderatorControls,
    articleFeedback,
    sidebarView,
    savingIndicator,
    infoWarn,
    chipBar,
    subtitle,
    errorLabel,
    linkTo,
    styleguideLink,
    articlePreviewLink,
    articleTypeToggle,
    submitDialog
  },
  async created () {
    this.id = this.$route.params.id
    await this.fetchArticleData(this.$route.query.new)
    this.userArticleData = { ...this.articleData }
    this.currentUserAuthorProfileRef = await this.getAuthorProfileForCurrentUser()
    await this.currentUserAuthorProfileRef.once('value').then(snapshot => {
      this.user = snapshot.val()
    })
    if (this.documentExists) {
      await this.pullAuthorData(this.articleData.authorProfile)
    }
    await GetArticleMeta(this.id).then(doc => {
      this.feedback = doc.exists && doc.data() && doc.data().feedback
      this.ipSetting = doc.exists && doc.data() && doc.data().ip
    })
    this.setLogs()
  },
  data () {
    return {
      id: null,
      user: null,
      userArticleData: '',
      currentUserAuthorProfileRef: null,
      ArticleFocus,
      tncDialog: false,
      feedback: '',
      feedbackNotesOpen: false,
      articleLogs: null,
      ipSetting: null
    }
  },
  methods: {
    ...mapActions({
      pullAuthorData: PULL_AUTHOR_DATA
    }),
    async updateField ({ name, value, emptyValue = '', replaceExistingObject = false, resetWatchTime = false }) {
      let newValue = (value === emptyValue) ? firebase.firestore.FieldValue.delete() : value
      await this.updateArticle({[name]: newValue}, replaceExistingObject, resetWatchTime)
    },
    updateToolData (toolName, selectedToolItemsMap) {
      this.updateField({ name: toolName, value: selectedToolItemsMap, emptyValue: [], replaceExistingObject: true })
    },
    updateTitle: dbnc(function (value) {
      this.articleData.title = value
      this.updateField({ name: 'title', value })
    }),
    updateIntro: dbnc(function (value) {
      value = this.$sanitize(value)
      this.articleData.intro = value
      this.updateField({ name: 'intro', value })
      this.$v.articleData.intro.$touch()
    }),
    deleteArticle () {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to delete the article?',
        ok: 'Yes',
        cancel: 'No'
      }).then(async () => {
        this.$q.loading.show()
        SendToSlack(`:alert: An article has just been deleted by ${this.user.profile.displayName}! Id: ${this.id}`, config.slack.portalAppId)
        this.$refs.featuredVideoComponent.deleteVideoMedia()
        await Promise.all([
          this.$refs.blocksEditor.deleteBody(),
          this.$refs.featuredImageBlock.deleteImageFile(),
          this.document.delete()
        ])
        const TIME_NEEDED_FOR_THE_ARTICLE_TO_REINDEX = 2000
        setTimeout(() => {
          this.$router.back()
          this.$q.loading.hide()
        }, TIME_NEEDED_FOR_THE_ARTICLE_TO_REINDEX)
      })
    },
    saveFeaturedImage (updatedImageObj) {
      this.articleData.featuredImage = updatedImageObj
      this.updateField({ name: 'featuredImage', value: this.articleData.featuredImage, emptyValue: {}, replaceExistingObject: true })
    },
    saveFeaturedVideo (mediaId) {
      this.articleData.featuredVideo = { mediaId }
      this.updateField({ name: 'featuredVideo', value: this.articleData.featuredVideo, emptyValue: {}, replaceExistingObject: true, resetWatchTime: true })
    },
    hasFeaturedVideo () {
      return this.articleData.featuredVideo && this.articleData.featuredVideo.mediaId
    },
    removeFeaturedImage (removeImageFileFnc) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to delete the existing featured image?',
        ok: 'Yes',
        cancel: 'No'
      }).then(async () => {
        this.updateArticle({featuredImage: firebase.firestore.FieldValue.delete()})
        removeImageFileFnc()
      }).catch(() => {
        console.log('Canceled')
      })
    },
    removeFeaturedVideo (removeVideoCallback) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to delete the existing featured video?',
        ok: 'Yes',
        cancel: 'No'
      }).then(async () => {
        this.updateArticle({featuredVideo: firebase.firestore.FieldValue.delete(), watchTime: 0})
        if (removeVideoCallback) {
          removeVideoCallback()
        }
      }).catch(() => {
        console.log('Canceled')
      })
    },
    async getAuthorProfileForCurrentUser () {
      let currentUser = this.$firebase.auth.currentUser()
      return this.$firebase.users.getOrCreateAuthorProfileForUser(currentUser.uid, {displayName: currentUser.displayName, email: currentUser.email})
    },
    updateThingsToDo: dbnc(function (value) {
      this.updateField({ name: 'thingsToDo', value: value, emptyValue: [] })
      this.articleData.thingsToDo = value
    }),
    updateReferencedArticles (value) {
      this.updateField({ name: 'referencedArticles', value: value, emptyValue: [] })
    },
    updatefocus (focus) {
      let updates = {
        focus
      }
      if (focus === ArticleFocus.Quality) {
        updates.lifeSkills = firebase.firestore.FieldValue.delete()
      }
      this.updateArticle(updates)
    },
    async sendFeedback (data) {
      try {
        if (data.userId) {
          data.userId = (await this.$firebase.users.authorList.child(data.userId).child('defaultUser').once('value')).val()
        }
        await this.$firebase.email.onAdminArticleFeedbackEmail(data)
      } catch (err) {
        this.$q.dialog({
          title: 'Error',
          message: err.message || err
        })
      }
    },
    async canModerate () {
      return this.articleData.moderator && this.articleData.moderator === this.$firebase.auth.currentUser().uid
    }
  },
  computed: {
    formIsEmpty () {
      let titleIsEmpty = this.articleData.title === '',
        introIsEmpty = this.articleData.intro === '',
        articleFormIsEmpty = !Object.values(this.articleData).some(Boolean),
        noBlocksAdded = this.$refs.blocksEditor && this.$refs.blocksEditor.blocks.length === 0
      return titleIsEmpty && introIsEmpty && articleFormIsEmpty && noBlocksAdded
    },
    articleOwner () {
      return this.articleData.owner || this.$firebase.auth.currentUser().uid
    },
    fileMetadata () {
      return {
        owner: this.articleOwner,
        published: this.articleData.status === ArticleStatus.Published
      }
    },
    articleEditingDisabled () {
      if ((this.articleData.status === ArticleStatus.ReviewNeeded ||
        this.articleData.status === ArticleStatus.InReview) &&
        !this.canModerate()) {
        return true
      }

      if (this.$accessControl.userAllowedTo('updateArticles')) {
        return false
      }

      let articleBelongsToCurrentUser = !this.articleData.owner || this.articleData.owner === this.$firebase.auth.currentUser().uid
      if (!articleBelongsToCurrentUser) {
        return true
      }

      return this.articleData.status === ArticleStatus.ReviewNeeded || this.articleData.status === ArticleStatus.Published || this.articleData.status === ArticleStatus.InReview
    },
    articleEditingDisabledWarn () {
      return this.articleData.status === ArticleStatus.ReviewNeeded
        ? 'Submitted for approval. Article locked.'
        : this.articleData.status === ArticleStatus.Published
          ? 'Published. Article locked.'
          : 'Article locked.'
    },
    articleFeedbackEnabled () {
      return this.$accessControl.userAllowedTo('updateArticles') &&
      this.articleData.status === ArticleStatus.InReview &&
      this.canModerate()
    },
    displayFeedback () {
      return this.feedback && this.articleData.status !== ArticleStatus.InReview
    },
    editorialEmailLink () {
      return `mailto:editorial@qdooz.com?subject=Query on article: ${this.articleData.title}`
    }
  },
  watch: {
    formIsEmpty (isEmpty) {
      if (isEmpty && this.documentExists) {
        this.document.delete()
      }
    }
  }
}
</script>
