<template>
  <q-page data-test-id="content-list-page" class="content" v-if="initialised">
    <search-header :initialValue="searchTerm" @search="setSearchTermDbcd" placeholder="Search content" align-left>
      <PrimaryBtn
        data-test-id="add-new-content"
        v-if="$accessControl.userAllowedTo('createArticles')"
        class="btn-add"
        icon="add"
        @click="add"
        title="Add new content"
        dark
      />
    </search-header>
    <criteria-label
      class="criteria-label"
      :criteria="filters"
      :focus="focus"
    />
    <content-status-dropdown
      class="article-status-dropdown"
      placeholder="Select status"
      float-label="Article status"
      :selectedStatus.sync="selectedStatus"
    />
    <content-list
      :searchTerm="searchTerm"
      :status="selectedStatus !== 'all' ? selectedStatus : null "
      :filters="filters"
    />
  </q-page>
</template>

<style scoped lang="stylus">
.content
  display flex
  flex-direction column
  align-items center
  margin 0 auto
  padding 1rem

.btn-add
  align-self flex-start

.article-status-dropdown,
.criteria-label
  align-self flex-start
  margin-top 1rem
</style>

<script>
import { mapActions, mapGetters } from 'vuex'
import { SET_FILTERS, SET_STATUS, SET_SEARCH_TERM, RESET } from 'store/content/list/action.types'
import { GET_STATUS, GET_SEARCH_TERM, GET_FILTERS, GET_AVAILABLE_STATUSES } from 'store/content/list/getter.types'

import { firebase } from 'plugins/firebase'
import articleStatusBar from 'components/article-status-bar'
import { PrimaryBtn } from 'components/ui/buttons'
import contentStatusDropdown from 'components/content-status-dropdown'
import criteriaLabel from 'components/pages/content-list/criteria-label'
import searchHeader from 'components/search/search-header'
import contentList from 'components/pages/content-list/content-list'

import { searchDebounce } from 'shared/utils'

export default {
  name: 'content-list-page',
  components: {
    articleStatusBar,
    PrimaryBtn,
    contentStatusDropdown,
    criteriaLabel,
    searchHeader,
    contentList
  },
  data () {
    return {
      collection: null,
      focus: null,
      initialised: false
    }
  },
  methods: {
    ...mapActions({
      setFilters: SET_FILTERS,
      setStatus: SET_STATUS,
      setSearchTerm: SET_SEARCH_TERM,
      resetSearchStore: RESET
    }),
    setSearchTermDbcd: searchDebounce(function (term) {
      this.setSearchTerm(term)
    }),
    add () {
      this.$router.push(`/content/${firebase.content.collection('articles').doc().id}?new=true`)
    },
    processReceivedCriteria (query) {
      let {status, focus, dateFrom, dateTo} = query
      if (status) {
        this.setStatus(status)
      }
      this.focus = focus
      this.dateFrom = dateFrom
      this.dateTo = dateTo
      this.setFilters(query)
    },
    init (query) {
      if (!this.$route.meta.fromHistory) {
        this.resetSearchStore()
      }
      this.processReceivedCriteria(query)
      this.initialised = true
    }
  },
  computed: {
    ...mapGetters({
      status: GET_STATUS,
      occuringStatuses: GET_AVAILABLE_STATUSES,
      searchTerm: GET_SEARCH_TERM,
      filters: GET_FILTERS
    }),
    selectedStatus: {
      get () {
        return this.status || 'all'
      },
      set (val) {
        return this.setStatus(val)
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => vm.init(vm.$route.query))
  },
  beforeRouteUpdate (to, from, next) {
    next()
    this.init(this.$route.query)
  },
  watch: {
    criteria (filters) {
      this.setFilters(filters)
    }
  }
}
</script>
