<template>
  <q-page class="content">
    <q-tabs
      class="tabs"
      animated
      v-model="selectedTab"
    >
      <div class="tab-controls">
        <div class="article-filters">
          <content-status-dropdown
            v-if="selectedTab !== 'tab-0'"
            class="article-status-dropdown"
            placeholder="Select status"
            float-label="Article status"
            :selectedStatus.sync="selectedStatus"
          />
          <content-type-dropdown
            v-if="selectedTab !== 'tab-0'"
            class="article-type-dropdown"
            placeholder="Select type"
            float-label="Article type"
            :selectedType.sync="selectedType"
          />
        </div>
        <div class="article-date-range">
          <DateField
            v-if="selectedTab !== 'tab-0'"
            label="From"
            v-model="dateFrom"
            class="date-range-dropdown"
            @change="changeDateFrom"
          />
          <DateField
            v-if="selectedTab !== 'tab-0'"
            label="To"
            v-model="dateTo"
            class="date-range-dropdown"
            @change="changeDateTo"
          />
        </div>
      </div>
      <q-tab :default="index === 0"
        slot="title"
        :name="`tab-${index}`"
        :label="tab.name"
        v-for="(tab, index) in tabs"
        :key="index"
      />
      <q-tab-pane :name="`tab-${index}`"
        v-for="(tab, index) in tabs"
        class="no-border"
        :key="index">
        <content-stats-by-status
          v-if="index === 0"
          :articles="articles"
          class="content-list"/>
        <component
          class="content-list"
          v-else
          :dateFrom="dateFrom * 1000"
          :dateTo="dateTo * 1000"
          v-bind:is="tab.component"
          :articles="articlesMatchingFilters"
          :selectedStatus="selectedStatus"
        />
      </q-tab-pane>
    </q-tabs>
  </q-page>
</template>

<style scoped lang="stylus">
@import '~variables'
.tabs
  width 100%
  border-radius 0
.tab-controls
  display flex
.article-filters, .article-date-range
  display flex
  align-self flex-start
  flex 1
  @media screen and (max-width $breakpoint-sm)
    flex-direction column
.article-status-dropdown,
.article-type-dropdown,
.content-stats-by-status,
.date-range-dropdown
  margin-top 1rem
  margin 12px
  max-width 250px
  flex 1
.content-list
  margin-top 0
</style>

<style lang="stylus">
.priorities-tag
  display inline-block
  width 200px
  padding 0.2em
  margin-right 1em
  width 10em
  text-align center
  border-radius 0.2em
  color rgba(0,0,0,0.5)
</style>

<script>
import contentStatusDropdown from 'components/content-status-dropdown'
import contentTypeDropdown from 'components/content-type-dropdown'
import contentStatsByStatus from 'components/pages/content-stats/content-stats-by-status'
import lifeSkillsTable from 'components/pages/content-stats/content-stats-by-tool/life-skills-table'
import qualitiesTable from 'components/pages/content-stats/content-stats-by-tool/qualities-table'
import areasOfLifeTable from 'components/pages/content-stats/content-stats-by-tool/areas-of-life-table'
import DateField from 'components/ui/form-fields/date-field'
import VideoTypeMap from 'shared/ArticleType'

const ALL_ARTICLES_STATUS_TAG = 'all'

export default {
  name: 'content-list',
  components: {
    contentStatusDropdown,
    contentTypeDropdown,
    DateField,
    contentStatsByStatus
  },
  data () {
    return {
      articles: [],
      tabs: [
        { name: 'General' },
        { name: 'Segments', component: areasOfLifeTable },
        { name: 'Qualities', component: qualitiesTable },
        { name: 'Soft Skills', component: lifeSkillsTable }
      ],
      selectedTab: null,
      selectedStatus: ALL_ARTICLES_STATUS_TAG,
      selectedType: ALL_ARTICLES_STATUS_TAG,
      dateFrom: 0,
      dateTo: 0
    }
  },
  computed: {
    dataLoaded () {
      return this.lifeSkills && this.qualities
    },
    articlesMatchingFilters () {
      let status = this.selectedStatus
      let type = this.selectedType
      let filterArticles = this.articles
      if (this.isFilteredByStatus(status)) {
        filterArticles = filterArticles.filter(
          article => {
            return this.isFilteredByType(type)
              ? this.filterByStatus(article, status) && this.filterByType(article, type)
              : this.filterByStatus(article, status)
          })
      } else if (this.isFilteredByType(type)) {
        filterArticles = filterArticles.filter(
          article => this.filterByType(article, type)
        )
      }
      if (this.isFilteredByDate()) {
        filterArticles = filterArticles.filter(
          article => this.filterByDate(article)
        )
      }
      return filterArticles
    }
  },
  methods: {
    async loadStatistics () {
      this.$q.loading.show()
      const query = this.$firebase.content.articles('articles').all
      this.articles = (await query.get()).docs.map(doc => {
        const data = doc.data()
        data.id = doc.id
        return data
      })
      this.$q.loading.hide()
    },
    changeDateFrom (val) {
      if (val) {
        this.dateFrom = new Date(val).getTime() / 1000
      }
    },
    changeDateTo (val) {
      if (val) {
        const d = new Date(val)
        d.setDate(d.getDate() + 1)
        this.dateTo = d.getTime() / 1000
      }
    },
    isFilteredByStatus (status) {
      return status !== ALL_ARTICLES_STATUS_TAG
    },
    filterByStatus (article, status) {
      return article.status === status
    },
    isFilteredByType (type) {
      return type !== ALL_ARTICLES_STATUS_TAG
    },
    filterByType (article, type) {
      return type === VideoTypeMap.Video ? article.featuredVideo : !article.featuredVideo
    },
    isFilteredByDate () {
      return this.dateTo && this.dateFrom
    },
    filterByDate (article) {
      return article.createdTime
        ? article.createdTime.seconds >= this.dateFrom &&
          article.createdTime.seconds < this.dateTo
        : false
    }
  },
  watch: {
    selectedStatus () {
      this.loadStatistics()
    },
    dataLoaded (hasLoaded) {
      if (hasLoaded) {
        this.loadStatistics()
      }
    }
  },
  async mounted () {
    this.loadStatistics()
  }
}
</script>
