<template>
  <q-page class="content">
    <introduction>
      <h1>Getting started</h1>
      <p>Here you’ll learn how to use the Content Portal to draft, edit and submit your content.</p>
    </introduction>
    <div class="guide">
      <contents :links="contents" />
      <guide-content>
        <text-block importance="minor" :padding="{v: true, h: false}">
          <h1 class="highlighted">Profile</h1>
          <a ref="profile" />
          <p>Use the profile page to input all your information. You must add a bio and an image of yourself/an avatar, as well as your website and social media links. Your profile will also show you content you’ve previously published.</p>
        </text-block>
        <text-block importance="minor" :padding="{v: true, h: false}">
          <h1 class="highlighted">Content dashboard</h1>
          <a ref="content-dashboard" />
          <p>The dashboard shows you all the content you’ve drafted, submitted for review and published. Use the status column to track your content’s progress.</p>
        </text-block>
        <text-block importance="minor" :padding="{v: true, h: false}">
          <h1 class="highlighted">Drafting content</h1>
          <a ref="drafting-content" />
          <p>To begin drafting content, click ‘Add new content’ at the top left-hand corner of the dashboard. You’ll then tag your content with multiple criteria to determine how it is presented to members.</p>
          <ul>
            <li><span class="bold">Content focus:</span> select either ‘Soft Skill’ or ‘Quality’ to determine the focus of your piece</li>
            <li><span class="bold">Area(s) of life:</span> at the start, you’ll be asked to select an ‘Area of Life’. This ensures your content is tagged appropriately and reaches the target audience. Tag multiple Areas of Life where applicable</li>
            <li><span class="bold">Qualities:</span> tag one Quality if your piece is Quality-focused, or up to three if your piece is Soft Skill focused</li>
            <li><span class="bold">Soft Skills:</span> tag one Soft Skill if your piece is Soft Skill focused</li>
          </ul>
          <p><span class="bold">NB:</span> When producing content for a Quality or Soft Skill ensure that you have read the respective descriptions and synonyms and actively apply them. You can find these in the <router-link class="link" to="/tagging-toolkit">Tagging toolkit</router-link></p>
          <p><span class="bold">Images:</span> You must add a ‘Featured image’.</p>
          <p><span class="bold">Video:</span> If you are uploading a video-based piece as standalone content, the video should sit in the ‘Featured video’ slot. The ‘Featured video’ field is optional should your piece be text based only.</p>
          <p><span class="bold">Title and introduction:</span> The Content Portal will ask you for a title and introduction. The title field is mandatory. It’s up to you whether you write an introduction, though we strongly recommend you do.</p>
          <p><span class="bold">Add section:</span> Next, click the ‘Add section’ button to add either body text, image(s) or a video.</p>
          <p><span class="bold">Things to do and consider:</span> Add up to three action points so your readers can apply what they’ve learnt.</p>
          <p><span class="bold">Preview:</span> Scroll to the top to check how your content looks across all devices.</p>
        </text-block>
        <text-block importance="minor" :padding="{v: true, h: false}">
          <h1 class="highlighted">Editing content</h1>
          <a ref="editing-content" />
          <p>Clicking the title of your article on the dashboard allows you to go back into the Content Portal and make edits. After submitting, you’ll only be able to make edits if you receive feedback from an editor/moderator.</p>
        </text-block>
        <text-block importance="minor" :padding="{v: true, h: false}">
          <h1 class="highlighted">Submitting content</h1>
          <a ref="submitting-content" />
          <p>To submit your content, simply select the ‘Submit for approval’ button in the top right-hand corner. Remember, you can check the status of your content by returning to your dashboard.</p>
        </text-block>
        <!-- <text-block importance="minor" :padding="{v: true, h: false}">
          <h1 class="highlighted">Content Series’</h1>
          <a ref="content-series" />
          <p>If you’re creating articles or videos that follow on from each other (e.g. parts 1-3), you can sequence them as a series. To do this, go to the Content Series field.</p>
          <p>The ‘Content Series’ field can be found on the right-hand side of the Content Submission Page, below the ‘Publish’ icon. Ensure the content is ordered appropriately by including the part number in the title of each piece.</p>
          <p><i>Want to discuss more about the type and style of content we are looking for? &nbsp;&nbsp; <link-to text="Get in touch" :url="generateMailLink(contactEmail, { Subject: 'Content Series’ Enquiry' })" external /></i></p>
        </text-block> -->
        <text-block importance="minor" :padding="{v: true, h: false}">
          <h1 class="highlighted">Style Guide</h1>
          <a ref="style-guide" />
          <p>Please follow our Style Guide to ensure the highest levels of quality – and improve the likelihood of your content being published. NB – if you do not adhere to these guidelines, your content may not be published.</p>
          <p>You can find the Style Guide as either a banner on the Content Creation Page, on the left-hand Menu or by clicking
          <link-to
            class="link"
            text=" here"
            url="/style-guide"
            :icon="false"
            :underline="true" />.</p>
          <p><i>Still have questions about the style of content we are looking for? &nbsp;&nbsp; <link-to text="Get in touch" :url="generateMailLink(contactEmail, { Subject: 'Style Guide Enquiry' })" external /></i></p>
        </text-block>
      </guide-content>
    </div>
  </q-page>
</template>

<style lang="stylus" scoped>
@import '~variables'
.guide
  position relative
  width 100%
  display flex

  padding $page-content-padding-major-vertical $page-padding-right $page-content-padding-major-vertical $page-padding
.bold
  font-weight 600
.italics
  font-style italic
.title
  font-weight 500
</style>

<script>
import welcome from 'components/pages/getting-started/welcome'
import introduction from 'components/pages/getting-started/introduction'

import card from 'components/ui/card/card'
import cardContainer from 'components/ui/card/card-container'

import contents from 'components/ui/table-of-contents/table-of-contents'
import guideContent from 'components/ui/table-of-contents/contents'
import textBlock from 'components/ui/text-block'
import linkTo from 'components/ui/link'
import { PrimaryBtn } from 'components/ui/buttons'

const QDOOZ_CONTACT_EMAIL = 'contact@qdooz.com'

export default {
  components: {
    welcome,
    introduction,

    card,
    cardContainer,

    contents,
    guideContent,
    textBlock,
    linkTo,
    PrimaryBtn
  },
  data: () => {
    return {
      profileCardComplete: true,
      contentCardComplete: true,
      contents: [],
      contactEmail: QDOOZ_CONTACT_EMAIL
    }
  },
  mounted () {
    this.contents = [
      { label: 'Profile', anchor: this.getAnchor('profile') },
      { label: 'Content dashboard', anchor: this.getAnchor('content-dashboard') },
      { label: 'Drafting content', anchor: this.getAnchor('drafting-content') },
      { label: 'Editing content', anchor: this.getAnchor('editing-content') },
      { label: 'Submitting content', anchor: this.getAnchor('submitting-content') },
      // { label: 'Content Series’', anchor: this.getAnchor('content-series') },
      { label: 'Style Guide', anchor: this.getAnchor('style-guide') }
    ]
  },
  async created () {
    this.$q.loading.show({ delay: 0 })
    await this.checkCards()
    this.$q.loading.hide()
  },
  methods: {
    async checkCards () {
      const uid = this.$firebase.auth.currentUser().uid
      this.profileCardComplete = await this.$firebase.users.userAuthorProfileCompleted(uid)
      this.contentCardComplete = await this.$firebase.content.doesUserHaveAnyArticles(uid)
    },
    getAnchor (to) {
      return { to, el: this.$refs[to] }
    },
    generateMailLink (email, params) {
      const URIParams = []
      Object.keys(params).forEach((param) => {
        URIParams.push(`${param}=${encodeURI(params[param])}`)
      })
      return `mailto:${email}?${URIParams.join('&')}`
    }
  }
}
</script>
