<template>
  <q-page class="content">
    <introduction>
      <h1>Create Bulk Vouchers</h1>
      <p>Fill the form below to create bulk vouchers for <strong>PREMIUM</strong> access to QDooz.</p>
      <p><i>A CSV file will be downloadable once the vouchers have been created.</i></p>
    </introduction>
    <div class="content-form">
      <div>
        <featured-title
          title="Coupon Name"
          tooltip="This will appear on customers' receipts and invoices. This coupon will live in Stipe and all bulk vouchers created will be linked to it"
        />
        <q-field
          :error="$v.form.couponName.$error"
          :error-label="errorMessage('Coupon name',$v.form.couponName)">
        <q-input
          class="coupon-name"
          color="white"
          inverted-light
          v-model="form.couponName"
          @input="$v.form.couponName.$touch()"
          :error="$v.form.couponName.$error"
          :value="form.couponName"/>
        </q-field>
      </div>
      <div v-if="plansSelectOptions">
        <featured-title
          title="Premium Plan"
          tooltip="These plans live in Stripe (use Stripe to create new plans), and will be attached to bulk vouchers"
        />
        <q-field
          :error="$v.form.couponDefaultPlan.$error"
          :error-label="errorMessage('Plan', $v.form.couponDefaultPlan)">
          <q-select
            v-model="form.couponDefaultPlan"
            @input="$v.form.couponDefaultPlan.$touch()"
            color="white"
            inverted-light
            placeholder="Select a plan"
            :options="plansSelectOptions"/>
        </q-field>
      </div>
      <div>
        <featured-title
          title="Percentage off"
          tooltip="Percent that will be taken off the subtotal of any invoices for the duration of the coupon. Choose a number between 1 - 100%"
        />
        <q-field
          :error="$v.form.couponPercentageOff.$error"
          :error-label="errorMessage('Percentage off', $v.form.couponPercentageOff)">
          <q-input
            class="percentage-off"
            color="white"
            inverted-light
            type="number"
            disable
            disabled
            v-model="form.couponPercentageOff"
            @input="$v.form.couponPercentageOff.$touch()"
            :value="form.couponPercentageOff"/>
        </q-field>
      </div>
      <div>
        <featured-title
          title="Coupon Duration (months)"
          tooltip="The number of months the coupon applies. Example: 3 (3 months)"
        />
        <q-field
          :error="$v.form.couponDurationInMonths.$error"
          :error-label="errorMessage('Coupon duration', $v.form.couponDurationInMonths)">
          <q-input
            class="coupon-duration"
            color="white"
            inverted-light
            type="number"
            v-model="form.couponDurationInMonths"
            @input="$v.form.couponDurationInMonths.$touch()"
            :value="form.couponDurationInMonths"/>
        </q-field>
      </div>
      <div>
        <featured-title
          title="Number of Vouchers"
          tooltip="Please enter how many vouchers you would like to create. Example: 500"
        />
        <q-field
          :error="$v.form.voucherCount.$error"
          :error-label="errorMessage('Number of vouchers', $v.form.voucherCount)">
          <q-input
            color="white"
            inverted-light
            type="number"
            v-model="form.voucherCount"
            @input="$v.form.voucherCount.$touch()"
            :value="form.voucherCount"/>
        </q-field>
      </div>
      <div>
        <featured-title
          title="Voucher Organisation Name"
          tooltip="Please enter the orginisation name these vouches will be aloted to"
        />
        <q-field
          :error="$v.form.voucherOrganisation.$error"
          :error-label="errorMessage('Voucher organisation name', $v.form.voucherOrganisation)">
          <q-input
            color="white"
            inverted-light
            v-model="form.voucherOrganisation"
            @input="$v.form.voucherOrganisation.$touch()"
            :value="form.voucherOrganisation"/>
        </q-field>
      </div>
      <div>
        <featured-title
          title="Voucher Campaign Name"
          tooltip="Please enter the voucher campaign name"
        />
        <q-field
          :error="$v.form.voucherCampaign.$error"
          :error-label="errorMessage('Voucher campaign name', $v.form.voucherCampaign)">
          <q-input
            color="white"
            inverted-light
            v-model="form.voucherCampaign"
            @input="$v.form.voucherCampaign.$touch()"
            :value="form.voucherCampaign"/>
        </q-field>
      </div>
      <div class="form-action-container">
        <PrimaryBtn
          class="create-bulk-vouchers-btn"
          title="Create bulk vouchers"
          inlinedContainer
          dark
          @click="createBulkVouchers"
        />
      </div>
    </div>
  </q-page>
</template>

<style scoped lang="stylus">
.introduction
  text-align center
  p
    max-width 100%
.content
  display flex
  flex-direction column
  padding 1rem
.content-form
  margin auto
  margin-top 1rem
  width 350px
.form-action-container
  margin-top 25px
.title
  padding-top 15px
</style>

<script>
import introduction from 'components/pages/getting-started/introduction'
import featuredTitle from 'components/featured-title'
import { PrimaryBtn } from 'components/ui/buttons'

import { mapActions, mapGetters } from 'vuex'
import { convertArrayToCSV, downloadCSVFile, toDashSeperated } from 'helpers/common'
import { required, between, minLength, minValue, maxValue } from 'vuelidate/lib/validators'
import { PULL_PLANS } from 'store/payments/action.types'
import { GET_PLANS_SELECT_OPTIONS } from 'store/payments/getter.types'
import validationsMixin from 'mixins/validations'

export default {
  name: 'Marketing',
  mixins: [validationsMixin],
  components: {
    introduction,
    featuredTitle,
    PrimaryBtn
  },
  data () {
    return {
      form: this.defaultFormObj()
    }
  },
  validations: {
    form: {
      couponName: { required, minLength: minLength(5) },
      couponDefaultPlan: { required },
      couponPercentageOff: { required, between: between(1, 100) },
      couponDurationInMonths: { required, minValue: minValue(1), maxValue: maxValue(36) },
      voucherCount: { required, minValue: minValue(1), maxValue: maxValue(10000) },
      voucherOrganisation: { required, minLength: minLength(3) },
      voucherCampaign: { required, minLength: minLength(3) }
    }
  },
  created () {
    this.pullPlans()
  },
  computed: {
    ...mapGetters({
      plansSelectOptions: GET_PLANS_SELECT_OPTIONS
    })
  },
  methods: {
    ...mapActions({
      pullPlans: PULL_PLANS
    }),
    defaultFormObj () {
      return {
        couponName: null,
        couponDefaultPlan: null,
        couponPercentageOff: 100,
        couponDurationInMonths: null,
        voucherCount: null,
        voucherOrganisation: null,
        voucherCampaign: null
      }
    },
    resetForm () {
      this.form = this.defaultFormObj()
      this.$v.$reset()
    },
    async createBulkVouchers () {
      let csv
      let results
      let dialogObj = {}

      this.$v.form.$touch()

      if (!this.$v.form.$error) {
        this.$q.loading.show({ delay: 400 })

        try {
          results = await this.$firebase.payments.generateBulkVouchers(this.form)

          if (results.data) {
            csv = convertArrayToCSV(results.data)
            downloadCSVFile(csv, `bulk-vouchers-${toDashSeperated(this.form.voucherCampaign)}`)

            dialogObj = {
              title: 'Success',
              message: 'Your vouchers have been created'
            }
          }
        } catch (e) {
          dialogObj = {
            title: 'Error',
            message: e.message
          }
        }

        this.$q.loading.hide()
        this.resetForm()
        this.$q.dialog(dialogObj)
      }
    }
  }
}
</script>
