<template>
  <q-page class="content">
    <div class="head-container">
      <div>
        <PrimaryBtn
          class="btn-add"
          @click="addUser"
          icon="add"
          title="Add a User"
          dark
        />
      </div>
      <div class="search-container">
        <q-field class="input"
          :error="$v.form.email.$error"
          color="black"
          error-label="Please type a valid email">
          <q-input
            placeholder="Search by email"
            type="email"
            v-model="form.email"
            @keyup.enter="search"
            autofocus/>
        </q-field>
      </div>
      <div class="search-container" v-if="error">
        {{ error }}
      </div>
    </div>
    <styled-table
      minWidth
      :data="users"
      :columns="tableConfig.columns">
        <template slot-scope="{ row }" no-border>
          <q-td key="name" ><router-link class="link-text" :to="`/users/${row.uid}`">{{ row.displayName }}</router-link></q-td>
          <q-td key="roles" >{{ row.customClaims | rolesMapToString}}</q-td>
          <q-td key="email" >{{ row.email }}</q-td>
          <q-td key="photoURL" class="avatar-col"><img class="avatar" v-if="row.photoURL" :src="row.photoURL"/></q-td>
          <q-td key="last_login" >{{ row.metadata.lastSignInTime }}</q-td>
        </template>
    </styled-table>
    <div v-if="!users || users.length===0">NO USERS</div>
    <div v-else-if="!allLoaded" class="load-more-container">
      <PrimaryBtn
        class="btn-add"
        :padding="{right: true}"
        @click="loadMore"
        title="Load more"
        dark
      />
      <PrimaryBtn
        class="btn-add"
        :padding="{left: true}"
        @click="loadAll"
        title="Load All"
        dark
      />
    </div>
  </q-page>
</template>

<script>
import { firebase } from 'plugins/firebase'

import { Dialog, Loading } from 'quasar'
import { email } from 'vuelidate/lib/validators'

import { rolesMapToString } from './../shared/utils.js'
import styledTable from 'components/styled-table'
import { PrimaryBtn } from 'components/ui/buttons'

export default {
  components: {
    styledTable,
    PrimaryBtn
  },
  data () {
    return {
      users: [],
      tableConfig: {
        columns: [
          { name: 'name', label: 'Name', field: 'displayName', sortable: true },
          { name: 'roles', label: 'Roles', field: row => rolesMapToString(row.customClaims), sortable: true },
          { name: 'email', label: 'Email Address', field: 'email', sortable: true },
          { name: 'photoURL', label: 'Avatar' },
          { name: 'last_login', label: 'Last logged in', field: row => row.metadata.lastSignInTime, sortable: true }
        ]
      },
      form: {
        email: null
      },
      error: null,
      pageToken: null,
      allLoaded: false
    }
  },
  validations: {
    form: {
      email: { email }
    }
  },
  async beforeRouteEnter (to, from, next) {
    next(async (vm) => {
      const users = await vm.getUsers()
      vm.setUsers(users)
    })
  },
  // when route changes and this component is already rendered,
  // the logic will be slightly different.
  async beforeRouteUpdate (to, from, next) {
    this.users = []
    this.pullUsers()
    next()
  },
  filters: {
    rolesMapToString
  },
  methods: {
    setUsers (resp) {
      this.users = resp
    },
    openUserPage (userId) {
      this.$router.push({ path: `/users/${userId}` })
    },
    addUser () {
      this.$router.push({ path: `/users/new` })
    },
    async search (event) {
      this.$v.form.$touch()
      this.error = null
      if (!this.$v.form.$error && this.form.email) {
        try {
          const data = await firebase.users.getUserByEmail(this.form.email)
          this.setUsers([data.data])
        } catch (err) {
          this.error = 'Error, no users found.'
        }
      } else if (this.form.email === '') {
        this.getUsers().then((users) => {
          this.setUsers(users)
        })
      }
    },
    async pullUsers () {
      this.users.push(...await this.getUsers())
    },
    loadMore () {
      this.pullUsers()
    },
    async loadAll () {
      this.setUsers(await this.getUsers(true))
    },
    async getUsers (all = false) {
      Loading.show()
      try {
        if (all) {
          const resp = await firebase.auth.getAuthUserList()
          this.allLoaded = true
          console.log(resp.data)
          return resp.data
        } else {
          const resp = await firebase.users.getUsersInBulk(this.pageToken)
          this.pageToken = resp.data.pageToken
          return resp.data.users
        }
      } catch (error) {
        Dialog.create({
          title: 'Error',
          message: error.message
        })
        this.allLoaded = false
        return Promise.reject(error)
      } finally {
        Loading.hide()
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.head-container
  width 100%
  display flex

.content
  display flex
  flex-direction column
  align-items center
  margin 0 auto
  padding 1rem

.avatar-col
  width 90px
  text-align center

.avatar
  height 36px
  width 36px
  border-radius 50%

.search-container
  padding 0px 32px
  width 300px
  margin-top 5px
  margin-bottom -10px

.load-more-container
  display flex
  flex-direction row
  padding 16px 0px

.btn-all
  margin-left 32px
</style>
