<template>
  <q-page>
    <div class="background-block"></div>
    <div class="container row gutter-lg">
      <div :class="{ 'error': error }">
        <div class="field-group">
          <editable-field
            class="name-field"
            float-label="Name"
            :editingEnabled="true"
            :value="userData.displayName"
            @valueConfirmed="updateDisplayName">
          </editable-field>
          <q-field class="input"
          :error="$v.form.email.$error"
          color="black"
          error-label="Please type a valid email">
          <q-input float-label="Email address"
            type="email"
            v-model="form.email"
            @keyup.enter="$refs.passwordInput.focus()"
            autofocus/>
          </q-field>
          <q-field class="input"
            color="black"
            :error="$v.form.password.$error"
            error-label="Please enter your password">
            <q-input ref="passwordInput"
              float-label="Password"
              type="password"
              v-model="form.password"
              @keyup.enter="createUser"
              autofocus/>
          </q-field>
        </div>
        <div class="btn-container">
          <q-btn class="btn-create"
                @click="createUser">Create</q-btn>
        </div>
      </div>
      <div class="error-message" v-if="error">{{error}}</div>
    </div>
  </q-page>

</template>

<style scoped lang="stylus">
.container
  position relative
  z-index 1 // place in front of background block
  padding 3rem

.background-block
  position absolute
  width 100%
  height 425px
  background-color rgba(182, 199, 195, 0.1)

.left-column
  width 235px

.btn-container
  width 100%
  text-align center
.btn-create
  margin-top 2rem

.error-message
  color #ec3744
  font-size 14px
</style>

<script>
import { required, email } from 'vuelidate/lib/validators'
import editableField from 'components/editable-field'
import userAvatarPicker from 'components/user-avatar-picker'
import imageBlockComponent from 'components/content-blocks/image'

import { Notify } from 'quasar'

export default {
  name: 'user-create',
  components: {
    editableField,
    userAvatarPicker,
    imageBlockComponent
  },
  data () {
    return {
      userData: {},
      form: {
        email: null,
        password: null
      },
      error: null
    }
  },
  validations: {
    form: {
      email: { required, email },
      password: { required }
    }
  },
  methods: {
    updateDisplayName (name) {
      this.userData.displayName = name
    },
    async createUser () {
      try {
        this.$v.form.$touch()
        if (!this.$v.form.$error) {
          const userCreated = await this.$firebase.auth.adminCreateUser(this.userData.displayName, this.form.email, this.form.password)
          Notify.create('User created successfully!')
          this.resetForm()
          this.$router.push({ path: `/users/${userCreated.user.uid}`, query: { cp: true } })
        }
      } catch (error) {
        this.error = error.message
      }
    },
    resetForm () {
      this.error = null
    }
  }
}
</script>
