<template>
  <q-page class="content">
    <div class="head-container">
      <div class="search-container">
        <q-field class="input"
          :error="$v.form.email.$error"
          color="black"
          error-label="Please type a valid email">
          <q-input
            placeholder="Search by email"
            type="email"
            v-model="form.email"
            @keyup.enter="search"
            autofocus/>
        </q-field>
      </div>
      <div class="search-error" v-if="error">
        {{ error }}
      </div>
    </div>
    <styled-table
      minWidth
      :data="users"
      :columns="tableConfig.columns">
        <template slot-scope="{ row }" no-border>
          <q-td key="name" ><img class="avatar" v-if="row.photoURL" :src="row.photoURL"/> {{ row.displayName }}</q-td>
          <q-td key="roles" >
            <user-role-selector
              ref="userRoleSelector"
              :showTitle="false"
              :editingEnabled="true"
              :value="row.customClaims"
              @input="userRolesChanged"
              :userId="row.uid">
            </user-role-selector>
          </q-td>
          <q-td key="email" >{{ row.email }}</q-td>
        </template>
    </styled-table>
  </q-page>
</template>

<style lang="stylus">
.bottom-section
  display none
</style>

<script>
import { firebase } from 'plugins/firebase'

import { email } from 'vuelidate/lib/validators'

import { rolesMapToString } from './../shared/utils.js'
import AuthorProfileModel from './../shared/AuthorProfileModel'
import styledTable from 'components/styled-table'
import userRoleSelector from 'components/user-role-selector'

export default {
  components: {
    styledTable,
    userRoleSelector
  },
  data () {
    return {
      users: [],
      tableConfig: {
        columns: [
          { name: 'name', label: 'Name', field: 'displayName', sortable: false },
          { name: 'roles', label: 'Roles', field: row => rolesMapToString(row.customClaims), sortable: false },
          { name: 'email', label: 'Email Address', field: 'email', sortable: false }
        ]
      },
      form: {
        email: null
      },
      error: null,
      pageToken: null,
      allLoaded: false
    }
  },
  validations: {
    form: {
      email: { email }
    }
  },
  filters: {
    rolesMapToString
  },
  methods: {
    setUsers (resp) {
      this.users = resp
    },
    async search (event) {
      this.$q.loading.show()
      this.$v.form.$touch()
      this.error = null
      if (!this.$v.form.$error && this.form.email) {
        try {
          const data = await firebase.users.getUserByEmail(this.form.email)
          this.setUsers([data.data])
        } catch (err) {
          this.error = 'Error, no users found.'
        }
      }
      this.$q.loading.hide()
    },
    async userRolesChanged (userRoles) {
      const user = this.users[0]
      if (userRoles.contentProvider && user) {
        this.$q.loading.show()
        let authorRef = await this.$firebase.users.getOrCreateAuthorProfileForUser(
          user.uid,
          { displayName: user.displayName, email: user.email }
        )
        let existingPhotoUrl = user.photoURL
        if (existingPhotoUrl) {
          await this.$firebase.users.importAuthorAvatarFromUrl(authorRef, existingPhotoUrl)
        }

        user.customClaims = userRoles
        await this.bindToAuthorData(authorRef)
        await this.$firebase.authorApplicants.markApplicantAsApproved(
          user.uid
        )
        this.$q.loading.hide()
      }
    },
    async bindToAuthorData (authorProfileRef) {
      this.authorId = authorProfileRef.key
      this.authorProfileRef = authorProfileRef.child('profile')
      this.authorProfileRef.on('value', snapshot => {
        this.authorProfileData = { ...AuthorProfileModel, ...snapshot.val() }
      })
    }
  }
}
</script>

<style lang="stylus" scoped>
.head-container
  width 100%
  display flex

.content
  display flex
  flex-direction column
  align-items center
  margin 0 auto
  padding 1rem

.avatar
  height 36px
  width 36px
  border-radius 50%

.search-container
  width 100%
  margin-top 5px
  margin-bottom -10px

.search-error
  width 100%
  color #f17160
  font-size 12px
  margin 14px 0

.load-more-container
  display flex
  flex-direction row
  padding 16px 0px

.btn-all
  margin-left 32px
</style>
