<template>
  <q-page data-test-id="user-page">
    <div class="header">
      <div class="breadcrumb"
        v-if="$accessControl.userAllowedTo('listUsers') && authUserData">
        <router-link class="link-text" to="/users">Users</router-link><span class="breadcrumb-text">/ {{authUserData.displayName}}</span>
      </div>
    </div>
    <div class="background-block"></div>
    <div class="left-column">
      <template v-if="userHasAuthorProfile">
        <span class="required-asterisk">*</span>
        <div class="avatar-container cursor-pointer"
          :class="{ 'avatar-container--error': profilePictureMissing }"
          v-show="!avatarPickerOpened"
          @click="avatarPickerOpened = true">
          <img v-if="authorProfileData.avatar"
            :src="authorProfileData.avatar.fileUrl" />
          <img v-else
            src="~assets/icons/user-icon.svg" />
          <div class="absolute-center avatar-overlay"></div>
          <q-icon class="absolute-center icon-edit-large"
            name="edit"
            color="white">
          </q-icon>
        </div>
        <image-upload class="avatar-upload-container"
          v-show="avatarPickerOpened"
          :showPreviewCancelBtn="true"
          :existingImageObj="authorProfileData.avatar || {}"
          :uploadPath="`authors/${authorId}/avatar`"
          :fileMetadata="{owner: userId}"
          @image-obj-updated="updateAuthorAvatar"
          @cancel-btn-clicked="avatarPickerOpened = false"
          cropAspectRatio=1>
        </image-upload>
      </template>
      <template v-else>
        <div class="avatar-container">
          <img v-if="authUserData.photoURL"
            :src="authUserData.photoURL" />
          <img v-else
            src="~assets/icons/user-icon.svg" />
          <div class="absolute-center avatar-overlay"></div>
        </div>
      </template>
      <p
        v-if="profilePictureMissing"
        class="error"
        v-html="'Your profile picture is required!'
      ">
      <div class="btn-sidebar btn-save">
        <applicant-panel
          v-if="isApplicant && authUserData"
          :userId="userId"
          :email="authUserData.email"
          :name="authUserData.displayName"
        />
        <PrimaryBtn
          @click="updateProfile"
          :title="buttonMessage"
          :padding="{bottom:true}"
          dark
        />
        <SecondaryBtn
          v-if="!isApplicant && authorId"
          @click="goToProfile"
          title="View QDooz profile"
        />
      </div>
    </div>
    <div class="container row gutter-lg">
      <div class="col-xl-10 col-12">
        <Title>Public profile</Title>
        <span class="subtitle">This information will be displayed publicly on your profile.</span>
        <div class="required-label">* required field</div>
        <template v-if="userHasAuthorProfile">
          <div key="userWithAuthorProfile">
            <div class="field-group">
              <editable-field
                class="name-field"
                v-if="authUserData"
                float-label="Name"
                :required="true"
                :editingEnabled="editingEnabled"
                v-model="authUserData.displayName"
                :error="$v.authUserData.displayName.$error"
                error-label="Your name is required!"
                @valueConfirmed="updateAuthorProfileAndAuthUserField('displayName', $event)">
              </editable-field>
              <p class="text"
                v-if="authUserData.metadata.lastSignInTime">Last logged {{authUserData.metadata.lastSignInTime}}</p>
              <editable-field
                float-label="Occupation"
                :required="true"
                :editingEnabled="editingEnabled"
                v-model="authorProfileData.vocation"
                @valueConfirmed="updateAuthorProfileField('vocation', $event)"
                :error="$v.authorProfileData.vocation.$error"
                error-label="Your occupation is required!">
              </editable-field>
              <div class="row gutter-lg">
                <website-url-input class="col"
                  v-model="authorProfileData.websiteUrl"
                  @valueConfirmed="updateAuthorProfileField('websiteUrl', $event)"
                  :error="$v.authorProfileData.websiteUrl.$error"
                />
                <editable-field class="col"
                  float-label="Country of residence"
                  :required="true"
                  :editingEnabled="editingEnabled"
                  v-model="authorProfileData.country"
                  :error="$v.authorProfileData.country.$error"
                  :error-label="!authorProfileData.country ? 'Your country of residence is required!' : `${authorProfileData.country} is not a valid country!`"
                  @valueConfirmed="updateAuthorProfileField('country', $event)">
                  <q-autocomplete-fix
                    :min-characters="1"
                    :static-data="countries"
                    :debounce="100"
                  />
                </editable-field>
              </div>
              <editable-field
                float-label="Profile bio"
                :required="true"
                :max-length="750"
                inputType="textarea"
                :editingEnabled="editingEnabled"
                v-model="authorProfileData.bio"
                @valueConfirmed="updateAuthorProfileField('bio', $event)"
                :error="$v.authorProfileData.bio.$error"
                :error-label="!authorProfileData.bio ? 'Your bio is required!' : 'Please ensure your bio is no longer than 750 characters'">
              </editable-field>
            </div>
            <div class="field-group">
              <div class="section-header">
                <div class="section-title">SOCIAL LINKS</div>
                <div class="separator" v-show="!editingEnabled"></div>
              </div>
              <editable-field
                stack-label="Twitter handle"
                prefix="@"
                :editingEnabled="editingEnabled"
                :value="authorProfileData.socialHandles.twitter"
                :iconPath="require(`assets/icons/twitter-icon.svg`)"
                @valueConfirmed="updateAuthorProfileField('socialHandles/twitter', $event)">
              </editable-field>
              <editable-field
                stack-label="Facebook profile"
                prefix="https://www.facebook.com/"
                :editingEnabled="editingEnabled"
                :value="authorProfileData.socialHandles.facebook"
                :iconPath="require(`assets/icons/facebook-icon.svg`)"
                @valueConfirmed="updateAuthorProfileField('socialHandles/facebook', $event)">
              </editable-field>
              <editable-field
                prefix="@"
                stack-label="Instagram handle"
                :editingEnabled="editingEnabled"
                :value="authorProfileData.socialHandles.instagram"
                :iconPath="require(`assets/icons/instagram-icon.svg`)"
                @valueConfirmed="updateAuthorProfileField('socialHandles/instagram', $event)">
              </editable-field>
              <linkedIn-profile-input
                :userSocialHandles="authorProfileData.socialHandles"
                @linkedInProfileSet="updateLinkedInProfile"
              />
            </div>
          </div>
        </template>
        <template v-else>
          <div key="userWithoutAuthorProfile">
            <div class="field-group">
              <editable-field
                float-label="Name"
                :editingEnabled="editingEnabled"
                :value="authUserData.displayName"
                @valueConfirmed="updateAuthUserField('displayName', $event)">
              </editable-field>
            </div>
          </div>
        </template>
        <div class="field-group">
          <Title>Private profile</Title>
          <span class="subtitle">The following information will not be displayed on {{isCurrentUser ? 'your' : 'user\'s'}} public profile</span>
          <template v-if="authUserData">
            <q-select
              v-if="$accessControl.userAllowedTo('listAuthors')"
              float-label="Theme"
              class="theme"
              v-model="authorProfileData.theme"
              :options="selectOptions"
              @input="updateAuthorProfileField('theme', $event)"
            />
            <user-role-selector
              v-if="$accessControl.userAllowedTo('updateUsers')"
              :includeAdmin="true"
              :showTitle="true"
              ref="userRoleSelector"
              :editingEnabled="editingEnabled"
              :value="authUserData.customClaims"
              @input="userRolesChanged"
              :userId="userId">
            </user-role-selector>
            <editable-field
              float-label="Email"
              :editingEnabled="editingEnabled"
              v-model="authUserData.email"
              @valueConfirmed="updateAuthorProfileAndAuthUserField('email', $event)"
              :validator="$v.authUserData.email"
              :error="!!firebaseErrors.email || $v.authUserData.email.$error"
              :error-label="firebaseErrors.email || 'Please enter valid email address'">
            </editable-field>
            <PrimaryBtn
              v-if="!changePassword"
              @click="changePassword = true"
              title="Change Password"
              :padding="{bottom:true}"
              dark
              inlined
            />
            <editable-field
              v-if="changePassword && !$accessControl.user.isAdmin"
              float-label="Existing password"
              :editingEnabled="editingEnabled"
              v-model="authUserData.oldPassword"
              inputType="password">
            </editable-field>
            <editable-field
              v-if="changePassword"
              float-label="Create a new password"
              :editingEnabled="editingEnabled"
              v-model="authUserData.password"
              :error="$v.authUserData.password.$error"
              :error-label="errorMessage('Password', $v.authUserData.password)"
              @valueConfirmed="updateAuthUserField('password', $event)"
              inputType="password">
            </editable-field>
          </template>
        </div>
      </div>
    </div>
    <div class="container"
      v-if="$accessControl.userAllowedTo('viewToolUsageStats') && userId && authUserData.email">
      <p>Tool statistics</p>
      <user-tool-stats
        :userId="userId" :userEmail="authUserData.email">
      </user-tool-stats>
    </div>
  </q-page>
</template>

<style lang="stylus">
$FLAG_SIZE = 20px
.q-popover
  .q-item-image, .q-item-side-left
    max-width $FLAG_SIZE
    min-width $FLAG_SIZE
  .q-item-image
    position relative
    top 2px
</style>

<style lang="stylus" scoped>
@import '~variables'

$LEFT_COL_WIDTH = 246px
.left-column
  position fixed
  width $LEFT_COL_WIDTH
  padding-top 48px
  padding-left 48px
  z-index 2

.container
  position relative
  z-index 1 // place in front of background block
  padding 3rem
  padding-top 0

.container
  padding-left $LEFT_COL_WIDTH + 48px

.required-label
  position relative
  height 0
  right 0
  width 100%
  text-align right
  font-size 12px
  color $red
  top 0
.required-asterisk
  color $red

.header
  position relative
  height 50px
  background-color #eeefef

.breadcrumb
  width 100%
  position fixed
  font-size 0.875rem
  padding 1rem
  padding-left 3rem
  z-index 3
  height 50px
  background-color #eeefef

.breadcrumb-text
  margin-left 6px

.text
  font-size 0.875rem
  opacity 0.5

.error
  color $red
  font-size 12px
  margin 5px 0 0
  text-align center

.background-block
  position absolute
  width 100%
  height 510px
  background-color rgba(182, 199, 195, 0.1)

.avatar-upload-container
  margin-left -30px

.crop-container.avatar-upload-container
  width initial
  height initial
  background white
  z-index 1
  position absolute
  border 1px solid #1A0026

.avatar-upload-container >>>
  i.on-left
    margin-right 0

.avatar-container
  height 200px
  width 200px
  background-color rgba(0, 0, 0, 0.37)
  position relative
  border 1px solid #979797
  border-radius 200px
  overflow hidden

  .avatar-overlay
    background-color rgba(0, 0, 0, 0.37)
    width 100%
    height 100%

  &--error
    .avatar-overlay
      border-radius 50%
      border 1px solid $red

  img
    width 100%
    height 100%
    object-fit cover

.icon-edit
  margin-left 6px

.icon-edit-large
  font-size 40px

.section-header
  margin 1rem 0
  display flex
  align-items center

.section-title
  margin-right 16px
  font-size 12px
  color #1A0026

.separator
  flex 1
  height 1px
  background #7C7C7C
  // height 0
  // box-shadow 0px 0px 1px 1px #8c8c8c

.field-group
  margin-bottom 4rem

.btn-edit
  position fixed
  text-align right
  color #609EAB
  cursor pointer

.btn-save
  width 100%
  margin-top 1em
  button
    width 100%

.private-info-description
  text-align center
  color #1A0026
  font-size 20px
.private-info-description
  text-align center
  color #1A0026
  font-size 20px
  line-height 31px

.editable-field
  margin 1.8rem 0

.editing-disabled .editable-field
  margin 1rem 0

.name-field >>>
  margin-bottom 0
  .field-value
    color #66206C
    font-size 1.875rem
  .label
    opacity 1
.invite-author-container
  padding 10px 0px

.subtitle
  display block
  margin -20px 0 20px
  font-size 14px
  line-height 18px
  color $primary

.theme
  margin 0 0 1.8rem
</style>

<script>

const AuthUserModel = {
  displayName: null,
  email: null,
  photoURL: null,
  customClaims: null,
  metadata: {
    lastSignInTime: null
  }
}
import firebase from 'firebase/app'
import 'firebase/auth'

import { Notify } from 'quasar'
import editableField from 'components/editable-field'
import { url, email, required, maxLength, minLength, helpers } from 'vuelidate/lib/validators'
import imageBlockComponent from 'components/content-blocks/image'
import userRoleSelector from 'components/user-role-selector'
import userToolStats from 'components/user-tool-stats'
import imageUpload from 'components/image-upload'
import { PrimaryBtn, SecondaryBtn } from 'components/ui/buttons'
import subtitle from 'components/ui/subtitle'
import QAutocompleteFix from 'components/bug-fixes/autocomplete-fix'
import countries from 'country-list'
import applicantPanel from 'components/pages/user/applicant-panel'
import linkedInProfileInput from 'components/pages/user/linkedin-profile-input'
import websiteUrlInput from 'components/pages/user/website-url-input'
import AuthorProfileModel from 'shared/AuthorProfileModel'
import ApplicantStatus from 'shared/ApplicantStatus'
import config from '../config'
import Title from 'components/ui/title'
import validationsMixin from 'mixins/validations'

const initialPageData = () => {
  return {
    authUserData: { ...AuthUserModel },
    authorProfileData: { ...AuthorProfileModel },
    authorProfileRef: null,
    authorId: null,
    avatarPickerOpened: false,
    editingEnabled: true,
    firebaseErrors: {
      email: null,
      password: null
    },
    editStore: {
      user: {},
      author: {},
      initial: true
    }
  }
}

const isCountry = (country) => countries().getNames().includes(country)
const getCountryCode = (name) => countries().getCode(name).toLowerCase()

const compileCountries = () => {
  return {
    field: 'value',
    list: countries().getNames().map((value) => ({
      value,
      label: value,
      image: require(`assets/flags/${getCountryCode(value)}.svg`)
    }))
  }
}

const delay = (ms) => new Promise(resolve => setTimeout(resolve, ms))
let pageData = initialPageData()

export default {
  name: 'author-page',
  mixins: [validationsMixin],
  components: {
    editableField,
    imageBlockComponent,
    userRoleSelector,
    userToolStats,
    imageUpload,
    PrimaryBtn,
    SecondaryBtn,
    subtitle,
    QAutocompleteFix,
    applicantPanel,
    linkedInProfileInput,
    websiteUrlInput,
    Title
  },
  props: {
    viewProfileOfCurrentUser: Boolean
  },
  data () {
    return {
      ...pageData,
      countries: compileCountries(),
      profilePictureMissing: null,
      formReady: false,
      changePassword: false,
      user: null,
      selectOptions: [
        { label: 'Default', value: 'default' },
        { label: 'Dark', value: 'dark' },
        { label: 'Flowers', value: 'flowers' },
        { label: 'Tron', value: 'tron' }
      ]
    }
  },
  validations: {
    authorProfileData: {
      vocation: { required }, // vocation
      websiteUrl: { url },
      country: { required, isCountry }, // city
      bio: { required, maxLength: maxLength(750) }
    },
    authUserData: {
      displayName: { required },
      email: { required, email },
      password: {
        minLength: minLength(8),
        mustContainNumber: helpers.regex('alpha', /\d/),
        mustContainUppercase: helpers.regex('letter', /[A-Z]/)
      }
    }
  },
  async created () {
    await this.init(this.userId)
    if (this.doCreateUserAsContentProvider()) {
      this.setCreatedUserToBeContentProvider()
    }
  },
  watch: {
    async '$route' (to, from) {
      await this.init(this.userId)
    }
  },
  beforeRouteUpdate (to, from, next) {
    this.promtUserForDiscard(next)
  },
  beforeRouteLeave (to, from, next) {
    this.promtUserForDiscard(next)
  },
  computed: {
    userId () {
      if (this.viewProfileOfCurrentUser) {
        return this.$firebase.auth.currentUser().uid
      }
      return this.$route.params.id
    },
    isCurrentUser () {
      return this.userId === this.$firebase.auth.currentUser().uid
    },
    isApplicant () {
      return this.authorProfileData.status && this.authorProfileData.status !== ApplicantStatus.Accepted
    },
    isContentProvider () {
      return this.authUserData.customClaims && this.authUserData.customClaims.contentProvider
    },
    userHasAuthorProfile () {
      return this.authorId !== null
    },
    saveDisabled () {
      return !(Object.keys(this.editStore.user).length || Object.keys(this.editStore.author).length) || this.$v.$invalid
    },
    buttonMessage () {
      if (this.saveDisabled && !this.editStore.initial) {
        return 'Changes Saved!'
      }
      return 'Save Profile'
    }
  },
  methods: {
    async init (userId) {
      this.formReady = false
      pageData = initialPageData()
      this.$q.loading.show()
      await this.loadUserData(userId)
      await this.loadAuthorData(userId)
      this.$q.loading.hide()
      this.formReady = true
    },
    async loadAuthorData (userId) {
      const authorProfile = await this.$firebase.users.getUserAuthorRef(userId)
      if (authorProfile) {
        this.bindToAuthorData(authorProfile)
      }
    },
    async bindToAuthorData (authorProfileRef) {
      this.authorId = authorProfileRef.key
      this.authorProfileRef = authorProfileRef
      const getUserData = await this.authorProfileRef.once('value')
      this.authorProfileData = { ...AuthorProfileModel, ...getUserData.val().profile, status: getUserData.val().status }
    },
    async loadUserData (userId) {
      let userData = (await this.$firebase.auth.getAuthUser(userId)).data
      this.authUserData = { ...AuthUserModel, ...userData }
    },
    validateField (fieldValidator) {
      if (fieldValidator) {
        fieldValidator.$touch()
        if (fieldValidator.$invalid) {
          return false
        }
      }
      return true
    },
    editUserDetailsStore (field, val) {
      this.$set(this.editStore.user, field, val)
      this.$set(this.editStore, 'initial', true)
      // this.editStore.user[field] = val
    },
    editAuthorStore (field, val) {
      this.$set(this.editStore.author, field, val)
      this.$set(this.editStore, 'initial', true)
      // this.editStore.author[field] = val
    },
    clearStore () {
      this.editStore = {
        author: {},
        user: {}
      }
    },
    async reauthenticateUser (password) {
      await this.user.reauthenticateWithCredential(firebase.auth.EmailAuthProvider.credential(
        this.authUserData.email, password
      ))
    },
    async updateProfile () {
      this.$q.loading.show({
        delay: 400
      })
      try {
        this.user = await this.$firebase.auth.currentUser()
        if (this.changePassword && !this.$accessControl.user.isAdmin) {
          if (this.authUserData.oldPassword || this.authUserData.password) {
            await this.reauthenticateUser(this.authUserData.oldPassword)
          }
        }
        const isPendingApplicant = this.authorProfileData && this.authorProfileData.status === ApplicantStatus.NotSubmitted
        const changesSaved = await this.updateFromStore()
        if (changesSaved && isPendingApplicant) {
          await this.$firebase.authorApplicants.completeApplicantProfile(this.userId)
          await delay(1000)
          this.clearStore()
          this.$router.push({ path: '/getting-started' })
        } else if (changesSaved) {
          Notify.create({
            message: 'Saved All Changes',
            type: 'positive',
            position: 'top'
          })
        }
      } catch (err) {
        const message = err.code === 'auth/wrong-password' ? 'Existing password incorrect' : 'Failed to Save Changes'
        Notify.create({
          message,
          type: 'negative',
          position: 'top'
        })
      } finally {
        this.$q.loading.hide()
      }
    },
    goToProfile () {
      const newTab = window.open(`${config.webapp.webUrl}/author/${this.authorId}`, '_blank')
      newTab.focus()
    },
    async updateFromStore () {
      // Check avatar exists
      this.profilePictureMissing = !(this.userHasAuthorProfile && this.authorProfileData.avatar)

      if ((this.saveDisabled && this.userHasAuthorProfile) || this.profilePictureMissing) {
        this.$v.$touch()
        return false
      }
      // Store the temporary 'editStore Variable for saving to Firebase
      const store = {
        author: this.editStore.author,
        user: this.editStore.user
      }

      if (store.author) {
        // Mark author profile as saved until validation is implemented
        store.author[this.$firebase.users.AUTHOR_PROFILE_SAVED_KEY] = true
      }
      // Store data in Firebase
      if (this.authorProfileRef) {
        const { email, ...authorProfileUpdates } = store.author
        if (email) {
          await this.authorProfileRef.child('email').set(email)
        }
        await this.authorProfileRef.child('profile').update(authorProfileUpdates)
      }
      let updateOperationPromises = Object.keys(store.user).map(async (key) => {
        try {
          await this.$firebase.auth.updateUserDetails(this.userId, { [key]: store.user[key] })
          this.authUserData[key] = store.user[key]
          this.firebaseErrors[key] = null
          if (this.changePassword) {
            await this.reauthenticateUser(this.authUserData.password)
          }
        } catch (error) {
          this.firebaseErrors[key] = error.message
        }
      })

      await Promise.all(updateOperationPromises)
      this.clearStore()
      return true
    },
    promtUserForDiscard (next) {
      if (Object.keys(this.editStore.author).length || Object.keys(this.editStore.user).length) {
        const answer = window.confirm('Do you really want to leave? you have unsaved changes!')
        if (answer) {
          this.clearStore()
          next()
        } else {
          next(false)
        }
      } else {
        next()
      }
    },
    async updateAuthorProfileField (fieldName, value) {
      if (!this.validateField(this.$v.authorProfileData[fieldName]) || !this.formReady) {
        return
      }
      this.editAuthorStore(fieldName, value)
    },
    async updateLinkedInProfile (profileUpdate) {
      this.updateAuthorProfileField('socialHandles/' + profileUpdate.profileToClear, null)
      this.updateAuthorProfileField('socialHandles/' + profileUpdate.profileToSet, profileUpdate.username)
    },
    async updateAuthUserField (fieldName, value) {
      if (!this.validateField(this.$v.authUserData[fieldName]) || !this.formReady) {
        return
      }
      this.editUserDetailsStore(fieldName, value)
    },
    async updateAuthorProfileAndAuthUserField (fieldName, fieldValue) {
      if (!this.validateField(this.$v.authUserData[fieldName]) || !this.formReady) {
        return
      }
      this.updateAuthUserField(fieldName, fieldValue)
      if (this.authorProfileRef) {
        this.editAuthorStore(fieldName, fieldValue)
      }
    },
    async updateAuthorAvatar (avatarObject) {
      await this.authorProfileRef.child('profile/avatar').update(avatarObject)
      this.authorProfileData.avatar = avatarObject
      await this.$firebase.auth.updateUserDetails(this.userId, { photoURL: avatarObject.originalFileUrl })
      this.profilePictureMissing = false
    },
    async userRolesChanged (userRoles) {
      if (userRoles.contentProvider) {
        this.$q.loading.show()
        let authorRef = await this.$firebase.users.getOrCreateAuthorProfileForUser(
          this.userId,
          { displayName: this.authUserData.displayName, email: this.authUserData.email }
        )
        let existingPhotoUrl = this.authUserData.photoURL
        if (existingPhotoUrl) {
          await this.$firebase.users.importAuthorAvatarFromUrl(authorRef, existingPhotoUrl)
        }

        this.authUserData.customClaims = userRoles
        await this.bindToAuthorData(authorRef)
        await this.$firebase.authorApplicants.markApplicantAsApproved(
          this.userId
        )
        this.$q.loading.hide()
      }
    },
    doCreateUserAsContentProvider () {
      return !this.userHasAuthorProfile && this.$route.query.cp === true
    },
    setCreatedUserToBeContentProvider () {
      const contentProviderRole = { contentProvider: true }
      this.$refs.userRoleSelector.setUserRoles(contentProviderRole)
      this.userRolesChanged(contentProviderRole)
    }
  }
}
</script>
