<template>
  <div>
    <q-select
      class="input author-dropdown"
      v-bind:class="{ 'no-mod-selected': !selectedMod }"
      v-model="selectedMod"
      :options="moderators"
    />
  </div>
</template>

<script>
export default {
  name: 'assign-selector',
  props: ['articleId', 'articleData', 'moderators'],
  data () {
    return {
      authorDropdownOptions: []
    }
  },
  computed: {
    selectedMod: {
      get: function () {
        return this.articleData.moderator || ''
      },
      set: async function (selectedMod) {
        this.updateMod(selectedMod)
      }
    }
  },
  methods: {
    async updateMod (modProfileKey) {
      this.articleData.moderator = modProfileKey
      this.$emit('update-article', { data: { moderator: modProfileKey }, fetchedId: this.articleId })
    }
  }
}
</script>
