<template>
  <q-td class="col-author">
    <img class="avatar" v-if="avatar" :src="avatar"/>
    <span class="author-name"
      v-html="highlightText(name, searchTerm)">
    </span>
  </q-td>
</template>

<style scoped lang="stylus">
.col-author
  line-height 25px

.avatar
  height 40px
  width 40px
  border-radius 50%
  margin-right 8px
  object-fit cover

.author-name
  vertical-align middle
  font-size 16px

</style>

<script>
import highlight from 'components/tables/highlight'

export default {
  name: 'author-info',
  mixins: [highlight],
  props: {
    name: String,
    avatar: String,
    searchTerm: String
  }
}
</script>
