<template>
  <q-infinite-scroll class="list-container" :handler="loadMore">
    <styled-table
      class="content-list"
      minWidth
      :data="collection || []"
      :columns="tableConfig.columns"
      :pagination="tableConfig.pagination"
      :filter="{selectedStatus, searchTerm}"
      :filterMethod="filterContent">
      <template slot-scope="{ row }" no-border>
        <q-td width="10%" key="date" v-html="highlightText(formatStatusUpdate(row), searchTerm)"></q-td>
        <q-td width="10%" class="article-status" key="status">
          <article-status-bar v-if="row.status" :status="row.status"/>
        </q-td>
        <q-td width="25%" class="col-title" key="title">
          <a class="title-text link-text" @click="goToContentPage(row.id)" v-html="highlightText(row.title || '-', searchTerm)"></a>
        </q-td>
        <author-info-container width="20%" :id="row.authorProfile" key="author" :search-term="searchTerm" />
      </template>
      <template slot="after-table">
        <loading v-if="!collection" />
      </template>
    </styled-table>
  </q-infinite-scroll>
</template>

<style scoped lang="stylus">
.list-container
  width 100%

.content
  display flex
  flex-direction column
  align-items center
  margin 0 auto
  padding 1rem

.content-list td
  vertical-align middle
  padding 20px
  font-size 16px

.col-title
  white-space normal

.col-format
  font-size 12px
  white-space normal

.title-text,
.format-text
  display -webkit-box
  -webkit-line-clamp 2
  -webkit-box-orient vertical
  text-overflow ellipsis
  line-height 1.5
  overflow hidden
  font-size 16px

.format-text
  >>> *
    margin 0
    color #1A0026

.status-icon
  height 15px
  margin-right 8px

.status-label
  font-size 12px
  font-weight bold

.status-icon,
.status-label
  vertical-align middle
</style>

<script>
import { mapGetters } from 'vuex'
import { date } from 'quasar'
import styledTable from 'components/styled-table'
import articleStatusBar from 'components/article-status-bar'
import {statusDisplayProperties, statusUpdateDisplay} from '../../../shared/ArticleStatus.js'
import Permission from '../../../shared/access-control/Permission.js'
import authorInfoContainer from 'containers/content-list/author-info-container'
import loading from 'components/ui/loading'
import searchHeader from 'components/search/search-header'
import highlight from 'components/tables/highlight'
import { htmlToText } from 'shared/utils.js'
import { GET_AUTHOR_DATA } from 'store/authors/getter.types'

const RESULTS_BATCH_COUNT = 20

export default {
  name: 'content-list',
  components: {
    styledTable,
    articleStatusBar,
    loading,
    authorInfoContainer,
    searchHeader
  },
  mixins: [highlight],
  data () {
    return {
      statusDisplayProperties,
      criteria: {},
      tableConfig: {
        columns: [
          { name: 'date', field: row => this.getStatusUpdate(row), label: 'Status Update', sortable: true, sort: (b, a) => { return (b.timestamp ? b.timestamp.seconds : Infinity) - (a.timestamp ? a.timestamp.seconds : 0) } },
          { name: 'status', field: 'status', label: 'Status', sortable: true, filterable: false },
          { name: 'title', field: 'title', label: 'Title', sortable: true },
          { name: 'author', field: row => this.getAuthorData(row.authorProfile) && this.getAuthorData(row.authorProfile).displayName, label: 'Author', sortable: true, sort: (a, b) => { return a.localeCompare(b) } }
        ],
        pagination: {
          sortBy: 'date',
          descending: true,
          page: 1,
          rowsPerPage: RESULTS_BATCH_COUNT
        }
      }
    }
  },
  props: {
    collection: Array,
    selectedStatus: String,
    searchTerm: String
  },
  methods: {
    htmlToText,
    loadMore (index, done) {
      this.tableConfig.pagination.rowsPerPage = index * RESULTS_BATCH_COUNT
      setTimeout(done, 1000)
    },
    filterContentByStatus (rows, status) {
      if (status === 'all') {
        return rows
      } else {
        return rows.filter(
          row => row.status === status
        )
      }
    },
    filterContentBySearchTerm (displayRows, searchTerm, cols, cellValue) {
      const lowerTerms = searchTerm ? searchTerm.toLowerCase() : ''
      return displayRows.filter(
        row => cols.some(col => {
          if (col.filterable === false) return false
          return String(cellValue(col, row)).toLowerCase().includes(lowerTerms)
        })
      )
    },
    filterContent (rows, { selectedStatus, searchTerm }, cols, cellValue) {
      let displayRows = this.filterContentByStatus(rows, selectedStatus)
      if (searchTerm) {
        displayRows = this.filterContentBySearchTerm(displayRows, searchTerm, cols, cellValue)
      }
      return displayRows
    },
    goToContentPage (id) {
      if (this.$accessControl.userAllowedTo(Permission.CreateArticles)) {
        this.$router.push(`/blog/${id}`)
      } else {
        this.$router.push(`/blog/${id}/preview`)
      }
    },
    getStatusUpdate (article) {
      const articleStatus = statusUpdateDisplay[article.status]
      const timestamp = articleStatus && article[articleStatus.dateField]
      return { ...articleStatus, timestamp }
    },
    getArticleFormat (article) {
      return article.featuredVideo ? 'Video' : 'Article'
    },
    formatStatusUpdate (article) {
      const statusUpdate = this.getStatusUpdate(article)
      if (!statusUpdate || !statusUpdate.timestamp) return '-'
      const displayDate = date.formatDate(statusUpdate.timestamp.toDate(), 'DD/MM/YYYY')
      return `${statusUpdate.msg} on ${displayDate}`
    }
  },
  computed: {
    ...mapGetters({
      getAuthorData: GET_AUTHOR_DATA
    })
  }
}
</script>
