<template>
    <styled-table
      class="content-list"
      minWidth
      :data="collection || []"
      :columns="tableConfig.columns"
      :pagination="pagination"
      :loading="showSpinner"
      :showPaginationControls="true"
      @request="request"
      noDataLabel="No articles to display">
      <template slot-scope="{ row }" no-border>
        <q-td width="15%" key="firstSubmitTimeTimestamp">
          {{row.firstSubmitTime || '-'}}
        </q-td>
        <q-td width="30%" class="col-title" key="title">
          <a class="title-text link-text" @click="goToContentPage(row.id)" v-html="highlightText(row.title || '-', searchTerm)"></a>
        </q-td>
        <author-info width="20%" :name="row.authorName" :avatar="row.authorAvatar" key="author" :search-term="searchTerm" />
        <q-td width="15%" class="col-format" key="format">
          <div class="format-text" v-html="highlightText(getArticleFormat(row), searchTerm)"></div>
        </q-td>
        <q-td width="20%" class="article-status" key="updatedTimeTimestamp">
          <article-status-bar v-if="row.status" :fullDisplay="true" :status="row.status" :stamp="formatStatusUpdate(row)"/>
        </q-td>
      </template>
    </styled-table>
</template>

<style scoped lang="stylus">
.list-container
  width 100%

.content
  display flex
  flex-direction column
  align-items center
  margin 0 auto
  padding 1rem

.content-list td
  vertical-align middle
  padding 20px

.col-title
  white-space normal

.col-format
  font-size 12px
  white-space normal

.title-text,
.format-text
  display -webkit-box
  -webkit-line-clamp 2
  -webkit-box-orient vertical
  text-overflow ellipsis
  line-height 1.5
  overflow hidden
  font-size 16px

.format-text
  >>> *
    margin 0
    color #1A0026

.status-icon
  height 15px
  margin-right 8px

.status-label
  font-size 12px
  font-weight bold

.status-icon,
.status-label
  vertical-align middle
</style>

<script>
import styledTable from 'components/styled-table'
import articleStatusBar from 'components/article-status-bar'
import {statusUpdateDisplay} from '../../../shared/ArticleStatus.js'
import Permission from '../../../shared/access-control/Permission.js'
import authorInfo from 'components/pages/content-list/author-info'
import loading from 'components/ui/loading'
import searchHeader from 'components/search/search-header'
import highlight from 'components/tables/highlight'
import { htmlToText } from 'shared/utils.js'

import { search } from 'src/plugins/firebase/content/search'

import { mapGetters, mapActions } from 'vuex'
import { GET_PAGINATION } from 'store/content/list/getter.types'
import { SET_PAGINATION, SET_AVAILABLE_STATUSES } from 'store/content/list/action.types'

export default {
  name: 'content-list',
  components: {
    styledTable,
    articleStatusBar,
    loading,
    authorInfo,
    searchHeader
  },
  mixins: [highlight],
  data () {
    return {
      collection: [],
      showSpinner: false,
      defaultPagination: {
        sortBy: 'updatedTime',
        descending: true,
        page: 1,
        rowsNumber: 10,
        rowsPerPage: 10
      },
      tableConfig: {
        columns: [
          { name: 'firstSubmitTimeTimestamp', field: 'firstSubmitTimeTimestamp', label: 'Submission date', sortable: true, filterable: false },
          { name: 'title', field: 'title', label: 'Title', sortable: true },
          { name: 'authorName', field: 'authorName', label: 'Author', sortable: true },
          { name: 'format', field: row => this.getArticleFormat(row), label: 'Format', sortable: true },
          { name: 'updatedTimeTimestamp', field: 'updatedTimeTimestamp', label: 'Status change', sortable: true, filterable: false }
        ]
      }
    }
  },
  props: {
    status: String,
    searchTerm: String,
    filters: Object
  },
  computed: {
    ...mapGetters({
      pagination: GET_PAGINATION
    })
  },
  watch: {
    $props: {
      handler () {
        this.fetch()
      },
      deep: true
    }
  },
  created () {
    const paginationInitialised = Boolean(this.pagination.page)
    if (!paginationInitialised) {
      this.setPagination(this.defaultPagination)
    }
    this.fetch()
  },
  methods: {
    ...mapActions({
      setPagination: SET_PAGINATION,
      setOccuringStatuses: SET_AVAILABLE_STATUSES
    }),
    async fetch () {
      this.showSpinner = true
      const result = await search({
        from: (this.pagination.page - 1) * this.pagination.rowsPerPage,
        size: this.pagination.rowsPerPage || this.pagination.rowsNumber,
        sortBy: this.pagination.sortBy,
        descending: this.pagination.descending,
        term: this.searchTerm,
        filters: {
          ...this.filters, status: this.status
        }
      })
      this.showSpinner = false
      if (result.data !== null) {
        const hits = result.data.hits.map(hit => hit._source)
        const rowsNumber = result.data.total.value
        this.setPagination({
          ...this.pagination,
          rowsNumber
        })
        this.collection = hits
      }
    },
    request ({ pagination }) {
      this.setPagination(pagination)
      this.fetch()
    },
    htmlToText,
    goToContentPage (id) {
      if (this.$accessControl.userAllowedTo(Permission.CreateArticles)) {
        this.$router.push(`/content/${id}`)
      } else {
        this.$router.push(`/content/${id}/preview`)
      }
    },
    getStatusUpdate (article) {
      const articleStatus = statusUpdateDisplay[article.status]
      const timestamp = articleStatus && article[articleStatus.dateField]
      return { ...articleStatus, timestamp }
    },
    getArticleFormat (article) {
      return article.video ? 'Video' : 'Article'
    },
    formatStatusUpdate (article) {
      const statusUpdate = this.getStatusUpdate(article)
      if (!statusUpdate || !statusUpdate.timestamp) return '-'
      const dateStr = this.highlightText(article.updatedTime || '-', this.searchTerm)
      return dateStr
    }
  }
}
</script>
