<template>
  <div>
    <div v-if="focus">
      Showing only Quality Content
    </div>
    <div v-if="filteringSpecified">
      Showing results for {{criteriaText}}
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { GET_LIFE_SKILL_NAME } from 'store/tools/lifeskills/getter.types'
import { GET_QUALITY_NAME } from 'store/tools/qualities/getter.types'
import { GET_PRIORITY_NAME } from 'store/tools/areas-of-life/getter.types'

export default {
  name: 'criteria-label',
  props: {
    criteria: {
      type: Object,
      required: true
    },
    focus: String
  },
  computed: {
    ...mapGetters({
      lifeSkillName: GET_LIFE_SKILL_NAME,
      qualityName: GET_QUALITY_NAME,
      priorityName: GET_PRIORITY_NAME
    }),
    filteringSpecified () {
      return this.criteria && Object.keys(this.criteria).length > 0
    },
    criteriaText () {
      if (this.criteria.lifeSkills) {
        return `Soft Skill: ${this.lifeSkillName(this.criteria.lifeSkills)}`
      }
      if (this.criteria.qualities) {
        return `Quality: ${this.qualityName(this.criteria.qualities)}`
      }
      if (this.criteria.priorities) {
        return `Segment: ${this.priorityName(this.criteria.priorities)}`
      }
    }
  }
}
</script>
