<template>
  <div class="status">
    <q-icon
      v-if="statusDisplayProperties[status].icon && fullDisplay"
      class="status__icon"
      :style="{ color: statusDisplayProperties[status].color }"
      :name="statusDisplayProperties[status].icon"
    />
    <p :class="{ 'status__label': fullDisplay }"
      :style="{ color: statusDisplayProperties[status].color }">
      {{ statusDisplayProperties[status].name }}
    </p>
    <p v-if="fullDisplay" class="status__stamp">
      {{stamp}}
    </p>
  </div>
</template>

<style lang="stylus" scoped>
.status
  position relative
  p
    margin 0
  &__icon
    margin 4px 8px 0 0
    display inline-block
    font-size 24px
    position absolute
    left 0
    top 3px
  &__stamp,
  &__label
    margin 0
    padding-left 40px
    font-size 16px
  &__stamp
    font-size 12px
</style>

<script>
import {statusDisplayProperties} from '../shared/ArticleStatus.js'
export default {
  name: 'article-status-bar',
  props: ['status', 'stamp', 'fullDisplay'],
  data () {
    return {
      statusDisplayProperties
    }
  }
}
</script>
