<template>
  <div>
    <div class="block-container"
      v-for="(block, index) in blocks"
      :key="block.reference.id"><!-- textBlocks ref name and block's 'content' variable is currently referenced from ArticleValidators module. TODO: implement validation specific to body blocks component -->
      <text-block-component
        ref="textBlocks"
        v-if="block.type==='text'"
        :blockReference="block.reference"
        :isBlog=isBlog
        @empty="isEmpty(block,true)"
        @content-added="isEmpty(block,false)"
        @remove="deleteBlock(block,$event)"
        @move-block-up="moveBlockUp(block)"
        @move-block-down="moveBlockDown(block)"
        @update-started="notifyOfUpdateOperation(true)"
        @update-finished="notifyOfUpdateOperation(false)"
      ></text-block-component>
      <image-block-component
        ref="imageBlocks"
        v-else-if="block.type==='image'"
        :existingImageObj="block"
        :blockReference="block.reference"
        :fileMetadata="fileMetadata"
        :articleId="articleId"
        :showMoveBtns="true"
        @remove="deleteBlock(block, $event)"
        @image-uploaded="isEmpty(block,false)"
        @block-cancelled="removeBlock(index)"
        @move-block-up="moveBlockUp(block)"
        @move-block-down="moveBlockDown(block)"
        @update-started="notifyOfUpdateOperation(true)"
        @update-finished="notifyOfUpdateOperation(false)"
      ></image-block-component>
      <video-block-component
        ref="videoBlocks"
        v-else-if="block.type==='video'"
        :blockReference="block.reference"
        @remove="deleteBlock(block,$event)"
        @video-updated="isEmpty(block,false)"
        @block-cancelled="cancelBlock(block, index)"
        @move-block-up="moveBlockUp(block)"
        @move-block-down="moveBlockDown(block)"
        @update-started="notifyOfUpdateOperation(true)"
        @update-finished="notifyOfUpdateOperation(false)"
      ></video-block-component>
      <button-block-component
        ref="buttonBlocks"
        v-else-if="block.type==='button'"
        :blockReference="block.reference"
        @empty="isEmpty(block,true)"
        @content-added="isEmpty(block,false)"
        @remove="deleteBlock(block,$event)"
        @move-block-up="moveBlockUp(block)"
        @move-block-down="moveBlockDown(block)"
        @update-started="notifyOfUpdateOperation(true)"
        @update-finished="notifyOfUpdateOperation(false)"
      ></button-block-component>
    </div>
    <div class="block-selector" v-if="blockSelectorOpened">
      <p class="block-selector-title">Select a section type <custom-tooltip>This is the main body of your content, please select between a text, Image or video block.</custom-tooltip></p>
      <div class="block-type-list">
        <q-btn class="block-type no-shadow" @click="addBlock('text')" no-caps>
          <q-icon class="block-type-icon" name="short_text" />
          <span class="block-type-label">Text</span>
        </q-btn>
        <q-btn class="block-type no-shadow" @click="addBlock('image')" no-caps>
          <q-icon class="block-type-icon" name="image" />
          <span class="block-type-label">Image</span>
        </q-btn>
        <q-btn class="block-type no-shadow" @click="addBlock('video')" no-caps>
          <q-icon class="block-type-icon" name="play_circle_outline" />
          <span class="block-type-label">Video</span>
        </q-btn>
        <template v-if="blog">
          <q-btn class="block-type no-shadow" @click="addBlock('button')" no-caps>
            <q-icon class="block-type-icon" name="crop_landscape" />
            <span class="block-type-label">Button</span>
          </q-btn>
        </template>
      </div>
      <q-card-separator></q-card-separator>
      <q-btn class="btn-cancel" @click="blockSelectorOpened = false" flat color="primary" label="Cancel" />
    </div>
    <PrimaryBtn
      v-else
      :padding="{top: true}"
      title="Add section"
      inlined
      inlinedContainer
      centered
      @click="blockSelectorOpened = true"
    />
    <error-label v-if="error">Please add at least one section</error-label>
  </div>
</template>

<script>
import { firebase } from 'plugins/firebase'
import customTooltip from './custom-tooltip'
import textBlockComponent from 'components/content-blocks/text'
import imageBlockComponent from 'components/content-blocks/image'
import videoBlockComponent from 'components/content-blocks/video'
import buttonBlockComponent from 'components/content-blocks/button'
import errorLabel from 'components/ui/error-label'
import { PrimaryBtn } from 'components/ui/buttons'

import firebaseApp from 'firebase/app'
const FieldValue = firebaseApp.firestore.FieldValue

export default {
  name: 'body-blocks-editor',
  components: {
    errorLabel,
    customTooltip,
    textBlockComponent,
    imageBlockComponent,
    videoBlockComponent,
    buttonBlockComponent,
    PrimaryBtn
  },
  props: [
    'fileMetadata',
    'articleId',
    'error',
    'isBlog'
  ],
  data () {
    return {
      index: [],
      blog: this.isBlog || false,
      blocks: [],
      blockSelectorOpened: false
    }
  },
  created () {
    this.body = firebase.content.collection('bodies').doc(this.articleId)
    this.body.onSnapshot(docSnapshot => {
      this.index = docSnapshot.get('index') || []
    })
  },
  methods: {
    notifyOfUpdateOperation (updateStarted) {
      if (updateStarted) {
        this.$emit('update-started')
      } else {
        this.$emit('update-finished')
      }
    },
    isEmpty (block, value) {
      block.isEmpty = value
      this.updateIndex()
    },
    addBlock (type) {
      // let $this = this
      this.blockSelectorOpened = false
      this.blocks.push({
        reference: this.body.collection('blocks').doc(),
        type: type,
        isEmpty: true
      })
      // this.saveBlocks(this.blocks)
    },
    async updateIndex () {
      this.notifyOfUpdateOperation(true)
      let index = this.blocks.reduce((accumulator, block) => {
        if (!block.isEmpty) {
          accumulator.push({
            reference: block.reference,
            type: block.type
          })
        }
        return accumulator
      }, [])
      if (index.length === 0) {
        await this.body.update({index: FieldValue.delete(), blog: this.blog})
      } else {
        await this.body.set({index, blog: this.blog}, {merge: true})
      }
      this.notifyOfUpdateOperation(false)
    },
    deleteBlock (block, removeFileFnc) {
      let indexValue = {
        reference: block.reference,
        type: block.type
      }
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to delete this section?',
        ok: 'Yes',
        cancel: 'No'
      }).then(async () => {
        if (block.isEmpty) {
          this.removeBlock(block)
        } else {
          this.notifyOfUpdateOperation(true)
          await this.body.update({index: FieldValue.arrayRemove(indexValue), blog: this.blog})
          this.notifyOfUpdateOperation(false)
        }
        if (removeFileFnc) {
          removeFileFnc()
        }
      }).catch(() => {})
    },
    removeBlock (block) {
      let newBlocks = this.blocks.slice(0)
      newBlocks.splice(newBlocks.indexOf(block), 1)
      this.blocks = newBlocks
    },
    deleteBody () {
      let videoDeletionPromises = this.$refs.videoBlocks && this.$refs.videoBlocks.map(block => block.cleanVideoData())
      let imageDeletionPromises = this.$refs.imageBlocks && this.$refs.imageBlocks.map(block => block.remove())
      let textDeletionPromises = this.$refs.textBlocks && this.$refs.textBlocks.map(block => block.remove())
      return Promise.all([
        videoDeletionPromises,
        imageDeletionPromises,
        textDeletionPromises,
        this.body.delete()
      ])
    },
    updateMetadataOfAllImages (newMetadata) {
      let imageBlocks = this.$refs.imageBlocks
      if (imageBlocks) {
        let metadataUpdatePromises = imageBlocks.map(block => block.updateMetadata(newMetadata))
        return metadataUpdatePromises
      }
    },
    moveBlockUp (block, event) {
      const moveFrom = this.blocks.findIndex(b => b === block)
      if (moveFrom !== 0) {
        const moveTo = moveFrom - 1
        this.moveBlock(moveFrom, moveTo)
      }
    },
    moveBlockDown (block, event) {
      const moveFrom = this.blocks.findIndex(b => b === block)
      if (moveFrom !== (this.blocks.length - 1)) {
        const moveTo = moveFrom + 1
        this.moveBlock(moveFrom, moveTo)
      }
    },
    moveBlock (moveFrom, moveTo) {
      if (moveTo >= this.blocks.length) {
        let k = moveTo - (this.blocks.length + 1)
        while (k--) {
          this.blocks.push(undefined)
        }
      }
      this.blocks.splice(moveTo, 0, this.blocks.splice(moveFrom, 1)[0])
      this.updateIndex()
    }
  },
  computed: {
    bodyIsEmpty () {
      // Function referenced from ArticleValidators.js, to check if body was entered
      return !(this.blocks && this.blocks.some(block => !block.isEmpty))
    }
  },
  watch: {
    index: {
      handler (newValue) {
        let i,
          currentBlocks = this.blocks.slice(0),
          newBlocks = newValue.map(block => ({
            ...block,
            isEmpty: false
          })),
          newIndexMap = newValue.reduce((accumulator, block, index) => {
            accumulator[block.reference.id] = index
            return accumulator
          }, {})
        function newIndex (oldIndex) {
          let i
          // finds previous remaining sibling
          for (i = oldIndex - 1; i >= 0; i--) {
            let prevBlockIndex = newBlocks.findIndex(element => element.reference.id === currentBlocks[i].reference.id)
            if (prevBlockIndex !== undefined) {
              return prevBlockIndex + 1
            }
          }
          return 0
        }
        for (i = 0; i < currentBlocks.length; i++) {
          // if current block does not exist in new index and is empty
          if (currentBlocks[i].isEmpty && newIndexMap[currentBlocks[i].reference.id] === undefined) {
            newBlocks.splice(newIndex(i), 0, currentBlocks[i])
          }
        }
        this.blocks = newBlocks
      },
      immediate: true
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~variables'

  .button
    width 100%
    border-radius 12px
    padding 1rem
    font-size 1rem
    font-weight bold

  .block-selector
    text-align center

  .block-selector-title
    margin 8px 8px 20px

  .block-type
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 150px
    height 120px
    line-height 120px
    font-size 14px
    margin 8px 4px
    margin-top 0px
    color #777777
    background $white
    border 1px solid rgba(0,0,0,0.1)

  .block-type-list
    display flex
    justify-content center

  .btn-cancel
    width 100%
    padding 0.8rem

  .block-container
    margin 1rem 0

  .block-type-icon
    font-size 3rem
    margin-bottom 10px
    width 100%
    display block

  .block-type >>> .q-btn-inner
    align-content center

  .block-type-label
    line-height 1em
    font-weight 500
</style>
