<template>
  <div class="block-header">
    <q-btn v-if="showCropBtn" class="header-btn header-btn-change" icon="crop" label="Crop image" no-caps @click="$emit('crop-btn-clicked')" />
    <q-btn v-if="showChangeBtn" class="header-btn header-btn-change" icon="edit" label="Change" no-caps @click="$emit('change-btn-clicked')" />
    <q-btn v-if="showCancelBtn" class="header-btn header-btn-change" icon="cancel" label="Back" no-caps @click="$emit('cancel-btn-clicked')" />
    <q-btn v-if="showRemoveBtn" class="header-btn header-btn-remove" icon="delete" label="Remove" no-caps @click="$emit('remove-btn-clicked')" />
    <div v-if="showMoveBtns" class="move justify-center">
      Move
      <q-btn class="header-btn" icon="keyboard_arrow_up" @click="$emit('move-btn-up-clicked')" />
      <q-btn class="header-btn" icon="keyboard_arrow_down" @click="$emit('move-btn-down-clicked')" />
    </div>
  </div>
</template>

<script>
// TODO add button objects dynamically
export default {
  props: [
    'showChangeBtn',
    'showCropBtn',
    'showRemoveBtn',
    'showCancelBtn',
    'showMoveBtns'
  ],
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
@import '~variables'
  .block-header
    display flex
    justify-content flex-end
    background $white

  .header-btn.q-btn,
  .move
    box-shadow none
    border-left: 1px solid #e5e5e5
    font-weight 400
    flex 1
    border-radius 0
    line-height 36px
    color $primary
    &:first-child
      border none

  .move
    font-size 14px
    padding 4px 0
    text-align center
    .q-btn
      border none
      font-size 20px
      padding 0
      min-height 22px
      &:first-child
        margin-left 20px

  .header-btn-change
    color $link-color

  .header-btn-remove
    color $negative
</style>
