<template>
  <div>
    <div class="header" :class="{'header-expanded': $route.name !== 'edit' && !$accessControl.userAllowedTo('listArticlesInReview') }">
      <router-link
        v-if="$accessControl.userAllowedTo('createArticles')"
        class="link edit-link"
        to="edit">
        <q-btn class="edit-btn" flat no-caps label="Edit" icon="edit" />
      </router-link>
      <template v-if="!blog">
        <div class="preview-icon">
          <custom-tooltip>Here you can see what your content will look like on a person’s phone or tablet. It will help you get a clearer picture of what your content will look like.</custom-tooltip>
          <span>&nbsp;Preview</span>
        </div>
        <router-link class="link" to="preview-desktop">
          <q-btn flat label="Desktop" icon="desktop_windows" />
        </router-link>
        <router-link class="link" to="preview-tablet">
          <q-btn flat label="Tablet" icon="tablet_android" />
        </router-link>
        <router-link class="link" to="preview">
          <q-btn flat no-ripple label="Mobile" icon="phone_android" />
        </router-link>
      </template>
    </div>
    <router-view class="page"></router-view>
  </div>
</template>

<script>
import customTooltip from './custom-tooltip'
export default {
  name: 'content-control',
  components: {customTooltip},
  props: [
    'blog'
  ]
}
</script>

<style lang="stylus" scoped>
  @import '~variables'
  header-width(percentage)
    "calc((100vw - 260px) * %s)" % percentage
  $header-height = 50px

  .header
    flex 1
    display flex
    position fixed
    height $header-height
    background white
    z-index 2
    top 0
    width header-width(1)
    transition width 0.5s
    > *
      background #E0E0E0
      border-right 1px solid #BBBBBB
      border-bottom 1px solid #DDDDDD
      flex 1
      &.preview-icon
        border-right none
        margin-right -7px
  .header-expanded
    width header-width(1)
  .page
    padding-top $header-height
  .link
    text-decoration none
  .preview-icon
    display flex
    align-items center
    padding 0 20px
    font-size 12px
    flex 0
    position relative
    *
      font-size 16px
    i
      font-size 24px
      &:after
        content ''
        position absolute
        right -5px
        top 0
        display block
        border-top 25px solid transparent
        border-bottom 25px solid transparent
        border-left 12px solid #E0E0E0
        z-index 1
    &:before, &:after
      content ''
      border-right: 1px solid #BBBBBB
      position absolute
      right 0
      top -1%
      height 27px
      transform rotate(-25deg)
      z-index 2
    &:after
      top 50%
      transform rotate(25deg)

  .router-link-exact-active
    background $light-grey
    border-bottom none
    button
      background $light-grey
  .q-btn
    width 100%
    height 100%
    color black
    font-size 12px
    >>> .q-icon
      font-size 24px
  .edit-link
    max-width 200px
    border-right none
  .edit-btn
    font-size 20px
  .page >>> .sidebar
    width header-width(0.25)
    padding-right 20px
    padding-left 20px
</style>
