<template>
  <GenericDropdown
    :selectedOption="selectedType"
    v-on:input="$emit('update:selectedType', $event)"
    placeholder="Select type"
    label="content type"
    :options="typeList"
    :customOptions="customTypeOptions"
    :optionDisplayProperties="typeTitles"
  />
</template>

<script>
import GenericDropdown from 'components/ui/generic-dropdown'
import { typeDisplayProperties, typeList } from 'shared/ArticleType.js'

export default {
  name: 'content-type-dropdown',
  components: {
    GenericDropdown
  },
  props: {
    customTypeOptions: Array,
    selectedType: String
  },
  data: () => ({
    typeList
  }),
  computed: {
    typeTitles () {
      const typeTitles = {}
      Object.keys(typeDisplayProperties).map(
        key => {
          typeTitles[key] = typeDisplayProperties[key].name
        }
      )
      return typeTitles
    }
  }
}
</script>
