<template>
  <GenericDropdown
    :selectedOption="selectedStatus"
    v-on:input="$emit('update:selectedStatus', $event)"
    placeholder="Select status"
    label="content status"
    :options="statusList"
    :customOptions="customStatusOptions"
    :optionDisplayProperties="statusTitles"
  />
</template>

<script>
import GenericDropdown from 'components/ui/generic-dropdown'
import { statusDisplayProperties, statusList } from 'shared/ArticleStatus.js'

export default {
  name: 'content-status-dropdown',
  components: {
    GenericDropdown
  },
  props: {
    customStatusOptions: Array,
    selectedStatus: String
  },
  data: () => ({
    statusList
  }),
  computed: {
    statusTitles () {
      const statusTitles = {}
      Object.keys(statusDisplayProperties).map(
        key => {
          statusTitles[key] = statusDisplayProperties[key].name
        }
      )
      return statusTitles
    }
  }
}
</script>
