<template>
  <q-btn
    class="button"
    :class="{
      'no-shadow': noShadow && !secondary,
      'big': big,
      'disabled': disabled
    }"
    :color="color || (secondary ? 'white' : 'secondary')"
    :text-color="secondary ? 'secondary' : 'white'"
    :size='size'
    :icon="icon"
    :label="label"
    no-caps>
    <slot/>
  </q-btn>

</template>

<style lang="stylus" scoped>
@import '~variables'
.button
  padding 12px 28px
  border-radius 25px
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  height 50px

.big
  padding-top 18px
  padding-bottom 18px
</style>

<script>
export default {
  name: 'custom-button',
  props: {
    label: {
      type: String,
      default: null
    },
    big: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: ''
    },
    noShadow: {
      type: Boolean,
      default: true
    },
    secondary: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: ''
    }
  },
  computed: {
    size () {
      if (this.big === true) {
        return '1.25rem'
      } else {
        return '1rem'
      }
    }
  }
}
</script>
