<template>
  <q-icon class="icon" name="help_outline">
    <q-tooltip :offset="[0,8]" class="tooltip"><slot></slot></q-tooltip>
  </q-icon>
</template>

<style lang="stylus" scoped>
@import '~variables'
.icon
  color $secondary-lt
.tooltip
  background-color $tertiary-lt
  max-width 250px
  font-size 0.8em
  line-height 1.5em
</style>

<script>
export default {
  name: 'custom-tooltip'
}
</script>
