<template>
  <div class="editable-field" :class="inputType">
    <img class="field-icon" v-if="iconPath" :src="iconPath"/>
    <div class="field-content">
      <q-field v-if="editingEnabled"
        :class="{'input': inputType !== 'textarea'}"
        :icon="icon"
        color="black"
        :error="error"
        :error-label="errorLabel"
        :count="maxLength">
        <q-select :float-label="floatingLine"
          v-if="inputType == 'select'"
          :value="value"
          @input="selectValueUpdated"
          :options="selectOptions"
          :placeholder="placeholder" />
        <q-input v-else
          :stack-label="stackLabel"
          :float-label="floatingLine"
          :disable="!editingEnabled"
          :value="displayValue"
          @input="valueUpdated"
          @keyup="valueConfirmed"
          @blur="valueConfirmed"
          :type="inputType?inputType:'text'"
          :prefix="prefix"
          :hide-underline="inputType==='textarea'"
          :max-length="maxLength"
          :autocomplete="autocomplete"
          rows="4">
          <slot />
        </q-input>
      </q-field>
      <div v-else
        class="readonly-field">
        <div class="label">{{floatingLine || stackLabel}}</div>
        <div v-if="inputType == 'select'" class="field-value">{{ valueToSelectLabel(value) || '-'}}</div>
        <div v-else class="field-value">
          <span class="prefix" v-if="prefix">{{prefix}}</span>{{value || placeholder || '-'}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'editable-field',
  props: [
    'value',
    'editingEnabled',
    'icon',
    'stackLabel',
    'floatLabel',
    'inputType',
    'error',
    'errorLabel',
    'placeholder',
    'selectOptions',
    'prefix',
    'iconPath',
    'maxLength',
    'required',
    'storePrefixInModel',
    'autocomplete'
  ],
  methods: {
    valueUpdated (newVal) {
      this.$emit('input', this.addPrefix(newVal))
    },
    valueConfirmed (event) {
      const newVal = event.target.value
      this.$emit('valueConfirmed', this.addPrefix(newVal))
    },
    selectValueUpdated (newVal) {
      this.valueUpdated(newVal)
      this.valueConfirmed(newVal)
    },
    valueToSelectLabel (value) {
      let foundOption = this.selectOptions.find(item => value === item.value)
      return foundOption && foundOption.label
    },
    addPrefix (value) {
      const shouldAddPrefix = this.prefix && this.storePrefixInModel && value.indexOf(this.prefix) !== 0
      if (shouldAddPrefix) {
        return this.prefix + value
      }
      return value
    },
    removePrefix (value) {
      const shouldRemovePrefix = this.prefix && this.storePrefixInModel
      if (shouldRemovePrefix) {
        return this.value && this.value.replace(this.prefix, '')
      }
      return value
    }
  },
  computed: {
    floatingLine () {
      return `${this.floatLabel}${this.required ? ' <span class="required-asterisk">*</span>' : ''}`
    },
    displayValue () {
      return this.removePrefix(this.value)
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~variables'
.textarea .q-field
  background white
  box-shadow none
  border-radius 0px
  border 1px solid #DDDDDD
  margin-bottom 20px
  min-height 120px
  padding 8px

.editable-field
  display flex
  flex-direction row

.field-content
  width 100%

.field-icon
  width 20px
  height 20px
  margin-right 8px

.input >>>
  .q-if-label-inner
    font-size 0.875rem

  .q-if-inner, .q-input-target, .q-if-addon
    font-size 1.25rem
    height 1.6em
    line-height 1.6em
  .q-if-standard.q-if-has-label
      padding-top 20px

.label
  color #1A0026
  font-size 0.875rem
  opacity 0.5

.field-value
  color #1A0026
  font-size 1.25rem

.prefix
  color #1A0026
  opacity 0.5
</style>

<style lang="stylus">
.required-asterisk
  color $red
</style>
