<template>
  <p class="title"
    :class="{
      'error':error,
      'padding-top': padding.top,
      'padding-bottom': padding.bottom,
      'padding-left': padding.left,
      'padding-right': padding.right
    }"
  >{{ title }}&nbsp;<custom-tooltip v-if="tooltip!==''">{{tooltip}}</custom-tooltip>
    <span v-if="note" class="note">{{note}}</span>
  </p>
</template>

<style lang="stylus" scoped>
@import '~variables'
.title
  color $primary
  font-size 20px
  font-weight 500
  line-height 24px
.error
  color $negative
.note
  margin-left 8px
  color #7C7C7C
  font-size 20px
.padding-top
  margin-top 16px
.padding-bottom
  margin-bottom 16px
.padding-left
  margin-left 16px
.padding-right
  margin-right 16px
</style>

<script>
import customTooltip from './custom-tooltip'
export default {
  name: 'featured-title',
  components: {customTooltip},
  props: {
    title: {
      type: String,
      default: ''
    },
    tooltip: {
      type: String,
      default: ''
    },
    error: {
      type: Boolean,
      default: false
    },
    note: {
      type: String,
      default: ''
    },
    padding: {
      type: Object,
      default: () => ({
        top: false,
        bottom: false,
        left: false,
        right: false
      })
    }
  }
}
</script>
