<template>
  <div v-if="displayContentImage && !cropping" class="block-img">
    <q-card flat class="block-card">
      <content-block-header
        :showChangeBtn="true"
        :showCropBtn="true"
        :showRemoveBtn="showRemoveBlockBtn"
        :showCancelBtn="showPreviewCancelBtn"
        :showMoveBtns="showMoveBtns"
        @crop-btn-clicked="openCroppingTool()"
        @change-btn-clicked="changeImageMode = true"
        @remove-btn-clicked="removeBtnClicked"
        @move-btn-up-clicked="$emit('move-block-up')"
        @move-btn-down-clicked="$emit('move-block-down')"
        @cancel-btn-clicked="$emit('cancel-btn-clicked')"
      ></content-block-header>
      <div class="block-image-container">
        <img class="image" ref="image" extensions=".gif,.jpg,.jpeg,.png" :src="imageObj.fileUrl" v-show="!cropping"/>
      </div>
      <q-field class="image-caption">
        <q-input
          v-if="showCaptionInput"
          float-label="Insert image caption (none will be shown if left blank)"
          type="text"
          v-model="imageObj.caption"
          @keyup.enter="updateBlock"
          @blur="updateBlock"/>
        <q-input
          v-if="showAltTextInput"
          float-label="Alt text"
          type="text"
          v-model="imageObj.altText"
          @keyup.enter="updateBlock"
          @blur="updateBlock"/>
      </q-field>
    </q-card>
  </div>
  <div class="crop-container" v-else-if="cropping">
    <vue-croppie
      class="croppie"
      ref="croppieRef"
      :enableResize="false"
      :viewport="cropViewport">
    </vue-croppie>
    <div class="text-center">
      <q-btn class="btn-cancel btn-small" flat label="Save" @click="saveCropping()"  />
      <q-btn class="btn-cancel btn-small" flat label="Cancel" @click="cropping=false"  />
    </div>
  </div>
  <div v-else>
    <q-card class="upload-card">
      <q-uploader
        class="uploader"
        :class="{'uploader-error':error}"
        ref="uploader"
        url=""
        :upload-factory="uploadFile"
        auto-expand
        @click.native="openFileSelector"
        @add="initiateUpload"/>
        <q-btn class="btn-cancel" flat label="Cancel"
          v-if="showUploadCancelBtn || changeImageMode"
          @click="cancelled"  />
    </q-card>
    <!--<vue-croppie
      class="croppie"
      ref="croppieRef"
      :enableOrientation="true">
    </vue-croppie>-->
  </div>
</template>

<script>
// TODO split the component into 3 separate modules: image-block component, file upload component, image cropping module

import { config } from './../config'
import firebase from 'firebase/app'
import 'firebase/storage'

import contentBlockHeader from 'components/content-block-header'

const MAX_FILE_SIZE = 10 * 1024 * 1024

export default {
  components: {
    contentBlockHeader
  },
  props: {
    existingImageObj: Object,
    uploadPath: String,
    fileMetadata: Object,
    showCaptionInput: Boolean,
    showAltTextInput: Boolean,
    showUploadCancelBtn: Boolean,
    showPreviewCancelBtn: Boolean,
    showRemoveBlockBtn: Boolean,
    cropAspectRatio: String,
    error: {
      type: Boolean,
      default: false
    },
    showMoveBtns: Boolean
  },
  data () {
    return {
      imageObj: {},
      changeImageMode: false,
      cropping: false,
      cropViewport: {}
    }
  },
  watch: {
    existingImageObj: {
      handler (existingImageObj) {
        this.imageObj = existingImageObj || {}
      },
      immediate: true
    }
  },
  computed: {
    displayContentImage () {
      return !!this.imageObj.fileUrl && !this.changeImageMode
    }
  },
  methods: {
    initiateUpload (files) {
      let { size, type } = files[0]
      let fileIsNotAnImage = type.match('image.*')
      if (!fileIsNotAnImage) {
        this.$refs.uploader.reset()
        alert('The selected file is not an image')
        return
      }
      let fileIsTooLarge = size > MAX_FILE_SIZE
      if (fileIsTooLarge) {
        this.$refs.uploader.reset()
        alert('The selected image is too large - it exceeds the 10MB limit')
        return
      }
      this.$refs.uploader.upload()
    },
    openFileSelector () {
      let fileInputElement = this.$el.querySelectorAll('.q-uploader-input')[0]
      fileInputElement.click()
    },
    fileRef (filePath) {
      return firebase.app().storage().ref(filePath)
    },
    getFileUrl (file) {
      return new Promise((resolve) => {
        var reader = new FileReader()
        reader.onload = (event) => {
          resolve(event.target.result)
        }

        reader.readAsDataURL(file)
      })
    },
    async openCroppingTool () {
      let targetRatio = this.cropAspectRatio || (16 / 10)
      let imgW = this.$refs.image.clientWidth
      let imgH = this.$refs.image.clientHeight
      let imageRatio = imgW / imgH
      let viewport = {
        width: imgW,
        height: imgH
      }

      let cropHorizontally = imageRatio > targetRatio
      if (cropHorizontally) {
        viewport.width = targetRatio * imgH
      } else {
        viewport.height = imgW / targetRatio
      }
      this.cropViewport = viewport
      setTimeout(async () => {
        let originalImageUrl = await this.fileRef(this.imageObj.originalFilePath).getDownloadURL()
        console.log(originalImageUrl)
        await this.$refs.croppieRef.bind({
          url: originalImageUrl,
          zoom: 0
        })
      }, 200)
      this.cropping = true
    },
    saveCropping () {
      return this.$refs.croppieRef
        .result({
          type: 'blob',
          size: 'original',
          format: 'jpeg',
          quality: 0.99,
          circle: false
        })
        .then((file) => {
          let originalFilePath = this.imageObj.originalFilePath
          let originalFileName = originalFilePath.substr(originalFilePath.lastIndexOf('/') + 1)
          let croppedFileName = 'cropped/' + originalFileName
          console.log(croppedFileName)
          this.uploadFile(file, () => {}, {
            fileName: croppedFileName,
            saveCroppedImage: true
          })
        })
    },
    async resizeFile (file) {
      let url = await this.getFileUrl(file)
      await this.$refs.croppieRef.bind({
        url
      })
      return this.$refs.croppieRef.result({
        type: 'blob',
        // quality: 0.59,
        size: {
          width: 1000
        }
      })
    },
    async uploadFile (file, updateProgress, options = {}) {
      return new Promise(async (resolve, reject) => {
        let previousImagePath = this.imageObj.originalFilePath
        let previousCroppedFilePath = this.imageObj.croppedFiles && this.imageObj.croppedFiles[0].filePath
        let newImagePath = `${config.storage.content}/${this.uploadPath}/${options.fileName || file.name}`

        let fileRef = this.fileRef(newImagePath)
        let metadata = {
          customMetadata: this.fileMetadata
        }

        let uploadTask = fileRef.put(file, metadata)
        uploadTask.on('state_changed', snapshot => {
          var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
          updateProgress(progress)
        }, error => {
          console.log(error)
        }, () => {
          uploadTask.snapshot.ref.getDownloadURL().then(async downloadURL => {
            this.imageObj.fileUrl = downloadURL
            this.imageObj.originalFileUrl = downloadURL
            if (!options.saveCroppedImage) {
              this.$set(this.imageObj, 'originalFilePath', newImagePath)
              delete this.imageObj.croppedFiles
            } else {
              this.$set(this.imageObj, 'croppedFiles', [{
                filePath: newImagePath
              }])
            }
            this.changeImageMode = false
            this.cropping = false
            resolve()
            this.updateBlock(this.imageObj)
            let deletePreviousImage = !options.saveCroppedImage && previousImagePath && newImagePath !== previousImagePath
            if (deletePreviousImage) {
              let previousFileRef = this.fileRef(previousImagePath)
              await previousFileRef.delete()
            }
            if (previousCroppedFilePath && previousCroppedFilePath !== newImagePath) {
              let previousFileRef = this.fileRef(previousCroppedFilePath)
              await previousFileRef.delete()
            }
          })
        })
      })
    },
    updateBlock () {
      this.$emit('image-obj-updated', this.imageObj)
    },
    removeBtnClicked () {
      this.$emit('remove-btn-clicked', this.deleteImageFile)
    },
    cancelled () {
      if (this.changeImageMode) {
        this.changeImageMode = false
      } else {
        this.$emit('cancel-btn-clicked')
      }
    },
    blockImageFiles () {
      return [
        this.imageObj.originalFilePath,
        this.imageObj.croppedFiles && this.imageObj.croppedFiles[0].filePath
      ].filter(Boolean)
    },
    deleteImageFile () {
      let deletionPromises = this.blockImageFiles()
        .map(filePath => this.fileRef(filePath).delete())
      return Promise.all(deletionPromises)
    },
    updateMetadata (newMetadata) {
      let updateMetadataPromises = this.blockImageFiles().map(filePath =>
        this.fileRef(filePath).updateMetadata({
          customMetadata: newMetadata
        }))
      return Promise.all(updateMetadataPromises)
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~variables'
  // .croppie
  //  visibility hidden
  //  height 0
  .uploader
    min-height 236px
    display flex
    justify-content center
    flex-direction column
    padding 10px
    border 1px solid #7C7C7C
    border-style dashed
    margin 8px
    margin-top 0
    cursor pointer
  .uploader-error
    border-color red
  .uploader > div
    width 100%

  .block-image-container
    width 100%
    border-radius 0 0 10px 10px
    overflow hidden

  .image
    width 100%
    max-height 400px
    object-fit contain
    display block

  .image-caption
    padding 8px

  .image-caption
    padding-top 0

  .upload-card
    padding 8px 0 1px
    border-radius 10px
    background white

  .q-uploader-files-no-border:not(.q-uploader-expanded):before
    text-align: center
    content 'Start dragging your images in here or click to upload'
    opacity 0.5
    color #1A0026
    font-size 16px

  .q-uploader-files-no-border >>>
    .q-if-has-content,
    .q-item-side-right
      display none

  .btn-cancel
    width 100%
    padding 0.8rem

  .btn-small
    width 50%

  .block-card
    border-radius 10px 10px 0 0
    overflow hidden

  .block-img
    text-align center
</style>
