<template>
  <q-item to="/users/me"
    class="user-bar">
    <q-item-side class="avatar" :avatar="avatarUrl || require('assets/icons/user-icon.svg')"/>
    <q-item-main :label="displayName"
      label-lines="1" />
  </q-item>
</template>

<script>
export default {
  name: 'logged-user-bar',
  data () {
    return {
      displayName: null,
      avatarUrl: null
    }
  },
  async created () {
    let currentUser = this.$firebase.auth.currentUser()
    this.displayName = currentUser.displayName
    if (currentUser.photoURL) {
      this.avatar = currentUser.photoURL
    }
    let authorProfileRef = await this.$firebase.users.getUserAuthorRef(currentUser.uid)
    if (authorProfileRef) {
      authorProfileRef.child('profile').on('value', snapshot => {
        let authorData = snapshot.val()
        if (authorData) {
          this.displayName = authorData.displayName
          this.avatarUrl = authorData.avatar && authorData.avatar.fileUrl
        }
      })
    }
  }
}
</script>

<style lang="stylus" scoped>
.user-bar
  border-top 1px solid rgba(255, 255, 255, 0.15)
  border-bottom 1px solid rgba(255, 255, 255, 0.15)
  margin 0 20px 10px

.avatar >>> img
  vertical-align middle
  width 30px
  height 30px
</style>
