<template>
  <div class="view-container">
    <div class="main-section" :class="{
      'main-section-expanded': sidebarHidden,
      'no-padding': noPadding
    }">
      <slot name="main"></slot>
    </div>
    <div class="aside" v-if="!sidebarHidden">
      <slot name="sidebar"></slot>
      <slot name="feedback"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sidebar-view',
  props: {
    'sidebar-hidden': Boolean,
    noPadding: Boolean
  }
}
</script>

<style scoped lang="stylus">
.view-container
  width 100%
  display flex
.main-section
  display flex
  flex-direction column
  align-items center
  width 100%
  width calc((100vw - 260px) * 0.75)
  padding 32px
.main-section-expanded
  width 100%
@media screen and (min-width $breakpoint-lg)
  .main-section
    padding 52px
.main-section.no-padding
  padding 0
.aside
  flex 1
.sidebar
  z-index 1000
  display flex
  flex-wrap wrap
  position fixed
  max-height 100vh
  overflow-y scroll
  padding-bottom 110px
  width 100%
  > *
    margin-bottom 1rem
</style>
