<template>
  <q-table
    class="table"
    :class="{ 'min-width': minWidth }"
    :data="data"
    :columns="styledColumns"
    :filter="filter"
    :filter-method="filterMethod"
    :loading='loading'
    @request="$emit('request', $event)"
    row-key="id"
    :pagination.sync="storedPagination"
    :hide-bottom="!showPaginationControls"
    :no-data-label="noDataLabel">
    <q-tr class="header" slot="header" slot-scope="props">
      <q-th class="header-cell" color="white" v-for="col in props.cols" :key="col.name" :props="props">
        {{ col.label }}
      </q-th>
    </q-tr>
    <q-tr class="table-row" slot="body" slot-scope="{row, cols}" no-border>
      <slot :row="row" :cols="cols">
        <q-td v-for="col in cols" :key="col.name" v-html="col.value" />
      </slot>
    </q-tr>
    <q-tr slot="bottom-row" slot-scope="props">
      <q-td colspan="100%" class="bottom-section">
        <slot name="after-table" />
      </q-td>
    </q-tr>
  </q-table>
</template>

<script>
export default {
  name: 'styled-table',
  props: [
    'data',
    'columns',
    'filter',
    'filterMethod',
    'pagination',
    'minWidth',
    'loading',
    'showPaginationControls',
    'noDataLabel'
  ],
  data () {
    const defaultPaginationConfig = {
      rowsPerPage: 0 // display all rows
    }
    return {
      paginationConfig: this.pagination || defaultPaginationConfig,
      storedPagination: {}
    }
  },
  computed: {
    styledColumns () {
      if (this.columns) {
        return this.columns.map((col) => {
          // Common column properties
          col.align = 'left'
          return col
        })
      }
    }
  },
  watch: {
    paginationConfig: {
      immediate: true,
      deep: true,
      handler (pagination) {
        this.storedPagination = pagination
      }
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'
.table
  width 100%
  margin-top 2rem
  box-shadow none

  >>> .q-table-middle
    border-radius 3px 3px 0 0
  >>> .q-table-nodata .q-icon
    display none
.table.min-width
  min-width 70vw

.header
  background-color $primary
  border-radius 3px 3px 0 0

.header-cell
  color white !important
  font-size 14px
  font-weight bold

  &.sorted
    color white
    >>> .q-table-sort-icon
      font-weight 700
  &.sortable:hover
    color #eeeeeed9
  &:not(:first-child)
    border-left 1px solid rgba(255,255,255,0.1)

.table-row:nth-child(even)
  background-color $white

.table-row:hover
  background-color rgba(244,244,244,0.4)

.table-row >>>
  td
    border-bottom none
    color #1A0026
    font-size 16px
    a
      font-size 16px

  table
    width 100%

  td:not(:first-child)
    border-left 1px solid #EEEEEE

.bottom-section
  color $purple-text
  text-align center
</style>
