<template>
  <div>
    <featured-title
      title="Things to do"
      tooltip="Please include at least one ‘Thing To Do’ – these are specific steps that Members can start to take action on, having engaged with your content."
    />
    <q-field
      :error="error"
      error-label="Please enter at least 1 thing to do">
      <q-input
        class="to-do-item"
        color="white"
        inverted-light
        placeholder="Enter a maximum of 3 things to do"
        type="textarea"
        :max-height="100"
        rows="2"
        :value="sanitisedToDoItem(0)"
        @keyup="updateToDoItem(0, $event.target.value)"/>
    </q-field>
    <q-input
      class="to-do-item"
      color="white"
      inverted-light
      v-for="index in toDoInputCount"
      :key="index"
      :value="sanitisedToDoItem(index)"
      type="textarea"
      :max-height="100"
      rows="2"
      :placeholder="`${['Second', 'Third'][index-1]} thing to do... (optional)`"
      @keyup="updateToDoItem(index, $event.target.value)" />
  </div>
</template>

<style scoped lang="stylus">
@import '~variables'

.to-do-item
  border-radius 0px
  margin-bottom 20px

.to-do-item.q-if-error
  background transparent !important
  border 1px solid #ec3744
  >>> textarea
    color black
</style>

<script>
import featuredTitle from 'components/featured-title'

export default {
  name: 'things-to-do-input',
  components: {
    featuredTitle
  },
  props: [
    'thingsToDo',
    'error'
  ],
  data () {
    return {
      localThingsToDo: []
    }
  },
  watch: {
    thingsToDo (value) {
      this.localThingsToDo = value || []
    }
  },
  computed: {
    toDoInputCount () {
      const MAX_TO_DO_COUNT = 3
      let toDoItemCount = this.localThingsToDo.filter(this.isValidItem)
      return Math.min(toDoItemCount.length, MAX_TO_DO_COUNT - 1)
    }
  },
  methods: {
    updateToDoItem (index, value) {
      if (!value) {
        this.localThingsToDo.splice(index, 1)
      } else {
        let itemExistsAtIndex = this.localThingsToDo.length > index
        if (!itemExistsAtIndex) {
          this.localThingsToDo.push({text: ''})
        }
        this.localThingsToDo[index].text = value
      }
      this.$emit('input', this.localThingsToDo)
    },
    isValidItem (item) {
      return !!item && item.text && item.text.length > 0
    },
    sanitisedToDoItem (index) {
      if (this.thingsToDo && this.isValidItem(this.thingsToDo[index])) {
        return this.thingsToDo[index].text
      }
      return null
    }
  }
}
</script>
