<template>
  <div class="position-relative">
    <div class="row">
      <div v-for="(tool, index) in tools" :key="index">
        <p class="tool-title">{{tool.label}}</p>
        <div class="tool-stats">Tool last opened: {{tool.lastOpened}}</div>
        <div class="tool-stats">Entered info: {{tool.firstUpdated}}</div>
        <div class="tool-stats">Last updated: {{tool.lastUpdated}}</div>
      </div>
      <div v-if="passwordResetRequestedAt">
        <p class="tool-title">Requested password reset:</p>
        <div class="tool-stats">{{passwordResetRequestedAt}}</div>
      </div>
    </div>
    <q-inner-loading :visible="loading">
      <q-spinner size="50px" color="primary"></q-spinner>
    </q-inner-loading>
  </div>
</template>

<script>
import { config } from '../config'
import { date } from 'quasar'
import { default as FirestoreCollection } from 'plugins/firebase/collection'

function getToolData (userLogsRef, name) {
  let toolLogsRef = userLogsRef
    .where('path', '==', '/tools/' + name)

  let lastOpenedRef = FirestoreCollection.getFirst(toolLogsRef
    .where('action', '==', 'opened')
    .orderBy('timestamp', 'desc'))

  let modifiedRef = toolLogsRef.where('action', '==', 'updated')

  let firstUpdated = FirestoreCollection.getFirst(modifiedRef.orderBy('timestamp'))

  let lastUpdated = FirestoreCollection.getFirst(modifiedRef.orderBy('timestamp', 'desc'))

  return Promise.all([
    lastOpenedRef,
    firstUpdated,
    lastUpdated
  ])
}
export default {
  name: 'user-tool-stats',
  props: [
    'userId',
    'userEmail'
  ],
  data () {
    const tools = [
      { id: 'wheel-of-life', label: 'Wheel of Life' },
      { id: 'live-it-list', label: 'Must-Do List' },
      { id: 'life-skills', label: 'Soft Skills' },
      { id: 'wisdom-council', label: 'Wisdom Council' }
    ].map((tool) => {
      tool.lastOpened = ''
      tool.firstUpdated = ''
      tool.lastUpdated = ''
      return tool
    })

    return {
      tools,
      loading: false,
      passwordResetRequestedAt: null
    }
  },
  async mounted () {
    // TODO setup enums for event action types
    let userLogsRef = this.$firebase
      .collection
      .ref('logs')
      .where('versions.firebase.database.firestore', '==', config.firestore.version)

    let userLogsByIdRef = userLogsRef.where('uid', '==', this.userId)
    let userLogsByEmailRefs = userLogsRef.where('email', '==', this.userEmail)

    let getDate = (obj) => {
      if (obj && obj.timestamp) {
        return date.formatDate(obj.timestamp.seconds * 1000, 'DD / MM / YYYY (HH:mm)')
      }
      return '-'
    }

    this.loading = true
    let fetchedToolsDataCount = 0

    this.tools.forEach(async (tool, index) => {
      let [lastOpened, firstUpdated, lastUpdated] = await getToolData(userLogsByIdRef, tool.id)
      this.tools[index].lastOpened = getDate(lastOpened)
      this.tools[index].firstUpdated = getDate(firstUpdated)
      this.tools[index].lastUpdated = getDate(lastUpdated)
      fetchedToolsDataCount += 1
      if (fetchedToolsDataCount === this.tools.length) {
        this.loading = false
      }
    })

    let passwordResetRequestRef = userLogsByEmailRefs
      .where('action', '==', 'password reset request')
      .orderBy('timestamp', 'desc')

    let passwordResetRequestEvent = await FirestoreCollection.getFirst(passwordResetRequestRef)
    if (passwordResetRequestEvent) {
      this.passwordResetRequestedAt = getDate(passwordResetRequestEvent)
    }
  }
}
</script>

<style lang="stylus" scoped>
  .tool-title
    font-weight 600
  .tool-stats
    margin-right 20px
</style>
