<template>
  <div>
    <div class="avatar-container cursor-pointer"
      v-show="!avatarPickerOpened"
      @click="avatarPickerOpened = true">
      <img v-if="authorAvatar"
        :src="authorAvatar.fileUrl" />
      <img v-else
        src="~assets/icons/user-icon.svg" />
      <div class="absolute-center avatar-overlay"></div>
      <q-icon class="absolute-center icon-edit-large"
        name="edit"
        color="white">
      </q-icon>
    </div>
    <image-block-component class="avatar-upload-container"
      v-show="avatarPickerOpened"
      :showPreviewCancelBtn="true"
      :imageObj="authorAvatar || {}"
      :uploadPath="`authors/${authorId}/avatar`"
      :fileMetadata="{owner: userId}"
      @image-obj-updated="updateAuthorAvatar"
      @cancel-btn-clicked="avatarPickerOpened = false"
      cropAspectRatio=1>
    </image-block-component>
  </div>
</template>

<style lang="stylus">
.avatar-upload-container
  height 200px
  margin-left -30px

.crop-container.avatar-upload-container
  width initial
  height initial
  background white
  z-index 1
  position absolute
  border 1px solid #1A0026

.avatar-upload-container >>>
  i.on-left
    margin-right 0

.avatar-container
  height 200px
  width 200px
  background-color rgba(0, 0, 0, 0.37)
  position relative
  border 1px solid #979797
  border-radius 200px
  overflow hidden

.avatar-overlay
  background-color rgba(0, 0, 0, 0.37)
  width 100%
  height 100%

.avatar-container img
  width 100%
  height 100%
  object-fit cover

.icon-edit
  margin-left 6px

.icon-edit-large
  font-size 40px
</style>

<script>
import imageBlockComponent from './content-blocks/image'

export default {
  name: 'user-avatar-picker',
  components: {
    imageBlockComponent
  },
  data () {
    return {
      avatarPickerOpened: false,
      authorAvatar: null,
      userId: null,
      authorId: null
    }
  },
  methods: {
    updateAuthorAvatar (data) {
      console.log(data)
    }
  }
}
</script>
