<template>
  <q-select
    :stack-label="showTitle ? 'Roles' : ''"
    v-if="editingEnabled"
    multiple
    v-model="rolesSelected"
    :options="rolesSelectOptions"
    placeholder="Basic User" />
  <editable-field v-else
    float-label="Roles"
    :value="value | rolesMapToString(getActiveRolesFromRoleMap)"
    :editingEnabled="false"
    placeholder="Basic User">
  </editable-field>
</template>

<script>
import { Dialog } from 'quasar'
import editableField from 'components/editable-field'
import {roleList, roleNameMap, Applicant, Admin, ContentProvider} from 'shared/access-control/UserRole.js'
import { arrayToMap } from 'shared/utils.js'

export default {
  name: 'user-role-selector',
  props: ['userId', 'value', 'editingEnabled', 'showTitle', 'includeAdmin'],
  components: {
    editableField
  },
  data () {
    return {
      rolesSelectOptions: [],
      userRoles: {}
    }
  },
  created () {
    this.rolesSelectOptions = roleList
      .filter(role => role !== Applicant && role !== (this.includeAdmin ? '' : Admin))
      .map(key => {
        return {
          value: key,
          label: roleNameMap[key]
        }
      })
  },
  computed: {
    rolesSelected: {
      get: function () {
        return this.getActiveRolesFromRoleMap(this.userRoles)
      },
      set: async function (seletedRolesArray) {
        const userRolesToAdd = this.getDifferenceBetweenArrays(seletedRolesArray, this.rolesSelected)
        const userRolesToRemove = this.getDifferenceBetweenArrays(this.rolesSelected, seletedRolesArray)
        this.userRoles = arrayToMap(seletedRolesArray)
        await this.setUserRoles(
          arrayToMap(userRolesToAdd),
          userRolesToRemove
        )
        if (userRolesToRemove && userRolesToRemove.includes(ContentProvider)) {
          await this.$firebase.authorApplicants.rejectApplicant(
            this.userId
          )
        }
        this.$emit('input', this.userRoles)
      }
    }
  },
  watch: {
    value: {
      immediate: true,
      handler () {
        this.userRoles = this.value || {}
      }
    }
  },
  filters: {
    rolesMapToString (roleMap, getActiveRolesFromRoleMapFn) {
      if (!roleMap) {
        return ''
      }
      return getActiveRolesFromRoleMapFn(roleMap)
        .map(key => roleNameMap[key])
        .join(', ')
    }
  },
  methods: {
    getDifferenceBetweenArrays (originalArray, modifiedArray) {
      return originalArray.filter((obj) => modifiedArray.indexOf(obj) === -1)
    },
    getActiveRolesFromRoleMap (roles) {
      return Object.keys(roles).filter(key => roles[key])
    },
    async setUserRoles (userRoles, userRolesToRemove) {
      this.$q.loading.show()
      try {
        await this.$firebase.auth.setCustomUserClaims(this.userId, userRoles, userRolesToRemove)
      } catch (error) {
        Dialog.create({
          title: 'Error',
          message: error.message
        })
      } finally {
        this.$q.loading.hide()
      }
    }
  }
}
</script>

<style>
</style>
