<template>
  <div class="featured-assets-video">
    <featured-title
      title="Featured video"
      tooltip="If you are creating a piece of video content, please upload it here. Please film all videos in landscape."
    />
    <subtitle>This field is optional<br/>Videos should be supplied at 720p</subtitle>
    <q-card class="video-card" :class="{ 'video-uploaded': mediaId }" :flat="Boolean(mediaId)">
      <content-block-header
        :showRemoveBtn="mediaId"
        @remove-btn-clicked="removeFeaturedVideo($event)"
      ></content-block-header>
      <video-uploader-component
        v-if="!mediaId"
        ref="featuredVideoUploader"
        class="featured-video-uploader"
        @video-uploaded="videoUploaded($event)"
      ></video-uploader-component>
      <div v-else class="video-player-container">
        <video-player-component
          ref="featuredVideoPlayer"
          class="featured-video-player"
          :mediaId="mediaId"
        ></video-player-component>
      </div>
    </q-card>
  </div>
</template>

<style lang="stylus" scoped>
.wistia_player
  width 100%
  height 100%
  background #f4f4f4
  >>> .wistia_embed
    border-radius 0 0 10px 10px
    overflow hidden
.featured-assets-video
  flex-grow 1
  padding 8px 0px
.video-card
  padding 8px
  border-radius 10px
  background white
  overflow hidden
.video-uploaded
  padding 0
  border-radius 10px 10px 0 0
</style>

<script>
import contentBlockHeader from '../content-block-header'
import videoUploaderComponent from './video-uploader'
import videoPlayerComponent from './video-player'
import featuredTitle from '../featured-title'
import subtitle from 'components/ui/subtitle'

export default {
  name: 'featured-video-component',
  props: [
    'mediaId'
  ],
  components: {
    contentBlockHeader,
    videoUploaderComponent,
    videoPlayerComponent,
    featuredTitle,
    subtitle
  },
  created () {},
  methods: {
    videoUploaded (mediaId) {
      return this.$emit('save-featured-video', mediaId)
    },
    removeFeaturedVideo ($event) {
      return this.$emit('remove-featured-video', () => {
        this.deleteVideoMedia()
      })
    },
    deleteVideoMedia () {
      if (this.mediaId) {
        this.$axios.wistia.deleteVideo(this.mediaId)
      }
    }
  }
}
</script>
