<template>
  <div :id="wistiaUploaderId" class="wistia_uploader"></div>
</template>

<style lang="stylus" scoped>
.wistia_uploader
  width 100%
  height 100%
  border-radius 10px
  border 1px #7C7C7C dashed
  background white
  cursor pointer
  position relative
  >>>
    .wistia_upload_graphic, .wistia_upload_button, .wistia_upload_video
      display none !important
      &.wistia_uploading, &.wistia_upload_cancelled
        display block !important
        position absolute
        bottom 20px
        left 50%
        transform translateX(-50%)
    .wistia_upload_text
      padding 85px 0 65px
      visibility hidden !important
      margin 0
      &:before
        visibility visible
        display block
        content 'Drag your video here or click to upload'
        font-size 16px
        color #7C7C7C
</style>

<script>
import { uid } from 'quasar'
import { config } from '../../config'

export default {
  name: 'video-uploader-component',
  data () {
    return {
      wistiaUploaderId: uid()
    }
  },
  mounted () {
    window._wapiq = window._wapiq || []
    window._wapiq.push((W) => {
      const wistiaUploader = new W.Uploader({
        accessToken: config.wistia.uploadToken,
        dropIn: this.$data.wistiaUploaderId,
        projectId: config.wistia.projectId
      })
      wistiaUploader.bind('uploadsuccess', (file, media) => {
        this.$emit('video-uploaded', media.id)
      })
    })
  }
}
</script>
