<template>
  <div class="wistia_player">
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div v-bind:class="videoMediaClass" style="height:100%;position:relative;width:100%">
          <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
            <img v-bind:src="videoMediaPoster" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
.wistia_player
  width 100%
  height 100%
  >>> .w-big-play-button
    border 7px solid rgba(255, 255, 255, 0.7)!important
    width 87px!important
    height 87px!important
    div:nth-child(2)
      width auto!important
    svg
      width 87px!important
      height 87px!important
</style>

<script>
export default {
  name: 'video-player-component',
  props: [
    'mediaId'
  ],
  computed: {
    videoMediaClass () {
      return `wistia_embed wistia_async_${this.mediaId} videoFoam=true controlsVisibleOnLoad=false settingsControl=false`
    },
    videoMediaPoster () {
      return `https://fast.wistia.com/embed/medias/${this.mediaId}/swatch`
    }
  },
  created () {
    window._wq = window._wq || []
    window._wq.push({
      id: this.mediaId,
      onReady: (video) => {
        this.wistiaVideoPlayer = video
        this.makePlayButtonRound()
        this.resizeWistiaVideoPlayer()
      }
    })
  },
  methods: {
    makePlayButtonRound () {
      const video = this.wistiaVideoPlayer
      if (video && !video.buttonIsRound) {
        const buttonEl = video && video.controls && video.controls.bigPlayButton &&
                          video.controls.bigPlayButton.buttonElem &&
                          video.controls.bigPlayButton.buttonElem.querySelector('button')
        if (buttonEl) {
          buttonEl.style = `border-radius: 50%!important;background: rgba(93, 199, 195, 0.8);box-shadow: none;`
          video.buttonIsRound = true
        }
      }
    },
    resizeWistiaVideoPlayer () {
      const compStyle = window.getComputedStyle(this.$el)
      this.wistiaVideoPlayer && this.wistiaVideoPlayer.height(compStyle.getPropertyValue('height'))
    }
  }
}
</script>
