// app global css
.link-text
  color $primary
  font-size 0.875rem
  text-decoration underline
  cursor pointer

body > .modal .modal-message
  white-space pre-wrap

// Font assets
@font-face
  font-family 'IBM Plex Sans'
  font-style normal
  font-weight 300
  src url('~assets/fonts/IBMPlexSans/IBMPlexSans-Light.ttf') format('truetype')

@font-face
  font-family 'IBM Plex Sans'
  font-style normal
  font-weight 400
  src url('~assets/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf') format('truetype')

@font-face
  font-family 'IBM Plex Sans'
  font-style normal
  font-weight 600
  src url('~assets/fonts/IBMPlexSans/IBMPlexSans-Medium.ttf') format('truetype')

@font-face
  font-family 'IBM Plex Sans'
  font-style normal
  font-weight 700
  src url('~assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold.ttf') format('truetype')


body
  font-family IBM Plex Sans, 'Roboto', sans-serif
  background #f4f4f4