<style lang="stylus" scoped>
$HEIGHT = 3em
.multi-selector-item
  height $HEIGHT

  z-index 1

  background #ffffff
  box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.05)

  border 1px solid #dddddd
  border-radius 6px 6px 0 0
  .multi-selector-item-title
    font-size 0.875em
    font-weight 900
</style>

<script>
import item from './item'
export default {
  extends: item,
  methods: {
    toggle () {
      this.$emit('toggleall', this.selected)
    }
  }
}
</script>
