<template>
  <div
    class="multi-selector-item two"
    :class="{
      selected
    }"
    @click="toggle"
  >
    <div class="multi-selector-item-title">{{ title }}</div>
    <div class="multi-selector-item-checked">
      <img src="~assets/icons/tick.svg" />
    </div>
  </div>
</template>

<style lang="stylus">
@import '~variables'

$HEIGHT = 2.25em
$TRANSITION_DURATION = 0.25s
.multi-selector-item
  display flex
  position relative

  justify-content center

  flex 1 1 0
  height $HEIGHT

  cursor pointer
  background $white

  transition background $TRANSITION_DURATION

  border-bottom 1px solid #dddddd
  .multi-selector-item-title
    display inline-flex
    flex-grow 1
    flex-basis 0

    align-items center
    text-overflow ellipsis

    box-sizing border-box
    padding 0.6em

    font-size 0.75em
    color #4a4a4a
  .multi-selector-item-checked
    display inline-flex

    justify-content center
    align-items center

    width $HEIGHT
    height 100%
    img
      width 100%
      height 100%

      opacity 0.2
      filter grayscale(100%)

      transition filter $TRANSITION_DURATION, opacity $TRANSITION_DURATION
.multi-selector-item.selected
  background #f8f7fa
  .multi-selector-item-checked
    img
      opacity 1
      filter grayscale(0%)
</style>

<script>
export default {
  props: {
    guid: {
      type: String,
      default: undefined
    },
    uid: {
      type: String,
      defualt: undefined
    },
    title: {
      type: String,
      default: 'Segment!!!!!'
    },
    selected: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    toggle () {
      this.$emit('toggle', {
        uid: this.uid,
        guid: this.guid
      })
    }
  }
}
</script>
