<template>
  <tool-data-multiselect
    :selectedItems="selectedItems"
    :error="Boolean(errors)"
    @input="$emit('input', $event)"
    :optionsList="optionsList"
    title="Which Soft Skills does this content relate to?"
    tooltip="Please select one principal Soft Skill as your primary focus for this piece of content"
    placeholder="Start typing a QDooz Soft Skill…"
    :error-label="errorLabel"
    :max-length="1"
    :min-height="`calc(100vh - 450px)`"
    :filter="filter"
  />
</template>

<style lang="stylus">
.autocomplete-results-popover
  .q-list
    padding-top 0
  .text-faded
    background #f1f1f1
    .q-item-label
      color rgb(50,50,50)
      font-size 20px
      font-weight 600
</style>

<script>
import { mapGetters } from 'vuex'
import { GET_LIFE_SKILLS_FLATTENED, GET_CATEGORIES } from 'store/tools/lifeskills/getter.types'

import toolDataMultiselect from './tool-data-multiselect'
import multiselectValidationMixin from './multiselect-validation-mixin'
import { LifeSkillStatusUI } from '../../../shared/LifeSkillStatus.js'

export default {
  name: 'life-skills-multiselect',
  mixins: [multiselectValidationMixin],
  components: {
    toolDataMultiselect
  },
  props: {
    selectedItems: Object
  },
  computed: {
    ...mapGetters({
      lifeSkills: GET_LIFE_SKILLS_FLATTENED,
      lifeSkillCategories: GET_CATEGORIES
    }),
    errorLabel () {
      if (!this.errors) {
        return
      }
      if (this.errors.min) {
        return `Please select one Soft Skill`
      }
      if (this.errors.max) {
        return `Quality articles can't be tagged with Soft Skills`
      }
    },
    optionsList () {
      const dataReady = this.lifeSkillCategories && this.lifeSkills
      if (!dataReady) {
        return []
      }
      let optionsArray = []
      const getSkillsForCategory = catId => this.lifeSkills.filter(
        skill => skill.categories && skill.categories[catId]
      )
      const mapSkillToOption = skill => ({
        label: skill.title,
        value: skill.uid,
        stamp: skill.status && LifeSkillStatusUI[skill.status].label,
        rightColor: skill.status && LifeSkillStatusUI[skill.status].color
      })
      const orderByLabel = (a, b) => a.label.localeCompare(b.label)
      const mapCategoryToOption = category => ({
        label: category.name,
        sublabel: category.description,
        disable: true
      })
      for (let catId in this.lifeSkillCategories) {
        let category = mapCategoryToOption(this.lifeSkillCategories[catId])
        optionsArray.push(category)
        let categoryLifeSkills = getSkillsForCategory(catId)
          .map(mapSkillToOption)
          .sort(orderByLabel)
        optionsArray = optionsArray.concat(categoryLifeSkills)
      }
      return optionsArray
    }
  },
  methods: {
    filter (terms, { field, list }) {
      let termsLowercase = terms.toLowerCase()
      const categoryHasNoItems = (item, index) => {
        if (!item.disable) {
          return true
        }
        const isLastItem = filteredLifeSkills.length - 1 === index
        if (isLastItem) {
          return false
        }
        const nextItemIsAnotherCategory = filteredLifeSkills[index + 1].disable
        if (nextItemIsAnotherCategory) {
          return false
        }
        return true
      }
      let filteredLifeSkills = list.filter(
        item => item.disable || item.label.toLowerCase().includes(termsLowercase)
      )
      return filteredLifeSkills.filter(categoryHasNoItems)
    }
  }
}
</script>
