<template>
  <tool-data-multiselect
    :selectedItems="selectedItems"
    :error="Boolean(errors)"
    @input="$emit('input', $event)"
    :optionsList="optionsList"
    title="Which Qualities does this content relate to?"
    placeholder="Start typing a QDooz Quality..."
    :customSubtitle="qualityArticle ? `Please select only one Quality` : null"
    :error-label="errorLabel"
    :max-length="qualityArticle ? 1 : 3"
    :min-height="`calc(100vh - 450px)`"
    :filter="filter"
    />
</template>
<script>
import { mapGetters } from 'vuex'
import { GET_QUALITIES } from 'store/tools/qualities/getter.types'
import multiselectValidationMixin from './multiselect-validation-mixin'
import toolDataMultiselect from './tool-data-multiselect'
import { Quality } from 'shared/ArticleFocus'

export default {
  name: 'qualities-skills-multiselect',
  mixins: [multiselectValidationMixin],
  components: {
    toolDataMultiselect
  },
  props: {
    focus: String,
    selectedItems: Object
  },
  computed: {
    ...mapGetters({
      qualities: GET_QUALITIES
    }),
    qualityArticle () {
      return this.focus === Quality
    },
    errorLabel () {
      if (!this.errors) {
        return
      }
      if (this.errors.min) {
        return `Please select one Quality`
      }
      if (this.errors.max) {
        return `Quality articles can be tagged with only 1 Quality`
      }
    },
    optionsList () {
      if (!this.qualities) {
        return []
      }
      let options = Object.values(this.qualities).map(quality => {
        return {
          label: quality.name,
          value: quality.uid
        }
      })
      return options.sort((a, b) => a.label.localeCompare(b.label))
    }
  },
  methods: {
    filter (terms, { field, list }) {
      let termsLowercase = terms.toLowerCase()
      return list.filter(
        item => item.label.toLowerCase().includes(termsLowercase)
      )
    }
  }
}
</script>
