<template>
  <div>
    <featured-title
      :title="title"
      :tooltip="tooltip"
    />
    <subtitle v-if="maxLength">{{customSubtitle || maxLengthText}}</subtitle>
    <q-field
      class="input-field"
      :error-label="errorLabel"
      :error="error">
      <q-chips-input
        ref="chipsInputEl"
        v-if="optionsList"
        v-model="selectedLabels"
        :placeholder="placeholder"
        @click.native="openPicker"
        class="chips-input">
        <q-autocomplete-fix
          :max-height="minHeight"
          :min-characters="0"
          :max-results="optionsList.length"
          value-field="label"
          ref="autocompleteEl"
          :static-data="{field: 'label', list: optionsList}"
          :filter="filter"
        />
      </q-chips-input>
    </q-field>
  </div>
</template>

<style scoped lang="stylus">
@import '~variables'

.chips-input >>>
  .q-chip
    background transparent !important
    border 2px solid $primary
    margin-right 10px
  .q-chip:first-child
    margin-left 0
  .q-chip-main
    color #1A0026 !important
  .q-icon
    color $primary
</style>

<script>
import { arrayToMap } from 'shared/utils.js'
import featuredTitle from 'components/featured-title'
import subtitle from 'components/ui/subtitle'
import QAutocompleteFix from 'components/bug-fixes/autocomplete-fix'

export default {
  name: 'tool-data-multiselect',
  components: {
    featuredTitle,
    subtitle,
    QAutocompleteFix
  },
  props: {
    selectedItems: Object,
    placeholder: String,
    minHeight: String,
    maxLength: Number,
    title: String,
    tooltip: String,
    error: Boolean,
    errorLabel: String,
    optionsList: Array,
    customSubtitle: String,
    filter: Function
  },
  methods: {
    openPicker () {
      if (this.maxLength && this.selectedLabels.length >= this.maxLength) {
        return
      }
      this.$refs.autocompleteEl.trigger()
    },
    mapUserToolDataToDropdownLabels (allToolItems, selectedToolItems) {
      let selectedToolItemKeysArray = Object.keys(selectedToolItems)
      const getItemLabelByKey = el => allToolItems.find(obj => obj.value === el).label
      return selectedToolItemKeysArray.map(getItemLabelByKey)
    },
    updateToolItems (selected, allToolItems) {
      let selectedItems = selected.filter(
        selectedEl => allToolItems.some(
          item => item.label === selectedEl
        )
      )
      let selectedToolItemsKeyArray = selectedItems.map(
        label => allToolItems.find(
          item => item.label === label
        ).value
      )
      let selectedToolItemsKeyMap = arrayToMap(selectedToolItemsKeyArray)
      this.$emit('input', selectedToolItemsKeyMap)
    }
  },
  computed: {
    maxLengthText () {
      if (this.maxLength > 1) {
        return `Maximum of ${this.maxLength}`
      }
      return 'Please select one'
    },
    selectedLabels: {
      get () {
        if (this.optionsList.length === 0) {
          return []
        }
        return this.mapUserToolDataToDropdownLabels(this.optionsList, this.selectedItems || {})
      },
      set (selected) {
        let tooManyItemsAdded = this.maxLength && selected.length > this.maxLength
        if (tooManyItemsAdded) {
          selected.pop()
          let chipsInput = this.$refs.chipsInputEl
          chipsInput.$set(chipsInput, 'model', selected)
          return
        }
        this.updateToolItems(selected, this.optionsList)
      }
    }
  }
}
</script>
