<template>
  <div class="editor-container">
    <div class="relative-position" :class="{ 'error': error }">
      <div ref="editor"
        class="editor">
      </div>
      <div class="counter">{{counterLabel}}</div>
    </div>
    <div class="error-message" v-if="error">{{errorLabel}}</div>
  </div>
</template>

<script>

import { debounce } from 'quasar'
import Quill from './quill.js'

const getQuillConfig = (advancedFormattingDisabled, disableFormatting, placeholder, isBlog) => {
  const config = {
    placeholder: placeholder || 'Enter text here ...',
    readOnly: false
  }

  let allowedFormattingOptions = [
    'size',
    'list',
    'header',
    'bold',
    'italic',
    'underline'
  ]
  let formattingModulesDisplayedInToolbar = [
    [{ 'size': (
      isBlog
        ? [false, 'h1', 'h2', 'h3', 'subhead', 'small']
        : [false, 'subhead']
    ) }],
    [{ 'header': [1, 2, 3] }],
    ['bold', 'italic', 'underline'],
    [{ 'list': 'ordered' }, { 'list': 'bullet' }]
  ]

  if (advancedFormattingDisabled) {
    // Uncomment once Ben reformats article intro fields so that the existing formatting is not lost
    // config.allowedFormattingOptions = ['bold', 'italic']
    formattingModulesDisplayedInToolbar = ['bold', 'italic']
  }

  config.formats = allowedFormattingOptions
  config.modules = { toolbar: disableFormatting ? false : formattingModulesDisplayedInToolbar }
  return config
}

export default {
  name: 'text-editor',
  props: [
    'value',
    'error',
    'errorLabel',
    'advancedFormattingDisabled',
    'disableFormatting',
    'isBlog',
    'placeholder',
    'count'
  ],
  data () {
    return {
      localContent: '',
      counterLabel: null
    }
  },
  methods: {
    setHTMLContents (html) {
      this.quill.enable(false)
      if (html) {
        this.quill.setContents(this.quill.clipboard.convert(html))
      }
      this.quill.enable(true)
    },
    updateCharacterCounter () {
      let showCounter = !!this.count
      if (showCounter) {
        let countRemainingCharacters = typeof this.count === 'number'
        let contentLength = this.quill.getLength() - 1
        if (countRemainingCharacters) {
          let charsRemaining = Math.max(0, this.count - contentLength)
          this.counterLabel = charsRemaining + ' remaining'
        } else {
          this.counterLabel = contentLength
        }
      }
    }
  },
  mounted () {
    const notifyOfContentChange = debounce(() => {
      const content = this.localContent !== '<p><br></p>' ? this.localContent : ''
      this.$emit('input', content)
    }, 100)

    this.quill = new Quill(this.$refs.editor, getQuillConfig(this.advancedFormattingDisabled, this.disableFormatting, this.placeholder, this.isBlog))
    this.setHTMLContents(this.value)
    this.updateCharacterCounter()

    this.quill.on('text-change', (delta, oldDelta, source) => {
      let changeTriggeredByUser = source === 'user'

      // Enforce character limit on input
      // if (this.count - (this.quill.getLength() - 1) < 0) {
      //   const trimContent = this.quill.getText(0, this.count)
      //   this.quill.setText(trimContent)
      // }

      if (changeTriggeredByUser) {
        let html = this.quill.root.innerHTML
        this.localContent = html
        notifyOfContentChange(html)
      }

      this.updateCharacterCounter()
    })
  },
  beforeDestroy () {
    this.quill = null
    delete this.quill
  },
  watch: {
    value (newVal, oldVal) {
      if (!this.quill) {
        return
      }
      if (newVal && newVal !== this.localContent) {
        this.localContent = newVal
        const delta = this.quill.clipboard.convert(newVal)
        this.quill.setContents(delta, 'api')
      } else if (!newVal) {
        this.quill.setText('')
      }
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

.editor
  min-height 200px
  display table
  width 100%
  border-collapse collapse

.error-message
  color #ec3744
  font-size 14px

.error
  border 1px solid #ec3744

$subhead-size = 20px
$body-size = 16px
$h1-size = 28px
$h2-size = 24px
$h3-size = 22px
$small-size = 12px

.editor-container
  position relative
  box-shadow 0 1px 3px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12)

.editor-container >>> .ql-picker.ql-size
  .ql-picker-item
    font-weight 400
    &::before
      content 'Size 5 (Normal)'
      font-size $body-size
    &[data-value='subhead']::before
      content 'Size 4'
      font-size $subhead-size
    &[data-value='h1']::before
      content 'Size 1'
      font-size $h1-size
    &[data-value='h2']::before
      content 'Size 2'
      font-size $h2-size
    &[data-value='h3']::before
      content 'Size 3'
      font-size $h3-size
    &[data-value='small']::before
      content 'Size 6'
      font-size $small-size

  .ql-picker-label
    &::before
      content 'Body'
    &[data-value='subhead']::before
      content 'Subhead'
    &[data-value='h1']::before
      content 'H1'
    &[data-value='h2']::before
      content 'H2'
    &[data-value='h3']::before
      content 'H3'
    &[data-value='small']::before
      content 'small'
>>> .ql-toolbar
  background $white
.editor >>>
  font-size $body-size
  line-height 30px
  background $white
  h1,
  h2,
  h3
    margin 0 0 10px
    padding 0
    line-height 1.42
    letter-spacing 0
  p,
  li
    margin-bottom 10px
  .ql-size-subhead
    display block
    font-size $subhead-size
    color #202020
  .ql-size-h1,
  h1
    display block
    font-weight 600
    font-size $h1-size
    color #202020
  .ql-size-h2,
  h2
    display block
    font-weight 600
    font-size $h2-size
    color #202020
  .ql-size-h3,
  h3
    display block
    font-weight 600
    font-size $h3-size
    color #202020
  .ql-size-small
    display block
    font-size $small-size
    color #202020

.counter
  position absolute
  bottom 0
  right 0
  margin 5px 8px
  font-size 12px
  color #C75E81
</style>
