<template>
  <div class="search-bar" :class="{'inline': inline }">
    <input
      :placeholder="placeholder"
      v-model="searchTerm"
      @keyup="search"
    />
    <div
      class="search-icon"
      @click="search"
    >
      <q-icon name="search" />
    </div>
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
$HEIGHT = 50px
$PADDING = 3px
$BORDER = 1px
.search-bar
  position relative
  display flex
  height $HEIGHT
  padding $PADDING
  border $BORDER solid $mid-grey
  border-radius (($HEIGHT + $BORDER)/2)
  &:not(.inline)
    width 100%
  input
    height 100%
    flex-grow 1
    flex-shrink 1
    flex-basis 100%
    border none
    outline none
    background none
    padding-left ($HEIGHT / 2)
    padding-right ($HEIGHT / 4)
    color $primary
    font-size 16px
  .search-icon
    $ICON_HEIGHT = $HEIGHT - ($PADDING + $BORDER) * 2
    position relative
    height $ICON_HEIGHT
    width $ICON_HEIGHT
    flex-shrink 0
    background $secondary
    border-radius 50%
    align-self center
    color $primary
    text-align center
    line-height $ICON_HEIGHT * 0.9
    font-size 1.25em
    cursor pointer
</style>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: 'Placeholder search term'
    },
    inline: Boolean,
    initialValue: String
  },
  data: () => {
    return {
      searchTerm: ''
    }
  },
  mounted () {
    if (this.initialValue) {
      this.searchTerm = this.initialValue
    }
  },
  methods: {
    search () {
      this.$emit('search', this.searchTerm)
    }
  }
}
</script>
