<template>
<div class="search-header" :class="{'align-left': alignLeft }">
  <search-bar class="bar" :initialValue="initialValue" @search="$emit('search', $event)" :placeholder="placeholder" inline />
  <div class="toggle-list-btn"><slot/></div>
</div>
</template>

<style lang="stylus" scoped>
.toggle-list-btn
  white-space nowrap
.bar
  flex-grow 1
.search-header
  width 100%
  display flex
  &.align-left
    flex-direction row-reverse
    .bar
      margin-left 1rem
  &:not(.align-left)
    .toggle-list-btn
      margin-left 1rem
</style>

<script>
import searchBar from 'components/search/search-bar'

export default {
  name: 'search-header',
  components: {
    searchBar
  },
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    alignLeft: Boolean,
    initialValue: String
  }
}
</script>
