<template>
  <add-skill-popup
    @save="save"
    @close="close"
  />
</template>

<script>

import addSkillPopup from 'components/tools/life-skills/manage/add-skill-popup'
import skillInputContainerMixin from './skill-input-container-mixin'

export default {
  name: 'skill-row-container',
  mixins: [skillInputContainerMixin],
  components: {
    addSkillPopup
  },
  methods: {
    save ({status: skillStatus, ...skillData}) {
      this.performSkillUpdate({
        title: `Would you like to add '${skillData.title}'?`,
        successTitle: 'New Soft Skill Created',
        operationFn: () =>
          this.addSkillAndClose({
            skillStatus,
            skillData
          })
      })
    },
    async addSkillAndClose (data) {
      await this.addNewSkill(data)
      this.close()
    },
    close () {
      this.$emit('close')
    }
  }
}
</script>
