<template>
  <q-infinite-scroll :handler="loadMore">
    <styled-table
      :filter="searchTerm"
      :data="lifeSkills"
      :columns="tableConfig.columns"
      :pagination="tableConfig.pagination"
      minWidth>
      <template slot-scope="{ row }" no-border>
        <skill-row-container
          :skill-data="row"
          :searchTerm="searchTerm"
        />
      </template>
    </styled-table>
  </q-infinite-scroll>
</template>

<script>
import { mapGetters } from 'vuex'
import { GET_LIFE_SKILLS_FLATTENED } from 'store/tools/lifeskills/getter.types'

import styledTable from 'components/styled-table'
import skillRowContainer from 'containers/tools/life-skills/manage/skill-row-container'

const RESULTS_BATCH_COUNT = 20

const tableConfig = {
  columns: [
    { name: 'title', label: 'Title', field: 'title', sortable: true },
    { name: 'description', label: 'Description', field: 'description' },
    { name: 'categories', label: 'Categories', field: 'categories' },
    { name: 'status', label: 'Status', field: 'status', sortable: true },
    { name: 'actions', label: 'Actions' }
  ],
  pagination: {
    sortBy: 'title',
    descending: false,
    page: 1,
    rowsPerPage: RESULTS_BATCH_COUNT
  }
}

export default {
  name: 'life-skills-list',
  components: {
    styledTable,
    skillRowContainer
  },
  props: {
    searchTerm: {
      type: String,
      default: ''
    }
  },
  computed: {
    ...mapGetters({
      lifeSkills: GET_LIFE_SKILLS_FLATTENED
    })
  },
  data () {
    return {
      tableConfig,
      editorOpened: false
    }
  },
  methods: {
    updateLifeSkill (skillIndex, status) {
      this.$emit('updateLifeSkillStatus', {
        skillIndex,
        status
      })
    },
    loadMore (index, done) {
      this.tableConfig.pagination.rowsPerPage = index * RESULTS_BATCH_COUNT
      setTimeout(done, 1000)
    }
  }
}
</script>
