<template>
  <skill-row
    :key="skillId"
    :original-skill-data="skillData"
    :searchTerm="searchTerm"
    @update="requestUpdate"
    @remove="requestRemoval"
    @cancel-draft="$emit('cancel-draft')"
  />
</template>

<script>

import skillRow from 'components/tools/life-skills/manage/skill-row'
import skillInputContainerMixin from './skill-input-container-mixin'
import LifeSkillStatus from 'shared/LifeSkillStatus.js'

export default {
  name: 'skill-row-container',
  mixins: [skillInputContainerMixin],
  components: {
    skillRow
  },
  props: {
    searchTerm: {
      type: String,
      default: ''
    },
    skillData: Object
  },
  computed: {
    skillId () {
      return this.skillData.uid
    }
  },
  methods: {
    async updateSkill ({status: skillStatus, ...skillData}) {
      if (skillStatus) {
        await this.setSkillStatus({
          skillId: this.skillId,
          skillStatus
        })
      }
      if (Object.keys(skillData).length > 0) {
        await this.setSkillData({
          skillId: this.skillId,
          skillData
        })
      }
    },
    async skillCanBeDeleted () {
      if (this.skillData.wasLive) {
        this.$q.dialog({
          title: 'Error',
          message: 'This Soft Skill used to be Live and thus cannot be deleted'
        })
        return false
      }
      if (this.skillData.status === LifeSkillStatus.Live) {
        this.$q.dialog({
          title: 'Error',
          message: 'This Soft Skill is Live and thus cannot be deleted'
        })
        return false
      }
      const articlesTaggedWithSkill = await this.$firebase.content.get.articlesForSkill(this.skillData.uid).get()
      if (articlesTaggedWithSkill.size > 0) {
        this.$q.dialog({
          title: 'Error',
          message: `There are ${articlesTaggedWithSkill.size} articles tagged with this Soft Skill and thus it cannot be deleted.
          \nPlease re-allocate these articles to a different Soft Skills first and try again.`
        })
        return false
      }
      return true
    },
    async requestUpdate ({changes, completed}) {
      const propsChanged = Object.keys(changes)
      if (propsChanged.length === 0) {
        return
      }
      const title = this.skillData.title
      const message = `
        Warning: This should not be used for a live Soft Skill to change the meaning of it beyond minor tweaks.
        \n
        This operation will update the following properties: ${propsChanged.join(', ')}
        `
      await this.performSkillUpdate({
        title: `Would you like to update '${title}'?`,
        message,
        successTitle: 'Changes Saved',
        operationFn: () => this.updateSkill(changes)
      })
      if (completed) {
        completed()
      }
    },
    async requestRemoval () {
      if (!await this.skillCanBeDeleted()) {
        return
      }
      const title = this.skillData.title
      this.performSkillUpdate({
        title: `Remove ${title}`,
        message: `Would you like to remove '${title}'?`,
        successTitle: 'Soft skill has been deleted',
        operationFn: () => this.deleteSkill(this.skillId)
      })
    }
  }
}
</script>
