<template>
  <div class="grid-selector">
    <selector
      v-for="group in data"
      @toggle="toggle"
      @toggleall="toggleall"
      :key="group.uid"
      :isBlog="isBlog"
      :guid="group.uid"
      :title="group.title"
      :group="group.items"
      :selected="group.selected"
    />
  </div>
</template>

<style lang="stylus" scoped>
.grid-selector
  display flex
  position relative
</style>

<script>
import selector from './selector'
export default {
  components: {
    selector
  },
  props: {
    data: {
      type: Array,
      default: () => []
    },
    isBlog: Boolean
  },
  methods: {
    toggle (data) {
      this.$emit('toggle', data)
    },
    toggleall (data) {
      this.$emit('toggleall', data)
    }
  }
}
</script>
