<template>
  <div class="multi-selector">
    <multi-selector-head
      @toggleall="toggleall"
      :title="title"
      :selected="headSelected"
    />
    <div v-if="!isBlog">
      <multi-selector-item
        v-for="item in group"
        @toggle="toggle"
        :key="item.uid"
        :guid="item.guid"
        :uid="item.uid"
        :title="item.title"
        :selected="item.selected"
      />
    </div>
  </div>
</template>

<style lang="stylus" scoped>
.multi-selector
  flex-grow 0
  flex-basis 100%
  margin-right 1em
.multi-selector:last-of-type
  margin-right 0
</style>

<script>
import multiSelectorHead from './items/head'
import multiSelectorItem from './items/item'
export default {
  components: {
    multiSelectorHead,
    multiSelectorItem
  },
  props: {
    guid: {
      type: String
    },
    title: {
      type: String
    },
    selected: Boolean,
    group: {
      type: Array,
      default: () => []
    },
    isBlog: Boolean
  },
  computed: {
    headSelected () {
      if (this.isBlog) {
        return this.selected
      }
      return !this.group.some(item => !item.selected)
    }
  },
  methods: {
    toggleall ({ uid }) {
      this.$emit('toggleall', {
        to: !this.headSelected,
        guid: this.guid
      })
    },
    toggle (data) {
      this.$emit('toggle', data)
    }
  }
}
</script>
