<template>
  <div
    class="btn-container"
    :class="{
      'padding-top': padding.top,
      'padding-bottom': padding.bottom,
      'padding-left': padding.left,
      'padding-right': padding.right,
      'inlined-container': inlinedContainer,
      'text-center': centered
    }"
  >
    <q-btn
      class="btn"
      :class="{
        dark,
        inlined
      }"
      :label="title"
      :icon="icon"
      @click="click"
      :disabled="disabled"
    />
  </div>
</template>

<script>
export default {
  methods: {
    click () {
      this.$emit('click')
    }
  },
  props: {
    title: {
      type: String,
      default: 'Click me!'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    dark: {
      type: Boolean,
      default: false
    },
    inlined: {
      type: Boolean,
      default: false
    },
    inlinedContainer: {
      type: Boolean,
      default: false
    },
    centered: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: null
    },
    padding: {
      type: Object,
      default: () => ({
        top: false,
        bottom: false,
        left: false,
        right: false
      })
    }
  }
}
</script>
