
@import '~variables'

$darkBlue = #25354E
$primaryText = #FDEEC6
$grey = $light-grey
$primary = $secondary

.btn-container
  position relative
  &:not(.inlined-container)
    width 100%
  .btn
    position relative
    text-transform none
    box-shadow none
    font-size 16px
    min-width 180px
    &.inlined
      padding 0 40px
    &:not(.inlined)
      width 100%
  >>> .q-icon
    font-size 22px
  .btn.disabled,
  .btn[disabled]
    opacity 1 !important // Override quasar default styling

for side in top bottom left right
  .btn-container.padding-{side}
    padding-{side} 1em