<style lang="stylus" scoped>
@import '~variables'
@import './button.styl'
.btn
  border-radius 25px
  height 50px
  font-weight 600
  background $darkBlue
  color $primaryText
.btn.dark
  background $primary
  color $darkBlue
  border 2px solid $primary
  border-radius 25px
  &:hover:not([disabled])
    border-color #dfbd7f
.btn.disabled,
.btn[disabled]
  background #DADADA
  border-color #DADADA
  color #7C7C7C
</style>

<script>
import btnMixin from './btn-mixin'

export default {
  mixins: [btnMixin]
}
</script>
