<style lang="stylus" scoped>
@import '~quasar-app-variables'
@import './button.styl'
.btn
  border 2px solid #29364A
  border-radius 25px
  background-color transparent
  color #29364A
  height 50px
  font-weight 700
.btn.dark
  border-color $primary
  color $primary
.btn.disabled,
.btn[disabled]
  border-color $grey
  color $grey
</style>

<script>
import btnMixin from './btn-mixin'

export default {
  mixins: [btnMixin]
}
</script>
