<style lang="stylus" scoped>
@import '~quasar-app-variables'
@import './button.styl'
.btn
  position relative
  height 40px
  border-radius 5px
  background-color $accent
  color $dark
  font-size 16px
  font-weight 400
  text-transform none
  text-decoration underline
  box-shadow none
</style>

<script>
import btnMixin from './btn-mixin'

export default {
  mixins: [btnMixin]
}
</script>
