<template>
  <div class="card-container">
    <slot />
  </div>
</template>

<style lang="stylus" scoped>
.card-container
  display flex
  width 100%
  flex-direction row
  align-items stretch
</style>
