<template>
  <div class="card" :class="{ 'disabled': disabled }">
    <h1 v-html="heading" />
    <p v-html="paragraph" />
    <link-to v-if="!nolink" :text="link.text" :url="link.url" :disabled="disabled" />
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
.card
  position relative
  display flex
  flex-direction column
  justify-content flex-start

  flex-grow 1
  flex-shrink 1
  flex-basis 100%

  overflow auto
  margin 0 10px
  padding 20px

  border-radius 6px
  background $white
  box-shadow 0 1px 2px 0 rgba(0,0,0,0.1)
  font-size 16px

  transition opacity $short-duration

  h1
    font-size 1.25em
    margin 0
    color $purple-text
  p
    font-size 1em
    margin 1em 0
    flex-grow 1
  h1, p
    transition color $short-duration
.card:first-of-type
  margin-left 0
.card:last-of-type
  margin-right 0
.card.disabled
  opacity 0.5
  cursor default !important
  >>> *
    cursor default !important
  h1, p
    color $grey
</style>

<script>
import linkTo from 'components/ui/link'
export default {
  components: {
    linkTo
  },
  props: {
    heading: {
      type: String,
      default: 'Heading'
    },
    paragraph: {
      type: String,
      default: 'Lorem ipsum dolor sedet'
    },
    link: {
      type: Object,
      default: () => ({
        text: 'Click here to visit link',
        url: '/specify-link'
      })
    },
    nolink: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>
