<template>
  <div class="container">
    <grid-selector
      @toggleall="toggleall"
      :isBlog="true"
      :data="priorities"
    />
    <error-label v-if="error">Please select one segment</error-label>
  </div>
</template>

<style lang="stylus" scoped>
.container
  width 100%
</style>

<script>
import gridSelector from 'components/ui/grid-select/grid-selector'
import errorLabel from 'components/ui/error-label'

export default {
  components: {
    gridSelector,
    errorLabel
  },
  props: {
    uid: String,
    isBlog: Boolean,
    error: Boolean,
    getCategory: String
  },
  data: () => ({
    category: ''
  }),
  computed: {
    priorities () {
      const data = [
        {'title': 'lifestyle', 'uid': '0', 'items': [], 'selected': false},
        {'title': 'relationships', 'uid': '1', 'items': [], 'selected': false},
        {'title': 'self', 'uid': '2', 'items': [], 'selected': false},
        {'title': 'work', 'uid': '3', 'items': [], 'selected': false},
        {'title': 'qnews', 'uid': '4', 'items': [], 'selected': false}
      ]
      data.forEach((priority) => {
        if (priority.title === this.getCategory) {
          priority.selected = true
        }
      })
      return data
    }
  },
  methods: {
    toggleall ({ guid: auid, to }) {
      this.priorities.forEach((priority) => {
        priority.selected = false
        if (priority.uid === auid) {
          priority.selected = true
          this.category = priority.title
        }
      })
      this.push()
    },
    reset () {
      // for (const priority in this.selected) {
      //   this.setToggle(priority, false)
      // }
    },
    push () {
      this.$emit('input', this.category)
    }
  }
}
</script>
