<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import accessPoliciesMap from './shared/access-control/accessPolicies'
import Permission from './shared/access-control/Permission'
import appData from 'components/app/app-data'

import { init as initFirebase } from 'plugins/firebase/init'
import Sentry from 'plugins/sentry'
initFirebase()

import firebase from 'firebase/app'

export default {
  name: 'App',
  mixins: [
    appData
  ],
  created () {
    this.initAccessControl()
    this.isMobile()
    this.$intercom.init()
    Sentry.init()
  },
  methods: {
    isMobile () {
      if (window.innerWidth < 1024) { // covers portrait tablet, large phone screens. Allows iPad landscape, small desktops etc.
        this.$q.dialog({
          title: 'Error',
          message: 'The QDooz Portal currently doesn’t support mobile browsers. Please log in on a desktop browser.'
        })
      }
    },
    initAccessControl () {
      const onUserRolesChanged = userRoles => {
        if (!this.$accessControl.userAllowedTo(Permission.AccessPortal)) {
          this.$q.dialog({
            title: 'Permission denied',
            message: 'User not authorised to access admin portal'
          }).then(() => {
            firebase.app().auth().signOut()
            this.$router.replace({name: 'login'})
          })
        }
      }
      this.$accessControl.initialize({
        onUserRolesChanged,
        accessPoliciesMap
      })
    }
  }
}
</script>

<style>
</style>
