<template>
  <q-layout class="layout">
    <div class="aside">
      <div class="aside__content">
        <p>At QDooz, our vision is to enable purposeful lives and fulfilling careers by optimising human potential. As a Content Partner, we invite you to share your experience, insights and fresh perspectives to bring this vision into being!</p>
        <div class="footnote">
          <div class="footnote__name">Amy Hackett-Jones</div>
          <div class="footnote__title">Head of Content</div>
        </div>
      </div>
    </div>
    <q-page-container class="page-container">
      <div class="inner">
        <div class="header">
          <img class="header-logo" src="~assets/icons/qdooz-logo.svg"/>
          <div class="header-title" v-if="$route.meta.signup">
            <Title class="header-title__top">Share your insights and help others</Title>
            <Title class="header-title__sub"><i>think better, work better, be better.</i></Title>
          </div>
          <div class="header-title" v-else>
            <Title>Content Portal</Title>
          </div>
          <p v-if="this.$route.meta.signup">
            Create an account to use our Content Portal and start sharing your content today!
          </p>
        </div>
        <router-view/>
        <q-layout-footer class="footer">
          <Version class="VersionNoBox"/>
        </q-layout-footer>
      </div>
    </q-page-container>
  </q-layout>
</template>

<style scoped lang="stylus">
@import '~variables'
.layout
  display flex

.header,
.footer
  box-shadow none

.aside
  width 400px
  max-width 40%
  background url("~assets/images/image-amy.png") 50% no-repeat
  background-size cover
  position relative

  @media screen and (max-width 767px)
    display none

  &__content
    position absolute
    bottom 0
    width 100%
    color white
    padding 50% 24px 36px
    background linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 60%)
    font-size 18px
    line-height 24px

.footnote
  display flex
  vertical-align middle
  flex-direction row
  align-items baseline

  &__name
    font-weight bold
    margin-right 12px

  &__title
    font-size 14px
    line-height 18px

.page-container
  background url("~assets/logos/logo-bg-q.svg") 105% 105% no-repeat $primary
  background-size 1200px
  flex 1
  position relative

.inner
  position relative
  margin 0 auto 40px
  max-width 600px
  width 100%
  padding 0 20px

.header
  padding 36px 0
  display flex
  flex-direction column
  justify-content center
  align-items center
  text-align center

.header-title
  font-size 28px
  font-weight 300
  >>> h1
    color white
  &__top
    margin-bottom 0
  &__sub
    margin-top 0

p
  color white
  font-size 18px
  line-height 24px

.header-logo
  object-fit contain
  height 32px
  margin-bottom 10px

@media screen and (max-height 650px)
  .footer
    position static
    padding-top 10px
</style>

<script>
import Version from 'components/ui/version'
import Title from 'components/ui/title'

export default {
  components: {
    Version,
    Title
  }
}
</script>
