<template>
  <q-layout view="hHh Lpr lFf" id="layout-container" :class="`layout-${theme}`">
    <q-layout-drawer
      class="sidebar"
      v-model="leftDrawerOpen"
      :width="260"
    >
      <q-list
        class="navigation-list"
        no-border
        link
        inset-delimiter>
        <router-link to="/">
          <q-list-header class="SideHeader">
              <img class="Logo" src="~assets/icons/qdooz-logo.svg"/>
          </q-list-header>
        </router-link>
        <logged-user-bar v-if="$accessControl.userAllowedTo('updateOwnUser')">
        </logged-user-bar>
        <template v-if="userProfileComplete">
          <q-item v-if="$accessControl.userAllowedTo('accessContent')" to="/getting-started" exact>
            <q-item-side icon="power_settings_new" />
            <q-item-main label="Getting started"/>
          </q-item>
          <q-item v-if="$accessControl.userAllowedTo('accessContent')" to="/style-guide" exact>
            <q-item-side icon="library_books" />
            <q-item-main label="Style Guide"/>
          </q-item>
          <q-item v-if="$accessControl.userAllowedTo('accessContent')" to="/tagging-toolkit" exact>
            <q-item-side icon="info" />
            <q-item-main label="Tagging toolkit"/>
          </q-item>
          <q-item v-if="$accessControl.userAllowedTo('listUsers')" to="/users" exact>
            <q-item-side icon="face" />
            <q-item-main label="Users"/>
          </q-item>
          <q-item v-else-if="$accessControl.userAllowedTo('upgradeUsers')" to="/users-update" exact>
            <q-item-side icon="face" />
            <q-item-main label="Users"/>
          </q-item>
          <q-item v-if="$accessControl.userAllowedTo('listAuthors')" to="/content-providers" exact>
            <q-item-side icon="mode_edit" />
            <q-item-main label="Authors"/>
          </q-item>
          <q-item v-if="$accessControl.userAllowedTo('accessArticles')" to="/content">
            <q-item-side icon="art_track" />
            <q-item-main label="Content" data-test-id="navigator-content"/>
          </q-item>
          <q-item v-if="$accessControl.userAllowedTo('viewContentStats')" to="/approval-queue">
            <q-item-side icon="update" />
            <q-item-main label="Approval queue"/>
          </q-item>
          <q-item v-if="$accessControl.userAllowedTo('viewContentStats')" to="/content-stats">
            <q-item-side icon="poll" />
            <q-item-main label="Content stats"/>
          </q-item>
          <q-item v-if="$accessControl.userAllowedTo('accessBlog')" to="/blog">
            <q-item-side icon="web" />
            <q-item-main label="Blog"/>
          </q-item>
          <q-item v-if="$accessControl.userAllowedTo('accessMarketing')" to="/marketing">
            <q-item-side icon="label" />
            <q-item-main label="Marketing"/>
          </q-item>
          <q-item v-if="$accessControl.userAllowedTo('viewReferralStats')" to="/referral-stats" exact>
            <q-item-side icon="bubble_chart" />
            <q-item-main label="Referral tracking"/>
          </q-item>
          <q-item v-if="$accessControl.userAllowedTo('manageLifeSkills')" to="/tools/life-skills" exact>
            <q-item-side icon="tune" />
            <q-item-main label="Manage Soft Skills"/>
          </q-item>
        </template>
        <q-item @click.native="logout">
          <q-item-side icon="exit_to_app" />
          <q-item-main label="Logout"/>
        </q-item>
      </q-list>
      <q-btn v-if="$accessControl.userAllowedTo('accessContent')" class="button" flat label="suggest a subject" @click="suggest"/>
      <Version class="VersionNoBox"/>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

import firebase from 'firebase/app'
import 'firebase/auth'
import loggedUserBar from 'components/logged-user-bar'
import icon from 'components/ui/icon'
import Version from 'components/ui/version'
import ApplicantStatus from 'shared/ApplicantStatus'

export default {
  name: 'LayoutDefault',
  components: {
    loggedUserBar,
    icon,
    Version
  },
  data () {
    return {
      leftDrawerOpen: true,
      userProfileComplete: false,
      authorProfileRef: null,
      currentUserUid: null,
      theme: ''
    }
  },
  beforeDestroy () {
    this.unsubscribe()
  },
  async created () {
    this.theme = localStorage.getItem('theme')
    this.currentUserUid = this.$firebase.auth.currentUser().uid

    this.authorProfileRef = await this.$firebase.users.getUserAuthorRef(this.currentUserUid)
    if (this.authorProfileRef) {
      this.authorProfileRef.child('status').on('value', this.setProfileCompleted)
      this.authorProfileRef.on('value', snapshot => {
        this.theme = snapshot.val().profile.theme
        localStorage.setItem('theme', this.theme)
      })
    } else {
      this.userProfileComplete = true
    }
  },
  methods: {
    async setProfileCompleted (snapshot) {
      this.userProfileComplete = snapshot.val() !== ApplicantStatus.NotSubmitted
    },
    async logout () {
      await firebase.app().auth().signOut()
      this.$router.replace({name: 'login'})
      await this.$intercom.logout()
    },
    suggest () {
      location.href = 'mailto:content@qdooz.com?subject=Suggest%20a%20subject'
    },
    unsubscribe () {
      if (this.authorProfileRef) {
        this.authorProfileRef.child('profile').off('value', this.setProfileCompleted)
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~variables'
  #layout-container
    font-family: 'IBM Plex Sans','Roboto', sans-serif
    color #202020
  .navigation-list
    flex 1 0
  .title
    color white
    font-weight bold
    font-size 1rem
  .SideHeader
    padding 4px 20px
  .Logo
    height 40px
    margin-bottom 20px
  .sidebar >>> .q-layout-drawer
    background $primary
    color white
    z-index 1000
    display flex
    flex-direction column
    box-shadow none
  .button
    height 4em
    border-top 1px solid rgba(255,255,255,0.25)
  .q-item
    margin-left 20px
    font-size 14px
    padding 9px 16px
    >>> .q-item-icon
      color white
  .q-item.active, .q-item.router-link-active, .q-item:focus
    background white
    color $primary
    >>> .q-item-icon
      color $primary
  .VersionNoBox
    border-top 1px solid rgba(255, 255, 255, 0.25)

// Themes
styles = {
  // 1) Background, 2) Text, 3) Links, 4,5,6..) Minor styles
  dark: #252526 #c6c6c6 #ececec #ffd588 #4c4c4c #979797 #292929
  flowers: #ffc5fb #f34048 #f34048 #f34048 #ffc5fb #f34048 #f34048
  tron: #000 #df741c #6fc3df #6fc3df #4c4c4c #6fc3df #df741c
}
for theme, style in styles
  #layout-container.layout-{theme}
    background style[0]
    color style[1]
    >>> a
      color style[2]
    >>>
      .sidebar aside,
      .header,
      .bg-primary,
      .tab,
      .router-link-exact-active
      .header > *,
      .router-link-exact-active button,
      .card,
      .btn.dark,
      .breadcrumb,
      .search-bar .search-icon,
      .bar,
      .btn,
      .block-header,
      .video-card,
      .wistia_player,
      .wistia_uploader,
      .multi-selector-item,
      .editor,
      .ql-toolbar,
      .bg-white,
      .upload-card,
      .feedback__window,
      .sidebar-window,
      .controls__selector--disabled:before
        background style[0] !important
    >>>
      .q-input-target,
      .q-input-shadow,
      .search-bar input,
      .table-row td,
      .q-btn,
      .search-bar .search-icon,
      .q-table-bottom
      .uid,
      .private-info-description,
      .section-title,
      .title,
      .multi-selector-item .multi-selector-item-title,
      .chips-input .q-chip-main,
      .q-uploader-files-no-border:not(.q-uploader-expanded):before,
      h1,
      .subtitle
        color style[1] !important
    >>> .btn
      border 2px solid style[3]
    >>> .tinted-inset
      background none
    >>>
      .text-block,
      .header > *
        border-color rgba(255,255,255,0.15)
      h1.highlighted
        color style[2]
    >>> .contents-container .contents ul li
      color style[2]
      &:not(.selected)
        color style[5]
    .q-item.active, .q-item.router-link-active, .q-item:focus
      background style[4] !important
      >>> .q-item-icon
        color style[5]
    >>>
      .q-list-highlight > .q-item:hover,
      .q-item-highlight:hover,
      .q-list-link > .q-item:hover,
      .q-item-link:hover
        background rgba(style[1],0.2) !important
    >>>
      .feedback__title,
      .tab.selected
        background style[4] !important
      &:after
        border-top-color style[4]
    >>> .textarea .q-field
      background none
    >>> .table-row td:not(:first-child)
      border-color rgba(255,255,255,0.15)
    >>> .table-row:nth-child(even)
      background rgba(255,255,255,0.05)
    >>>
      .preview-icon:before,
      .preview-icon:after
        content none
    >>> .preview-icon i:after
      content none
    >>>
      .intro-image,
      .content-image
        display none
    >>> .intro-text
      padding-bottom 0
#layout-container.layout-tron
  text-shadow 0px 0px 2px #FFF
  >>>
    .q-input-target:before
      content none
  >>>
    .q-if-baseline,
    .text-transparent
      text-shadow none !important
</style>
