<template>
  <q-layout view="lHh Lpr lFf" id="layout-container" class="light-layout">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style lang="stylus" scoped>
@import '~variables'
$lightBackground = linear-gradient(white 0%, #f0f0f0 100%)
#layout-container
  font-family 'IBM Plex Sans','Roboto',san-serif
  position absolute

.light-layout
  background $lightBackground
  color #1A0026
  >>> main
    background $lightBackground

.dark-layout
  background $darkBackground
  color white

.dark-layout >>>
  main
    background $darkBackground
  .dark-layout__title,
  .dark-layout__paragraph
    max-width 300px
    margin 0 auto

  .match-width
      max-width:100%

  .dark-layout__title
    text-align center
    margin-bottom 3vh
    color $info-dt
    font-size 1.5rem
    font-weight 600
    @media screen and (min-width $breakpoint-sm)
      font-size 2em
      max-width 80%
  .dark-layout__paragraph
    text-align left
    font-size 0.875rem
    @media screen and (min-width:$breakpoint-sm)
      font-size 1.25em
      max-width 80vw
</style>

<script>

export default {
  name: 'app-layout-view'
}
</script>
