<template>
  <link-to
    :class="{external}"
    :url="previewLink"
    :text="text"
    :icon="external"
    newWindow
    external
  >
    <slot/>
  </link-to>
</template>

<style lang="stylus">
</style>

<script>
import linkTo from 'components/ui/link'
import { getLinkToArticlePreview } from 'shared/utils'

export default {
  props: {
    id: {
      type: String,
      required: true
    },
    text: {
      type: String
    },
    external: {
      type: Boolean,
      default: false
    }
  },
  components: {
    linkTo
  },
  computed: {
    previewLink () {
      return getLinkToArticlePreview(this.id)
    }
  }
}
</script>
