<template>
  <table-page>
    <text-block :padding="{ h: false, v: false }">
      <search-header @search="search" placeholder="Search Applicants">
        <PrimaryBtn
          @click="$router.push('content-providers')"
          title=" Back to content partners list"
          dark
        />
      </search-header>
      <applicant-status-dropdown
        class="status-dropdown"
        :selected-status.sync="selectedStatus"
      />
      <applicants-list
        :search-term="searchTerm"
        :selected-status="selectedStatus"
      />
    </text-block>
  </table-page>
</template>

<style lang="stylus" scoped>
.status-dropdown
  margin-top 1em
  display inline-flex
</style>

<script>
import tablePage from 'components/pages/table-page'
import ApplicantStatusDropdown from 'components/pages/applicants/applicant-status-dropdown'
import applicantsList from 'components/tables/applicants'
import searchHeader from 'components/search/search-header'
import textBlock from 'components/ui/text-block'
import { PrimaryBtn } from 'components/ui/buttons'

export default {
  components: {
    tablePage,
    textBlock,
    applicantsList,
    searchHeader,
    PrimaryBtn,
    ApplicantStatusDropdown
  },
  data: () => {
    return {
      searchTerm: '',
      selectedStatus: 'all'
    }
  },
  methods: {
    search (term) {
      this.searchTerm = term
    }
  }
}
</script>
