<template>
  <table-page>
    <text-block :padding="{ h: false, v: false }">
      <search-header @search="search" placeholder="Search Content Partners">
        <PrimaryBtn
          @click="$router.push('applicants')"
          :title="` Show applicants (${applicantsToReview} to review)`"
          dark
        />
      </search-header>
      <p v-if="authorsCount">Number of authors: {{authorsCount}}</p>
      <content-providers :search-term="searchTerm" @data-loaded="authorsLoaded"/>
    </text-block>
  </table-page>
</template>

<script>
import tablePage from 'components/pages/table-page'
import contentProviders from 'components/tables/users/content-providers'
import searchHeader from 'components/search/search-header'
import textBlock from 'components/ui/text-block'
import { PrimaryBtn } from 'components/ui/buttons'
import ApplicantStatus from 'shared/ApplicantStatus'

export default {
  components: {
    tablePage,
    contentProviders,
    textBlock,
    PrimaryBtn,
    searchHeader
  },
  data: () => {
    return {
      searchTerm: '',
      applicantsToReview: 0,
      authorsCount: null
    }
  },
  methods: {
    search (term) {
      this.searchTerm = term
    },
    updateApplicantCount (snapshot) {
      this.applicantsToReview = 0
      snapshot.forEach(applicantData => {
        if (applicantData.val().status !== ApplicantStatus.Rejected) {
          this.applicantsToReview++
        }
      })
    },
    authorsLoaded (authors) {
      this.authorsCount = authors.length
    }
  },
  created () {
    this.$firebase.authorApplicants.all.on('value', this.updateApplicantCount)
  },
  destroyed () {
    this.$firebase.authorApplicants.all.off('value', this.updateApplicantCount)
  }
}
</script>
