<template>
  <content-tool-table
    :tool-data="toolItems"
    :selectedStatus="selectedStatus"
    :articles="articles"
    :toolItems="toolItems"
    :dateFrom="dateFrom"
    :dateTo="dateTo"
    toolPath="priorities"/>
</template>

<script>
import { mapGetters } from 'vuex'
import { PRIORITY_UID_PATHS } from 'store/tools/areas-of-life/getter.types'
import contentToolTable from './content-tool-table'

export default {
  components: {
    contentToolTable
  },
  props: {
    selectedStatus: {
      type: String,
      default: 'all'
    },
    articles: {
      type: Array,
      default: () => []
    },
    dateFrom: Number,
    dateTo: Number
  },
  computed: {
    ...mapGetters({
      priorities: PRIORITY_UID_PATHS
    }),
    toolItems () {
      return this.priorities.map(({ path, label, area, color }) => ({
        uid: path,
        name: `<span class="priorities-tag" style="background:${color};">${area}</span> ${label}`
      }))
    }
  }
}
</script>
