<template>
  <styled-table
    minWidth
    :data="data"
    :columns="columns"
    :pagination="tableConfig.pagination">
    <template slot-scope="{ row }" no-border>
      <q-td v-html="row.name" />
      <q-td>
        <router-link v-if="row.draft" :to="{path: 'content', query: contentListNavParams(row.uid, 'draft', showQualityContent ? Quality : '', dateFrom, dateTo)}">{{row.draft}}</router-link>
        <span v-else>{{row.draft}}</span>
      </q-td>
      <q-td>
        <router-link v-if="row.submittedForReview" :to="{path: 'content', query: contentListNavParams(row.uid, ['in_review', 'review_needed'], showQualityContent ? Quality : '', dateFrom, dateTo)}">{{row.submittedForReview}}</router-link>
        <span v-else>{{row.submittedForReview}}</span>
      </q-td>
      <q-td>
        <router-link v-if="row.amendmentsRequired" :to="{path: 'content', query: contentListNavParams(row.uid, 'amendments_required', showQualityContent ? Quality : '', dateFrom, dateTo)}">{{row.amendmentsRequired}}</router-link>
        <span v-else>{{row.amendmentsRequired}}</span>
      </q-td>
      <q-td>
        <router-link v-if="row.published" :to="{path: 'content', query: contentListNavParams(row.uid, 'published', showQualityContent ? Quality : '', dateFrom, dateTo)}">{{row.published}}</router-link>
        <span v-else>{{row.published}}</span>
      </q-td>
      <q-td>
        <router-link v-if="row.count" :to="{path: 'content', query: contentListNavParams(row.uid, '', showQualityContent ? Quality: '', dateFrom, dateTo)}">{{row.count}}</router-link>
        <span v-else>{{row.count}}</span>
      </q-td>
      <q-td>
        <span>{{row.readTimeReadable}}</span>
      </q-td>
      <q-td>
        <span>{{row.watchTimeReadable}}</span>
      </q-td>
    </template>
  </styled-table>
</template>

<script>
import { getNestedProperty } from 'shared/utils.js'
import { Quality } from 'shared/ArticleFocus.js'
import ArticleStatus from 'shared/ArticleStatus.js'
import styledTable from 'components/styled-table'

const getColumnsDefinition = () => {
  let columns = [
    { name: 'name', field: 'name', label: 'Name', sortable: true },
    { name: 'draft', field: 'draft', label: 'Draft', sortable: true },
    { name: 'submittedForReview', field: 'submittedForReview', label: 'Review', sortable: true },
    { name: 'amendmentsRequired', field: 'amendmentsRequired', label: 'Amendments Needed', sortable: true },
    { name: 'published', field: 'published', label: 'Published', sortable: true },
    { name: 'count', field: 'count', label: 'Total', sortable: true },
    { name: 'readTime', field: 'readTime', label: 'Read time', sortable: true },
    { name: 'watchTime', field: 'watchTime', label: 'Watch time', sortable: true }
  ]
  return columns
}

const tableConfig = {
  pagination: {
    rowsPerPage: 0,
    sortBy: 'name'
  }
}

export default {
  components: {
    styledTable
  },
  data () {
    return {
      data: [],
      columns: getColumnsDefinition(),
      tableConfig,
      Quality
    }
  },
  props: {
    selectedStatus: {
      type: String,
      default: 'all'
    },
    articles: {
      type: Array,
      default: () => []
    },
    toolItems: {
      type: Array,
      default: () => []
    },
    toolPath: {
      type: String,
      required: true
    },
    showQualityContent: Boolean,
    dateFrom: Number,
    dateTo: Number
  },
  methods: {
    contentListNavParams (uid, status, focus, dateFrom, dateTo) {
      return {
        [this.toolPath]: uid,
        status,
        focus,
        dateFrom,
        dateTo
      }
    },
    async updateStatsForTool (toolPropertyName, toolItems, articles) {
      const toolStats = this.countArticlesTaggedWithToolItems(
        toolPropertyName,
        toolItems,
        articles
      )
      const totalCount = toolStats.reduce((a, b) => a + b.count, 0)
      this.data = toolStats
      this.columns.find(
        col => col.field === 'count'
      ).label = `Total (${totalCount})`
    },
    mSToReadableTime (ms) {
      const seconds = ((ms / 1000) % 60).toFixed(0)
      const minutes = ((ms / 60000) % 60).toFixed(0)
      const hours = Math.floor(ms / 3600000)
      return ms === 0 ? '-' : `${hours ? hours + 'h' : ''} ${ms < 600 ? '<' : minutes + 'm'} ${seconds + 's'}`
    },
    countArticlesTaggedWithToolItems (toolPropertyName, toolItems, articles) {
      // Filtering data on the client side to limit the number of Firestore queries
      // Since we're getting the entire collection of articles anyway
      return toolItems.map(toolItem => {
        const matchingArticles =
          articles.filter(
            article => getNestedProperty(article, `${toolPropertyName}.${toolItem.uid}`) === true
          ).filter(
            article => this.showQualityContent ? article.focus === Quality : article
          )
        const articlesNotDraftOrRejected =
          matchingArticles.filter(
            article => article.status !== (ArticleStatus.Draft || ArticleStatus.Rejected)
          )
        let readTime = articlesNotDraftOrRejected.length
          ? articlesNotDraftOrRejected.reduce(
            (a, b) => a + (b['readTime'] || 0), 0
          )
          : 0

        let watchTime = articlesNotDraftOrRejected.length
          ? articlesNotDraftOrRejected.reduce(
            (a, b) => a + (b['watchTime'] || 0), 0
          )
          : 0
        let stats = {
          count: matchingArticles.length,
          name: toolItem.name,
          uid: toolItem.uid,
          readTime: readTime,
          watchTime: watchTime,
          readTimeReadable: this.mSToReadableTime(readTime),
          watchTimeReadable: this.mSToReadableTime(watchTime),
          draft: matchingArticles.filter(article => article.status === ArticleStatus.Draft).length,
          submittedForReview: matchingArticles.filter(article => article.status === ArticleStatus.ReviewNeeded || article.status === ArticleStatus.InReview).length,
          amendmentsRequired: matchingArticles.filter(article => article.status === ArticleStatus.AmendmentsRequired).length,
          published: matchingArticles.filter(article => article.status === ArticleStatus.Published).length
        }
        return stats
      })
    },
    init () {
      this.updateStatsForTool(this.toolPath, this.toolItems, this.articles)
    }
  },
  mounted () {
    this.init()
  },
  watch: {
    articles () {
      this.init()
    }
  }
}
</script>
