<template>
  <content-tool-table
    :tool-data="toolItems"
    :selectedStatus="selectedStatus"
    :articles="articles"
    :toolItems="toolItems"
    :dateFrom="dateFrom"
    :dateTo="dateTo"
    toolPath="lifeSkills"/>
</template>

<script>
import { mapGetters } from 'vuex'
import { GET_LIFE_SKILLS } from 'store/tools/lifeskills/getter.types'
import contentToolTable from './content-tool-table'

export default {
  components: {
    contentToolTable
  },
  props: {
    selectedStatus: {
      type: String,
      default: 'all'
    },
    articles: {
      type: Array,
      default: () => []
    },
    dateFrom: Number,
    dateTo: Number
  },
  computed: {
    ...mapGetters({
      lifeSkills: GET_LIFE_SKILLS
    }),
    toolItems () {
      return this.lifeSkills.map(key => ({uid: key.uid, name: key.skill.title}))
    }
  }
}
</script>
