<template>
  <div>
    <div v-if="$accessControl.user.isContentAdmin">
      <p class="subtitle">
        Status: {{statusTitle}}
      </p>
      <custom-button
        class="btn"
        label="Approve"
        color="positive"
        @click.native="approve"
      ></custom-button>
      <custom-button
        class="btn"
        label="Reject"
        color="negative"
        @click.native="reject">
      </custom-button>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
  .subtitle
    font-size 14px
    text-align center

  .subtitle,
  .btn
    width 100%
    margin-bottom 12px
</style>

<script>
import { statusTitles } from 'shared/ApplicantStatus'
import customButton from 'components/custom-button'

export default {
  name: 'applicant-panel',
  components: {
    customButton
  },
  data () {
    return {
      applicantStatus: null,
      applicantRef: null
    }
  },
  props: {
    userId: String,
    email: String,
    name: String
  },
  async created () {
    this.applicantRef = await this.$firebase.authorApplicants.getApplicantForUser(this.userId)
    this.applicantRef.on('value', this.updateApplicantStatus)
  },
  destroyed () {
    this.applicantRef.off('value', this.updateListOfApplicants)
  },
  computed: {
    statusTitle () {
      return statusTitles[this.applicantStatus]
    }
  },
  methods: {
    popup (message) {
      return this.$q.notify({
        message: message,
        type: 'positive',
        position: 'top'
      })
    },
    updateApplicantStatus (snapshot) {
      let applicantData = snapshot.val()
      this.applicantStatus = applicantData && applicantData.status
    },
    async approve () {
      this.$q.loading.show()
      await this.$firebase.authorApplicants.promoteApplicantToAnAuthor(
        this.userId, this.email, this.name
      )
      this.$q.loading.hide()
      this.popup('Author has been approved and promoted to a content partner')
      this.$emit('applicant-approved')
    },
    async reject () {
      this.$q.loading.show()
      await this.$firebase.authorApplicants.rejectApplicant(
        this.userId, this.email, this.name
      )
      this.$q.loading.hide()
      this.popup('Author has been rejected')
    }
  }
}
</script>
