<template>
  <div>
    <div class="row linkedin-type-picker">
      <div class="section-title">Linkedin profile preference (only one)</div>
      <q-radio v-model="linkedInProfileType" :val="ProfileType.Personal" label="Personal" />
      <q-radio v-model="linkedInProfileType" :val="ProfileType.Company" label="Company" />
    </div>
    <editable-field
      editingEnabled="true"
      v-if="linkedInProfileType === ProfileType.Personal"
      stack-label="LinkedIn personal profile"
      prefix="https://www.linkedin.com/in/"
      :value="userSocialHandles[ProfileType.Personal]"
      :iconPath="require(`assets/icons/linkedin-icon.png`)"
      :key="ProfileType.Personal"
      @valueConfirmed="updatePersonalLinkedIn($event)"
    />
    <editable-field
      editingEnabled="true"
      v-else
      stack-label="LinkedIn company profile"
      prefix="https://www.linkedin.com/company/"
      :value="userSocialHandles[ProfileType.Company]"
      :iconPath="require(`assets/icons/linkedin-icon.png`)"
      :key="ProfileType.Company"
      @valueConfirmed="updateCompanyLinkedIn($event)"
    />
  </div>
</template>

<style lang="stylus">
@import '~variables'
.linkedin-type-picker
  font-size 12px
  line-height 2em
  margin-bottom 12px
  .q-radio:not(:first-child)
    margin-left 12px
</style>

<script>
import editableField from 'components/editable-field'

const ProfileType = {
  Personal: 'linkedIn',
  Company: 'companyLinkedIn'
}
export default {
  name: 'linkedin-profile-input',
  components: {
    editableField
  },
  props: {
    userSocialHandles: Object
  },
  data () {
    return {
      ProfileType: ProfileType,
      linkedInProfileType: ProfileType.Personal
    }
  },
  created () {
    this.selectInputBasedOnExistingProfile(this.userSocialHandles)
  },
  methods: {
    updatePersonalLinkedIn (username) {
      this.$emit('linkedInProfileSet', {
        profileToClear: ProfileType.Company,
        profileToSet: ProfileType.Personal,
        username
      })
    },
    updateCompanyLinkedIn (username) {
      this.$emit('linkedInProfileSet', {
        profileToClear: ProfileType.Personal,
        profileToSet: ProfileType.Company,
        username
      })
    },
    selectInputBasedOnExistingProfile (userSocialHandles) {
      this.linkedInProfileType = userSocialHandles[ProfileType.Company] ? ProfileType.Company : ProfileType.Personal
    }
  },
  watch: {
    userSocialHandles (value) {
      this.selectInputBasedOnExistingProfile(value)
    }
  }
}
</script>
