<template>
  <editable-field
    :value="value"
    :error="error"
    @input="input"
    @valueConfirmed="valueConfirmed"
    float-label="Website Url"
    error-label="Please type a valid url"
    :prefix="prefix"
    :storePrefixInModel="true"
    :editingEnabled="true"
  />
</template>

<script>
import editableField from 'components/editable-field'

const HTTPS_PREFIX = 'https://'
const HTTP_PREFIX = 'http://'

export default {
  name: 'website-url-input',
  components: {
    editableField
  },
  props: {
    value: String,
    error: Boolean
  },
  data () {
    return {
      usesHttp: false,
      initialised: false
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (val) {
        if (val && !this.initialised) {
          this.usesHttp = val.indexOf(HTTP_PREFIX) === 0
          this.initialised = true
        }
      }
    }
  },
  computed: {
    prefix () {
      return this.usesHttp ? HTTP_PREFIX : HTTPS_PREFIX
    }
  },
  methods: {
    convertHttpInputToHttps (val) {
      if (this.usesHttp) {
        this.usesHttp = false
        return val.replace(HTTP_PREFIX, HTTPS_PREFIX)
      }
      return val
    },
    input (val) {
      val = this.convertHttpInputToHttps(val)
      this.$emit('input', val)
    },
    valueConfirmed (val) {
      val = this.convertHttpInputToHttps(val)
      this.$emit('valueConfirmed', val)
    }
  }
}
</script>
