<template>
  <div class="bar">
    <img v-if="icon" class="icon" :src="icon"/>
    <span class="label">{{label}}</span>
  </div>
</template>

<style scoped lang="stylus">
  .bar
    width 100%
    display flex
    padding 7px 10px
    border-radius 18px
    background-color #E0E0E0
    line-height 22px
    position relative
  .icon
    margin-right 5px
  .label
    font-size 14px
    font-weight 400
  @media screen and (min-width 1025px)
    .icon
      position absolute
      left 10px
    .bar
      justify-content center
</style>

<script>
export default {
  name: 'chip-bar',
  props: {
    label: {
      type: String,
      default: null
    },
    icon: {
      type: String,
      default: null
    }
  }
}
</script>
