<template>
  <div class="error-message"><slot/></div>
</template>

<script>
export default {
  name: 'error-label',
  props: {
    text: String
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

.error-message
  margin-top 10px
  font-size 12px
  color $negative
</style>
