<template>
  <q-select
    :value="selectedOption"
    v-on:input="$emit('input', $event)"
    :placeholder="placeholder"
    :float-label="label"
    :options="availableStatusSelectOptions"
  />
</template>

<script>
export default {
  name: 'generic-status-dropdown',
  props: {
    options: Array,
    customOptions: Array,
    placeholder: String,
    label: String,
    optionDisplayProperties: Object,
    selectedOption: String,
    hideAll: Boolean
  },
  computed: {
    availableStatusSelectOptions () {
      let options = this.customOptions || this.options
      options = options.map(status => {
        return {
          label: this.optionDisplayProperties[status],
          value: status
        }
      })
      !this.hideAll && options.unshift({
        label: 'All',
        value: 'all'
      })
      return options
    }
  }
}
</script>
