<template>
  <img :src="src" class="q-icon" />
</template>

<style lang="stylus" scoped>
.q-icon
  height 24px
  width 24px
</style>

<script>
export default {
  props: {
    src: {
      type: String,
      default: ''
    }
  }
}
</script>
