<template>
  <div class="info-warn">
    <div>{{info}}</div>
  </div>
</template>

<style lang="stylus" scoped>
.info-warn
  border 1px solid red
  border-radius 4px
  display flex
  width 100%
  align-items center
  justify-content center
  color red
  font-size 18px
  padding 18px
  margin-bottom 18px
</style>

<script>
export default {
  name: 'info-warn',
  props: {
    info: {
      type: String
    }
  }
}
</script>
