<template>
  <a
    :class="{ 'disabled': disabled, 'underline': underline }"
    :href="external && url"
    :target="target"
    @click="visitInternalPage"
  ><u>{{ text }}<slot/></u> <q-icon v-if="icon" class="icon" :class="{ 'new-window': newWindow, 'chevron': !newWindow }" :name="newWindow ? 'open_in_new' : 'chevron_right'" /></a>
</template>

<style lang="stylus" scoped>
@import '~variables'
a
  font-size 1em
  margin 0
  color $link-color
  cursor pointer
  text-decoration none
  i.icon.new-window
    font-size 1em
    line-height 0.7
    margin-left 0.5em
  i.icon.chevron
    font-size 1.5em
    line-height 0.2
    margin-top -2px
a.disabled
  color $grey
.underline
  text-decoration underline
</style>

<script>
export default {
  props: {
    newWindow: {
      type: Boolean,
      default: false
    },
    external: {
      type: Boolean,
      default: false
    },
    url: {
      type: String,
      default: '/link-url'
    },
    text: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    icon: {
      type: Boolean,
      default: true
    },
    underline: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    visitInternalPage () {
      !this.external && !this.disabled && this.$router.push(this.url)
    }
  },
  computed: {
    target () {
      if (this.newWindow) {
        return '_blank'
      }
    }
  }
}
</script>
