<template>
  <q-spinner
    class="spinner"
    :class="{
      'margin-left': margins.left,
      'margin-right': margins.right,
      'margin-top': margins.top,
      'margin-bottom': margins.bottom
    }"
  />
</template>

<style lang="stylus" scoped>
.spinner
  font-size 24px
for side in top bottom left right
  .margin-{side}
    margin-{side} 0.5em
</style>

<script>
export default {
  props: {
    margins: {
      type: Object,
      default: () => ({
        left: false,
        right: false,
        top: false,
        bottom: false
      })
    }
  }
}
</script>
