<template>
  <p class="text"><slot/></p>
</template>

<style scoped lang="stylus">
@import '~variables'
.text
  color #7C7C7C
  font-size 16px
  margin-bottom 7px
  margin-top -12px
</style>

<script>
export default {
  name: 'subtitle'
}
</script>
