<template>
  <div class="text-block" :class="{
    'major-block': importance === 'major',
    'minor-block': importance === 'minor',
    'v-padding'  : !padding.v,
    'h-padding'  : !padding.h
  }">
    <slot />
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
.text-block
  position relative
  margin 30px $page-padding 0
  padding-bottom 30px
  border-bottom 1px solid #e0e0e0
  font-size 1em
  font-weight 400
  :first-child
    margin-top 0
  :last-child
    margin-bottom 0
  >>> h1
    font-size 1.75em
    margin 0
    &.highlighted
      background none
      color $primary
      margin 0
  >>> p
    margin 1.25em 0
  >>> p.minor
    font-size 0.9em
  >>> p.heading
    font-size 16px
    font-weight 600
  >>> p.docked-bottom
    margin-bottom 0
  >>> p.minor-docked
    margin-top 0
    font-size 0.8em
    color $grey
  >>> ul
    li
      line-height 1.5
      margin-top 1em
    li:first-of-type
      margin-top 0
.text-block.h-padding
  margin-left 0
  margin-right 0
.text-block.v-padding
  margin-top 0
  padding-bottom 0
.major-block
  padding-bottom 2vw
  padding-top 30px
  margin-top 0
  h1
    font-size 36px
  p
    max-width 70%
.minor-block
  h1
    font-size 18px
    font-weight bold
</style>

<script>
export default {
  props: {
    importance: {
      // Options: 'major', 'minor'
      type: String,
      default: 'major'
    },
    padding: {
      type: Object,
      default: () => ({v: true, h: true})
    }
  }
}
</script>
