<template>
  <div class="tinted-inset">
    <slot />
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'

.tinted-inset
  position relative
  width 100%
  padding $page-content-padding-major-vertical $page-padding
  overflow auto
  background $light-grey
</style>
