<template>
  <h1><slot/></h1>
</template>

<style scoped lang="stylus">
@import '~variables'
h1
  font-weight bold
  font-size 36px
  line-height 48px
  color $primary
</style>

<script>
export default {
  name: 'title'
}
</script>
