<template>
  <div v-if="versionNumber" class="VersionNoBox">Version {{versionNumber}}</div>
</template>

<style scoped lang="stylus">
  .VersionNoBox
    display flex
    font-size 11px
    color rgba(255, 255, 255, 0.7)
    padding 6px
    justify-content center
</style>

<script>
export default {
  computed: {
    versionNumber () {
      return process.env.VERSION_NUMBER
    }
  }
}
</script>
