<template>
  <AuthorInfo
    :name="name"
    :avatar="avatar"
    :searchTerm="searchTerm"
  />
</template>

<script>
import { mapGetters } from 'vuex'

import { GET_AUTHOR_DATA } from 'store/authors/getter.types'
import AuthorInfo from 'components/pages/content-list/author-info'

export default {
  name: 'author-info-container',
  components: {
    AuthorInfo
  },
  props: {
    id: String,
    searchTerm: String
  },
  computed: {
    ...mapGetters({
      getAuthorData: GET_AUTHOR_DATA
    }),
    authorProfile () {
      return this.getAuthorData(this.id)
    },
    name () {
      return this.authorProfile && this.authorProfile.displayName
    },
    avatar () {
      return this.authorProfile && this.authorProfile.avatar
    }
  }
}
</script>
