<template>
  <div class="tab-container">
    <div class="tab-controller">
      <tab
        v-for="tab in tabs"
        :key="`tab-${tab.slot}`"
        :label="tab.label"
        :section="tab.slot"
        :selected="selected[tab.slot]"
        @selected="select(tab.slot)"
      ></tab>
    </div>
    <div
      class="tab-section"
      v-for="tab in tabs"
      :key="`section-${tab.slot}`"
      v-show="selected[tab.slot]"
    >
      <slot :name="tab.slot" />
    </div>
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
.tab-container
  position relative
  width 100%
  margin 0
  padding 0
  .tab-controller
    position relative
    width 100%
    padding $page-content-padding-major-vertical $page-margin-minor 0
  .tab-section
    position relative
</style>

<script>
import tab from 'components/ui/tabs/tab'
export default {
  props: {
    tabs: {
      type: Array,
      default: () => []
    }
  },
  components: {
    tab
  },
  data: () => {
    return {
      selected: {}
    }
  },
  created () {
    const selected = {}
    this.tabs.forEach((tab, n) => {
      selected[tab.slot] = n === 0
    })
    this.selected = { ...selected }
  },
  methods: {
    select (tab) {
      const currentSelected = Object.keys(this.selected).filter((key) => this.selected[key])
      this.$set(this.selected, currentSelected, false)
      this.$set(this.selected, tab, true)
    }
  }
}
</script>
