<template>
  <div class="tab" :class="{ 'selected': selected }" @click="select">
    <h1>{{ label }}</h1>
  </div>
</template>

<style lang="stylus" scoped>
@import '~variables'
.tab
  position relative
  width 268px
  padding 13px
  display inline-block
  background #E0E0E0
  margin-right 15px
  @media screen and (max-width $breakpoint-sm)
    display block
    width 100%
  h1
    font-size 20px
    font-weight normal
    text-align center
&.selected
  background $primary
  &:after
    top 100%
    left 50%
    border solid transparent
    content ""
    height 0
    width 0
    position absolute
    border-top-color $primary
    border-width 14px
    margin-left -14px
    @media screen and (max-width $breakpoint-sm)
      content none
  h1
    color #FEF0CA
&:not(.selected)
  cursor pointer
</style>
<script>
export default {
  props: {
    label: {
      type: String,
      default: 'Tab Label'
    },
    section: {
      type: String,
      default: undefined
    },
    selected: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    select () {
      this.$emit('selected', this.section)
    }
  }
}
</script>
